
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.mobile-app-banner {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ebebeb;
    overflow: hidden;
    display: none;
}
.mobile-app-banner .wrapper {
    padding: 35px 12px;
    position: relative;
}
.mobile-app-banner .wrapper .copy-column {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 57.1823%;
}
.ie7 .mobile-app-banner .wrapper .copy-column {
    width: 57.0823%;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper .copy-column {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.mobile-app-banner .wrapper .iphone {
    background: url("../images/iphone-in-hand.png") no-repeat scroll left top / cover transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 100%;
    position: absolute;
    text-shadow: none;
    top: 0;
    width: 534px;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper .iphone {
    display: none;
}
}
.mobile-app-banner .wrapper h2 {
    text-align: left;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper h2 {
    text-align: center;
}
}
.mobile-app-banner .wrapper p {
    color: #666;
    font-size: 16.1px;
    font-weight: 300;
    line-height: 25.2px;
    margin: 25px 0;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper p {
    text-align: center;
}
}
.mobile-app-banner .wrapper .download-button {
    padding-top: 10px;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper .download-button {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
}
}
.mobile-app-banner .wrapper form {
    float: left;
    margin-right: 6%;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper form {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.mobile-app-banner .wrapper form {
    display: none;
}
}
.mobile-app-banner .wrapper form .input-append input {
    max-width: 165px;
}
@media only screen and (max-width: 960px) {
.mobile-app-banner .wrapper form .input-append input {
    max-width: 125px;
}
}
@keyframes slide-bottom-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, -20px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-bottom-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, -20px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-up-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, 40px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-up-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, 40px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
body {
    background: none repeat scroll 0 0 #f9f9f9;
    overflow-x: hidden;
}
.page-title {
    line-height: 31px;
    margin: 30px 0;
    overflow: hidden;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.page-title {
    margin: 20.1px 0;
}
}
.page-title h1 {
    color: #434343;
    display: inline-block;
    font-size: 21.994px;
    font-weight: 400;
    margin-right: 14px;
}
.page-title .bttn {
    float: right;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 10px;
}
.ie7 .page-title .bttn {
    padding: 7px 10px;
}
.projects {
    animation: 0.5s ease 0.25s normal both 1 running slide-up-appear-animation;
    margin-right: -2%;
}
.projects::before, .projects::after {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 40px;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 31.3333%;
}
.projects .project:nth-child(n) {
    margin-right: 20px;
    width: 33.3333%;
}
.projects .project:nth-child(3n) {
    margin-right: -40px;
}
@media (max-width: 954px) {
.projects {
    margin-right: -2%;
}
.projects::before, .projects::after {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 20px;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 48%;
}
.projects .project:nth-child(n) {
    margin-right: 20px;
    width: 50%;
}
.projects .project:nth-child(2n) {
    margin-right: -20px;
}
}
@media (max-width: 644px) {
.projects {
    margin-right: -2%;
}
.projects::before, .projects::after {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 0;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 98%;
}
.projects .project:nth-child(n) {
    margin-right: 20px;
    width: 100%;
}
.projects .project:nth-child(n) {
    margin-right: 0;
}
}
.projects::before, .projects::after {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.modal-is-visible .projects {
}
.projects .project {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
    height: 460px;
    padding: 60px 20px 20px;
    position: relative;
    text-align: center;
    transition: all 0.25s ease 0s;
}
.ie7 .projects .project {
    padding-left: 0;
    padding-right: 0;
}
.projects .project .title {
    color: #434343;
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto 7px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.projects .project .title a {
    color: #434343;
}
.projects .project .title::before {
    background: url("../images/seekmi_icon.png") no-repeat scroll center center / cover transparent;
    border: 0 none;
    color: transparent;
    content: "";
    display: block;
    font: 0px/0 a;
    height: 30px;
    margin: 0 auto 7px;
    opacity: 0.3;
    text-shadow: none;
    width: 30px;
}
.projects .project .created-on {
    color: #8e8e8e;
    font-size: 13.3px;
    margin: 0 0 11.9px;
    position: relative;
}
.projects .project .change-status {
    color: #aeaeae;
    display: block;
    font-size: 13.3px;
    line-height: 13.3px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.25s ease 0s;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.projects .project .change-status {
    opacity: 1;
}
}
.projects .project .change-status:hover {
    color: #666;
}
.projects .project .introductions {
    border-top: 1px solid #d2d2d2;
    color: #666;
    display: inline-block;
    font-size: 11.9px;
    padding-top: 11.9px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.projects .project .footer {
    bottom: 0;
    left: 0;
    margin: 0 20px 20px;
    position: absolute;
    right: 0;
}
.projects .project .footer .pros {
    margin: 0 -15px 8.4px 0;
}
.projects .project .footer .pros .pro {
    background-clip: padding-box;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px 0 0;
    transition: all 0.2s ease 0s;
}
.projects .project .footer .pros .pro.new .tooltip-name {
    background-clip: padding-box;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #4092f1;
}
.projects .project .footer .pros .pro.cancelled {
    opacity: 0.25;
}
.projects .project .footer .pros .pro.cancelled:hover {
    opacity: 1;
}
.projects .project .footer .pros .pro a {
    background-clip: padding-box;
    background-color: #f9f9f9;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 38px;
    width: 38px;
}
.projects .project .footer .pros .pro a .unread-message-count {
    background: none repeat scroll 0 0 #ff4949;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10.56px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -7px;
    width: 16px;
}
.projects .project .footer .pros .pro a .complete {
    background: none repeat scroll 0 0 #11b30b;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 10.56px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    line-height: 17px;
    min-width: 1em;
    overflow: hidden;
    position: absolute;
    right: -7px;
    text-align: center;
    text-decoration: inherit;
    top: -7px;
    width: 16px;
}
.ie7 .projects .project .footer .pros .pro a .complete {
    display: none;
}
.ie7 .projects .project .footer .pros .pro a .complete {
    display: none;
}
.projects .project .footer .pros .pro a .complete::before {
    content: "";
    display: inline-block;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text {
    animation: 0.2s ease 0s normal none 1 running tooltip-placement-top;
    bottom: 100%;
    left: 50%;
    margin: 0 0 9px -17.75px;
    top: auto;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text::before {
    border-width: 0 1px 1px 0;
    bottom: auto;
    left: 10.75px;
    margin-top: -5px;
    top: 100%;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text {
    background: none repeat scroll 0 0 #434343;
    border-color: transparent;
    color: #fff;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text::before {
    background: none repeat scroll 0 0 #434343;
    border-color: transparent;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text {
    box-shadow: none;
}
.projects .project .footer .exposition {
    color: #8e8e8e;
}
.projects .project .footer .exposition h1 {
    line-height: 28px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h2 {
    line-height: 21px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h3 {
    line-height: 17.5px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h4 {
    line-height: 14px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h5 {
    line-height: 14px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition p {
    line-height: 21px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition ul {
    list-style-type: disc;
    margin: 0 0 14px;
    padding-left: 0.4em;
}
.projects .project .footer .exposition ul li {
    line-height: 21px;
    margin-left: 20px;
}
.projects .project .footer .exposition ol {
    list-style-type: decimal;
    margin: 0 0 14px;
    padding-left: 0.8em;
}
.projects .project .footer .exposition ol li {
    line-height: 21px;
    margin-left: 20px;
}
.projects .project .footer .exposition table {
    margin: 0 0 14px;
}
.projects .project .footer .exposition table td, .projects .project .footer .exposition table th {
    padding: 0 20px 5px 0;
}
.projects .project .footer .exposition pre {
    margin: 0 0 14px;
}
.projects .project .footer .exposition h4 {
    color: #434343;
    font-size: 16.8px;
    font-weight: 500;
    margin: 0 0 9.8px;
}
.projects .project .footer .exposition p {
    font-size: 13.3px;
    line-height: 16.8px;
}
.projects .project .footer .exposition *:last-child {
    margin-bottom: 0;
}
.projects .project:hover {
    border: 1px solid #aeaeae;
}
.projects .project:hover .change-status {
    opacity: 1;
}
.projects .project:hover .introductions {
    background-clip: padding-box;
    background-color: #4092f1;
    border-radius: 28px;
    border-top: 1px solid #fff;
    color: #fff;
    padding: 11.9px;
}
.projects .project.upsell {
    color: #fff;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.projects .project.upsell {
    height: auto;
    padding: 20px;
}
}
.projects .project.upsell .created-on, .projects .project.upsell .title, .projects .project.upsell .exposition {
    color: inherit;
}
.projects .project.upsell .title {
    text-shadow: none;
}
.projects .project.upsell .title::before {
    background: url("/media/primo/static/press/icon-tack-stamp-white.png") no-repeat scroll center center / cover transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 30px;
    opacity: 0.7;
    text-shadow: none;
    width: 30px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.projects .project.upsell .footer {
    margin: 0;
    position: static;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.projects .project.upsell .footer .exposition p {
    display: none;
}
}
.projects .project.upsell .footer .exposition .bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 10px;
    width: 100%;
}
.ie7 .projects .project.upsell .footer .exposition .bttn {
    padding-left: 0;
    padding-right: 0;
}
.ie7 .projects .project.upsell .footer .exposition .bttn {
    padding: 7px 10px;
}
.projects .project.upsell .footer .exposition .bttn:hover, .projects .project.upsell .footer .exposition .bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.projects .project.upsell .footer .exposition .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.projects .project.upsell .footer .exposition .bttn:active, .projects .project.upsell .footer .exposition .bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.projects .project.upsell .footer .exposition .bttn .caret {
    border-top-color: #fff;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.projects .project.upsell .footer .exposition .bttn {
    margin-top: 20px;
}
}
.projects .project.upsell.wedding {
    background: url("/media/primo/consumer-dashboard/upsells/wedding.jpg") repeat scroll 0 0 / cover #aeaeae;
}
.projects .project.upsell.home-improvement {
    background: url("/media/primo/consumer-dashboard/upsells/home-improvement.jpg") repeat scroll 0 0 / cover #aeaeae;
}
.projects .project.upsell.lessons {
    background: url("/media/primo/consumer-dashboard/upsells/lessons.jpg") repeat scroll 0 0 / cover #aeaeae;
}
.projects .project.upsell.events {
    background: url("/media/primo/consumer-dashboard/upsells/events.jpg") repeat scroll 0 0 / cover #aeaeae;
}
.projects .project.upsell.wellness {
    background: url("/media/primo/consumer-dashboard/upsells/wellness.jpg") repeat scroll 0 0 / cover #aeaeae;
}
.box-modal.box-youre-done {
    width: 600px;
}
.box-modal.box-youre-done .box-header {
    background-clip: padding-box;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 60px;
    text-align: center;
}
.box-modal.box-youre-done .box-header h1 {
    animation-delay: 0.5s;
    color: #fff;
    font-size: 33.6px;
    letter-spacing: 0;
    text-shadow: none;
}
.box-modal.box-youre-done .box-header h1::before {
    content: "";
    display: block;
    margin: 0 auto 22px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-header h1 {
    font-size: 25.2px;
}
}
.box-modal.box-youre-done .box-content {
    margin: 0 auto;
    max-width: 360px;
    padding-bottom: 45px;
    padding-top: 60px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content {
    padding-bottom: 30px;
}
}
.box-modal.box-youre-done .box-header {
    background: -moz-linear-gradient(center top , #63cb76, #50a67e) repeat scroll 0 0 #5ab97a;
}
.box-modal.box-youre-done .box-header-confirmation {
    background: -moz-linear-gradient(center top , #63cb76, #50a67e) repeat scroll 0 0 #5ab97a;
}
.box-modal.box-youre-done .box-header-confirmation h1::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -123px 0 transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 59px;
    text-shadow: none;
    width: 59px;
}
.box-modal.box-youre-done .box-header-confirmation-low-quotes {
    background: -moz-linear-gradient(center top , #9ca6b2, #606c7b) repeat scroll 0 0 #7e8996;
}
.box-modal.box-youre-done .box-header-confirmation-low-quotes h1::before {
    background: url("/media/primo/consumer-dashboard/icon_low_quotes.png") no-repeat scroll center center transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 62px;
    text-shadow: none;
    width: 62px;
}
.box-modal.box-youre-done .box-header-confirmation-not-sent {
    background: -moz-linear-gradient(center top , #9ca6b2, #606c7b) repeat scroll 0 0 #7e8996;
}
.box-modal.box-youre-done .box-header-confirmation-not-sent h1::before {
    background: url("/media/primo/consumer-dashboard/icon_request_not_sent.png") no-repeat scroll center center transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 62px;
    text-shadow: none;
    width: 62px;
}
.box-modal.box-youre-done .box-header-confirmation-update {
    background: -moz-linear-gradient(center top , #63cb76, #50a67e) repeat scroll 0 0 #5ab97a;
}
.box-modal.box-youre-done .box-header-confirmation-update h1::before {
    background: url("/media/primo/consumer-dashboard/icon_updating_request.png") no-repeat scroll center center transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 62px;
    text-shadow: none;
    width: 62px;
}
.box-modal.box-youre-done .box-header-introduction {
    background: -moz-linear-gradient(center top , #7db9ff, #4664b4) repeat scroll 0 0 #628fda;
}
.box-modal.box-youre-done .box-header-introduction h1::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 56px;
    text-shadow: none;
    width: 113px;
}
.box-modal.box-youre-done .box-header h1 {
    animation: 0.5s ease 0s normal both 1 running slide-bottom-appear-animation;
}
.box-modal.box-youre-done .box-content {
    text-align: center;
}
.box-modal.box-youre-done .box-content .sub-header {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 1s normal both 1 running fade-in;
    color: #434343;
    font-size: 16.8px;
    line-height: 23.8px;
    margin-bottom: 30px;
}
.box-modal.box-youre-done .box-content.box-content-confirmation .navigation, .box-modal.box-youre-done .box-content.box-content-confirmation .cancel-project, .box-modal.box-youre-done .box-content.box-content-confirmation .cancel-replace {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 1.5s normal both 1 running fade-in;
}
.box-modal.box-youre-done .box-content.box-content-confirmation-not-sent .sub-header, .box-modal.box-youre-done .box-content.box-content-confirmation-update .sub-header {
    text-align: left;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents {
    color: #8e8e8e;
    display: table;
    font-size: 11.2px;
    font-weight: 700;
    line-height: inherit;
    list-style: outside none none;
    margin: 30px auto 45px;
    padding: 0;
    table-layout: fixed;
    text-transform: uppercase;
    width: 100%;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents * {
    line-height: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents li {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 0s normal both 1 running fade-in;
    display: table-cell;
    margin-bottom: 30px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents li::before {
    content: "";
    display: block;
    margin: 0 auto 10px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote {
    animation-delay: 1.5s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -192px -11px transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message {
    animation-delay: 1.75s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -250px -11px transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews {
    animation-delay: 2s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -308px -11px transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile {
    animation-delay: 2.25s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -366px -11px transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact {
    animation-delay: 2.5s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -424px -11px transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .navigation, .box-modal.box-youre-done .box-content.box-content-introduction .cancel-project, .box-modal.box-youre-done .box-content.box-content-introduction .cancel-replace {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 3s normal both 1 running fade-in;
}
.box-modal.box-youre-done .box-content .navigation .bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}
.box-modal.box-youre-done .box-content .navigation .bttn:hover, .box-modal.box-youre-done .box-content .navigation .bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.box-modal.box-youre-done .box-content .navigation .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.box-modal.box-youre-done .box-content .navigation .bttn:active, .box-modal.box-youre-done .box-content .navigation .bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.box-modal.box-youre-done .box-content .navigation .bttn .caret {
    border-top-color: #fff;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content .navigation .bttn {
    display: block;
    width: 100%;
}
.ie7 .box-modal.box-youre-done .box-content .navigation .bttn {
    padding-left: 0;
    padding-right: 0;
}
}
.box-modal.box-youre-done .box-content .navigation a {
    display: inline-block;
    margin-top: 30px;
}
.mobile-app-banner ~ .piede {
    margin-top: 0;
}
.curtain-mobile-container .curtain-mobile-outer {
    max-width: 600px;
}
[ng-cloak] {
    display: none;
}
[faux-link] {
    cursor: pointer;
}
