
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.cta-banner {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px 0;
    position: relative;
}
.cta-banner .wrapper {
    box-sizing: border-box;
    padding-left: 85px;
}
.cta-banner .cta-banner-icon {
    background: url("../images/sprites_icons_large_4.png") no-repeat scroll -240px 0 rgba(0, 0, 0, 0);
    height: 50px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 60px;
}
.cta-banner .cta-banner-icon .seekmi-pts {
    font-weight: bold;
    padding: 5px 8px;
    position: absolute;
    right: 1px;
    top: 28px;
}
.cta-banner .star {
    color: #aeaeae;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    left: 0;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 60px;
}
.ie7 .cta-banner .star {
    display: none;
}
.ie7 .cta-banner .star {
    display: none;
}
.cta-banner .star::before {
    content: "";
    display: inline-block;
}
.cta-banner .star .seekmi-pts {
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    right: 1px;
    top: 42px;
}
.cta-banner .cta-banner-copy {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 74.3094%;
}
.ie7 .cta-banner .cta-banner-copy {
    width: 74.2094%;
}
.cta-banner .cta-banner-copy .cta-banner-title {
    font-weight: bold;
}
.cta-banner .cta-banner-copy .cta-banner-subtitle {
    padding-top: 5px;
}
@media only screen and (max-width: 600px) {
.cta-banner .cta-banner-copy {
    display: block;
    float: none;
    margin: 0 0 14px;
    width: 100%;
}
}
.cta-banner .cta-banner-button {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    padding-top: 20px;
    width: 22.9282%;
}
.ie7 .cta-banner .cta-banner-button {
    width: 22.8282%;
}
.cta-banner .cta-banner-button .bttn {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}
.ie7 .cta-banner .cta-banner-button .bttn {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 600px) {
.cta-banner .cta-banner-button {
    display: block;
    float: none;
    margin: 0;
    padding-top: 0;
    width: 100%;
}
}
.cta-banner.tips-banner {
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 30px 0;
    width: 100%;
}
.cta-banner.tips-banner .arrow {
    color: #8e8e8e;
    cursor: pointer;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    transition: color 0.5s ease 0s;
}
.cta-banner.tips-banner .arrow:hover {
    color: #666666;
}
.cta-banner.tips-banner .arrow.left-arrow {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .cta-banner.tips-banner .arrow.left-arrow {
    display: none;
}
.ie7 .cta-banner.tips-banner .arrow.left-arrow {
    display: none;
}
.cta-banner.tips-banner .arrow.left-arrow::before {
    content: "";
    display: inline-block;
}
.cta-banner.tips-banner .arrow.right-arrow {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    right: 0;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .cta-banner.tips-banner .arrow.right-arrow {
    display: none;
}
.ie7 .cta-banner.tips-banner .arrow.right-arrow {
    display: none;
}
.cta-banner.tips-banner .arrow.right-arrow::before {
    content: "";
    display: inline-block;
}
.cta-banner.tips-banner .arrow.left-arrow::before, .cta-banner.tips-banner .arrow.right-arrow::before {
    left: 0;
    margin-top: -19px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.cta-banner.tips-banner .tip-container {
    overflow: hidden;
    padding: 0;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: margin-left;
}
.cta-banner.tips-banner .tip-container .meat {
    float: left;
}
.cta-banner.tips-banner .tip-container .meat .mobile {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .mobile {
    display: inherit;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .not-mobile {
    display: none;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-header {
    color: #f47503;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}
.cta-banner.tips-banner .tip-container .meat .tip-header.done::before {
    background: url("/media/primo/profile/check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    position: relative;
    vertical-align: bottom;
    width: 22px;
}
.cta-banner.tips-banner .tip-container .meat .tip-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 35.994px;
    margin-bottom: 10px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-title {
    padding: 0 30px;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-text {
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    padding: 0 20px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-text {
    padding: 0 40px;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    clear: both;
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 14px;
    margin: 15px auto;
    padding: 9px 10px;
    width: 230px;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:hover, .cta-banner.tips-banner .tip-container .meat .tip-bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:active, .cta-banner.tips-banner .tip-container .meat .tip-bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn .caret {
    border-top-color: #ffffff;
}
.ie7 .cta-banner.tips-banner .tip-container .meat .tip-bttn {
    padding: 7px 10px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-bttn {
    width: 200px;
}
}
.cta-banner.tips-banner .circles {
    text-align: center;
}
.cta-banner.tips-banner .circles .circle {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    display: inline-block;
    font-size: 4.34px;
    height: 7px;
    line-height: 7px;
    margin: 0 3.5px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 7px;
}
.cta-banner.tips-banner .circles .circle.active {
    background-color: #aeaeae;
}
.wrapper.content {
    position: relative;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper.content {
    padding-top: 0;
}
}
.wrapper.content .manage-your-work-title {
    float: left;
    padding-bottom: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper.content .manage-your-work-title {
    float: none;
    padding-bottom: 10px;
}
}
.work-inbox {
    clear: left;
    margin-top: 30px;
    min-height: 745px;
    position: relative;
}
.work-inbox::before, .work-inbox::after {
    content: "";
    display: table;
}
.work-inbox::after {
    clear: both;
}
.work-inbox .paginator {
    float: right;
    padding: 20px 0;
}
.work-inbox .paginator .paginator-item.arrow {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox .paginator {
    text-align: center;
    width: 100%;
}
}
.work-inbox .paginator h4 {
    display: none;
}
.work-inbox .quote-status {
    position: absolute;
    right: 120px;
    text-align: right;
    top: 25px;
    z-index: 999;
}
.work-inbox ul {
    background: none repeat scroll 0 0 #ffffff;
}
.work-inbox ul li {
    border-top: 1px solid #e6e6e6;
    color: #8e8e8e;
    margin: -1px;
    padding: 14px 120px 14px 90px;
    position: relative;
    text-decoration: none;
}
.work-inbox ul li:last-of-type {
    border-bottom: 1px solid #e6e6e6;
}
.work-inbox ul li .work-type {
    background: url("../images/status-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #8e8e8e;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox ul li .work-type {
    top: 2px;
}
}
.work-inbox ul li .work-type.quote-new-msg-icon {
    background-position: 8px -150px;
}
.work-inbox ul li .work-type.quote-replied-msg-icon {
    background-position: -249px -208px;
}
.work-inbox ul li .work-type.quote-sent-icon {
    background-position: -7px -208px;
}
.work-inbox ul li .work-type.quote-viewed-icon {
    background-position: -77px -153px;
}
.work-inbox ul li .work-type.quote-not-sent-icon {
    background-position: -141px -298px;
}
.work-inbox ul li .work-type.quote-hired-icon {
    background-position: -238px -355px;
}
.work-inbox ul li .work-type.quote-cancelled-icon {
    background-position: -7px -298px;
}
.work-inbox ul li .work-type.lead-new-icon {
    background-position: -196px -298px;
    z-index: 999;
}
.work-inbox ul li .work-type.lead-old-icon {
    background-position: -248px -268px;
    z-index: 998;
}
.work-inbox ul li .work-type.lead-expired-icon {
    background-position: -248px -268px;
}
.work-inbox ul li .work-type p {
    bottom: 12px;
    font-size: 11.2px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.work-inbox ul li .auto-refunded-icon {
    background: url("/media/primo/pages/profile/work/status-sprite.png") no-repeat scroll -87px -311px rgba(0, 0, 0, 0);
    height: 38px;
    left: 34px;
    position: absolute;
    top: 0;
    width: 38px;
}
.work-inbox ul li h3 {
    padding-bottom: 4px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox ul li h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
}
.work-inbox ul li .buyer-name {
    color: #666666;
}
.work-inbox ul li .details {
    color: #8e8e8e;
    margin-bottom: 5px;
}
.work-inbox ul li .message-preview {
    color: #aeaeae;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox ul li .message-preview {
    width: 200px;
}
}
.work-inbox ul li:hover {
    background: none repeat scroll 0 0 #f9f9f9;
}
.work-inbox ul li:hover .message-preview {
    white-space: normal;
}
.work-inbox ul li .tooltip {
    color: #aeaeae;
    position: absolute;
    right: 120px;
    top: 18px;
}
.work-inbox ul li .tooltip.refunded {
    color: #11b30b;
    font-weight: bold;
}
.work-inbox ul li .timeago {
    border-bottom: medium none !important;
    color: #aeaeae;
    font-size: 12.6px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 18px;
    width: 95px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox ul li .timeago {
    position: absolute;
    top: 15px;
}
}
.work-inbox ul li .action-archive, .work-inbox ul li .action-decline {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 38px;
}
.work-inbox ul li .action-archive-done {
    color: #666666;
}
.work-inbox ul li.unread .buyer-name {
    color: #000000;
    font-weight: bold;
}
.work-inbox ul li.unread .details {
    color: #666666;
    font-weight: 600;
}
.status-closable .status-close {
    height: 30px;
    margin-top: -5px;
    width: 30px !important;
}
.empty-state {
    clear: both;
    color: #d2d2d2;
    font-size: 21px;
    padding-top: 120px;
    text-align: center;
}
.empty-state .icon-font {
    color: #dfdfdf;
    font-size: 35px;
    padding-bottom: 20px;
}
.bttn.tiny.filter-button {
    margin: 2px 0 10px 20px;
    padding: 8px 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.bttn.tiny.filter-button {
    position: absolute;
    right: 10px;
    top: 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.piede {
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.work-inbox .quote-status {
    display: none;
}
.work-inbox ul li .tooltip {
    display: none;
}
.work-inbox ul li .timeago {
    position: absolute;
    top: 15px !important;
}
.paginator-item.arrow.forward, .paginator-item.arrow .fast-forward, .paginator-item.arrow .reverse, .paginator-item.arrow .fast-reverse {
    display: none;
}
}


.work-inbox ul li .work-type.lead-plus-icon {
    background-position: -142px -355px;
    z-index: 999;
}
