
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
body {
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
body.discounted-quote-packs-for-new-pros {
    background-color: #f9f9f9;
}
body.discounted-quote-packs-for-new-pros .wrapper.content {
    padding: 0;
}
}
.breadcrumb-container, .paypal-button, .credit-card-icons {
    background: url("../images/payment-form-sprite-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.wrapper-12 {
    position: relative;
    width: 500px;
}
.credit-pack-intro {
    padding-top: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-pack-intro {
    padding-top: 0;
}
}
.credit-pack-intro h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 35.994px;
    margin: 0 0 40px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-pack-intro h1 {
    font-size: 21.994px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 29.988px;
    margin-bottom: 20px;
}
}
.credit-pack-intro img {
    display: block;
    height: auto !important;
    margin: 0 auto 14px;
    max-width: 90%;
    min-width: 0;
    width: 100% !important;
}
.credit-pack-intro .caption {
    color: #8e8e8e;
    font-style: italic;
    margin: 0 0 28px;
    padding: 0 14px;
    text-align: center;
}
.credit-pack-intro h2 {
    color: #666666;
    display: none;
    font-size: 10.99px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
    text-transform: uppercase;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-pack-intro h2 {
    display: block;
}
}
.credit-pack-intro .info {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px solid #d2d2d2;
    margin-bottom: 40px;
    padding: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-pack-intro .info {
    border-bottom: 1px solid #d2d2d2;
}
}
.credit-pack-intro .info .cost {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: right;
}
.credit-pack-intro .info .cost .credits {
    float: left;
    font-size: 21.994px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 20px;
}
.credit-pack-intro .info .cost del {
    color: #aeaeae;
    text-decoration: line-through;
}
.credit-pack-intro .info .cost .price {
    font-size: 17.99px;
}
.credit-pack-intro .info .cost .discount {
    background: none repeat scroll 0 0 #11b30b;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 11.2px;
    line-height: 20px;
    padding: 0 5px;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.credit-pack-intro ul li {
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.credit-pack-intro ul li::before {
    color: #11b30b;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .credit-pack-intro ul li::before {
    display: none;
}
.ie7 .credit-pack-intro ul li::before {
    display: none;
}
.credit-pack-intro ul .see-details {
    color: #87bbf6;
}
.credit-pack-intro h4 {
    color: #666666;
    display: none;
    font-size: 10.99px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
    text-transform: uppercase;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-pack-intro h4 {
    display: block;
}
}
.breadcrumb-container {
    background-position: -120px -36px;
    height: 52px;
    margin: 0 auto 20px;
    width: 306px;
}
.payment-title-container {
    text-align: center;
}
.payment-title-container h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 5px;
    text-shadow: none;
}
.primo-avenir .payment-title-container h2 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.payment-title-container p {
    color: #aeaeae;
    margin-bottom: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.discounted-quote-packs-for-new-pros .payment-title-container {
    padding: 0 12px;
}
}
.notification {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
}
.box-payment-form {
    background: none repeat scroll 0 0 padding-box #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 1px 1px #c8c8c8;
    box-sizing: border-box;
    padding: 35px 35px 20px;
}
.ie7 .box-payment-form, .ie8 .box-payment-form {
    border: 1px solid #dfdfdf;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-payment-form {
    padding: 20px;
}
.discounted-quote-packs-for-new-pros .box-payment-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: padding-box;
    border-color: #d2d2d2 -moz-use-text-color;
    border-image: none;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-style: solid none;
    border-width: 1px medium;
    box-shadow: none;
    padding: 0 20px;
}
}
.box-payment-form .credit-card-title {
    padding: 0;
}
.box-payment-form .credit-card-title .lock-icon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #d2d2d2;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    position: absolute;
    right: 0;
    text-align: right;
    text-decoration: inherit;
    top: 0;
}
.ie7 .box-payment-form .credit-card-title .lock-icon {
    display: none;
}
.ie7 .box-payment-form .credit-card-title .lock-icon {
    display: none;
}
.box-payment-form .credit-card-title .lock-icon::before {
    content: "";
    display: inline-block;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-payment-form .credit-card-title .lock-icon {
    display: none;
}
}
.box-payment-form.payment-chooser .box-header.primary-title {
    padding: 0;
}
.box-payment-form.payment-chooser .box-header.primary-title .lock-icon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #d2d2d2;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    position: absolute;
    right: 0;
    text-align: right;
    text-decoration: inherit;
    top: 0;
}
.ie7 .box-payment-form.payment-chooser .box-header.primary-title .lock-icon {
    display: none;
}
.ie7 .box-payment-form.payment-chooser .box-header.primary-title .lock-icon {
    display: none;
}
.box-payment-form.payment-chooser .box-header.primary-title .lock-icon::before {
    content: "";
    display: inline-block;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-payment-form.payment-chooser .box-header.primary-title .lock-icon {
    display: none;
}
}
.box-payment-form.payment-chooser .box-header.secondary-title {
    border-top: 0 none;
    padding: 20px 0 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.discounted-quote-packs-for-new-pros .box-payment-form.payment-chooser h2 {
    display: none;
}
}
.box-payment-form .box-header.primary-title {
    padding: 20px 30px 14px;
}
.box-payment-form .box-header .paypal-button {
    background-position: 0 0;
    border: 0 none;
    display: block;
    float: right;
    height: 35px;
    margin-top: -30px;
    width: 165px;
}
.box-payment-form .box-or {
    border-top: 1px solid #d2d2d2;
    font-size: 9.1px;
    letter-spacing: 0.05em;
    margin-top: 30px;
    text-transform: uppercase;
}
.box-payment-form .box-or span {
    background: none repeat scroll 0 0 #ffffff;
    color: #aeaeae;
    display: block;
    font-size: 1.2em;
    font-weight: 800;
    margin-left: 25px;
    margin-top: -1em;
    padding: 4px;
    text-align: center;
    width: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.discounted-quote-packs-for-new-pros .box-payment-form .box-or {
    border: medium none;
    margin: 0;
    text-align: center;
}
.discounted-quote-packs-for-new-pros .box-payment-form .box-or span {
    display: inline-block;
    margin: 0;
}
}
.box-payment-form .box-content {
    padding: 0;
}
.box-payment-form .box-content .credit-card-container {
    height: 42px;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 59px;
}
.box-payment-form .box-content .credit-card-container .credit-card-icons {
    height: 29px;
    margin: 7px auto 0;
    width: 43px;
}
.box-payment-form .box-content .credit-card-container .credit-card-icons.visa {
    background-position: -2px -35px;
}
.box-payment-form .box-content .credit-card-container .credit-card-icons.amex {
    background-position: -2px -64px;
}
.box-payment-form .box-content .credit-card-container .credit-card-icons.mastercard {
    background-position: -45px -64px;
}
.box-payment-form .box-content .credit-card-container .credit-card-icons.discover {
    background-position: -45px -35px;
}
.box-payment-form .box-content .card-onfile-container {
    background: none repeat scroll 0 0 padding-box #f3f3f3;
    border-radius: 4px;
    text-align: center;
}
.box-payment-form .box-content .card-onfile-container p.card-onfile {
    padding: 12px 15px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-payment-form .box-content .card-onfile-container p.card-onfile span.expires {
    display: inline-block;
}
}
.box-payment-form .box-content p.change-payement-method {
    color: #4092f1;
    cursor: pointer;
    margin-top: 6px;
    text-transform: capitalize;
}
.box-payment-form .box-content p.change-payement-method:hover {
    color: #70adf4;
}
.box-payment-form .box-content .bttn {
    margin-top: 20px;
}
.box-payment-form .box-content .save-for-next-time {
    color: #8e8e8e;
}
.credit-from-balance .box-header h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30.8px;
    font-weight: 200;
    text-align: center;
    text-shadow: none;
}
.primo-avenir .credit-from-balance .box-header h2 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.credit-from-balance .box-content .bttn {
    font-size: 18.2px;
    line-height: 28px;
}
.body-text {
    margin: 0 auto 30px;
    text-align: center;
}
.body-text ul {
    line-height: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.body-text ul * {
    line-height: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.body-text ul li {
    line-height: 16.8px;
    margin: 0;
    padding: 10px 0;
}
.body-text ul li strong {
    background: none repeat scroll 0 0 #f9f9f9;
    display: block;
    float: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}
.body-text ul li strong::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .body-text ul li strong::before {
    display: none;
}
.ie7 .body-text ul li strong::before {
    display: none;
}
.alternate-payment {
    margin-bottom: 30px;
    text-align: center;
}
.payment-footer {
    text-align: center;
}
.payment-footer .contact-support {
    border-top: 1px solid #d2d2d2;
    color: #aeaeae;
    margin-bottom: 2em;
    padding-top: 30px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em), only screen and (max-width: 960px) {
.discounted-quote-packs-for-new-pros .payment-footer .contact-support {
    border-top: medium none;
    padding-top: 10px;
}
}
.payment-footer .contact-support h4.body-text {
    color: #aeaeae;
    font-size: 16.8px;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.discounted-quote-packs-for-new-pros .payment-footer .contact-support h4.body-text {
    color: #666666;
    font-size: 10.99px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
}
}
.payment-footer .contact-support li {
    color: #aeaeae;
    line-height: 21px;
    margin-bottom: 0.5em;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.discounted-quote-packs-for-new-pros .payment-footer .contact-support li {
    color: #8e8e8e;
    padding-left: 20px;
    text-align: left;
}
}
.payment-footer .contact-support li a {
    color: #8e8e8e;
    text-decoration: none;
}
.payment-footer .contact-support li a:hover {
    color: #666666;
}
.payment-footer .contact-support li.phone-closed .phone {
    color: #aeaeae;
}
.payment-footer .contact-support li .hours {
    display: block;
}
.payment-footer .contact-support li .icon {
    vertical-align: middle;
}
.payment-footer .secure-badge {
    background: url("../images/payment-form-sprite-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 44px;
    margin-right: 40px;
    width: 118px;
}
.payment-footer .secure-badge.norton {
    background-position: 0 -92px;
    width: 82px;
}
.payment-footer .secure-badge.braintree {
    background-position: -120px -92px;
    width: 100px;
}
.payment-footer .secure-badge.paypal {
    background-position: -265px -92px;
    margin-right: 0;
    width: 96px;
}
.footer .footer-copyright .copyright {
    float: none;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.breadcrumb-container {
    display: none;
}
fieldset .form-field.form-field-column-2.spacer {
    display: none;
}
fieldset .form-field.form-field-column-3.expiration {
    width: 50%;
}
fieldset .form-field.form-field-column-4.cvc {
    clear: left;
    width: 50%;
}
.box-payment-form .box-header .paypal-button {
    float: none;
    margin-left: -5px;
    margin-top: 10px;
}
.discounted-quote-packs-for-new-pros .box-payment-form .box-header .paypal-button {
    background: url("../images/pay-with-paypal.png") no-repeat scroll center center padding-box #ffb640;
    border-radius: 4px;
    font-size: 18px;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 9px 20px;
    width: 100%;
}
.ie7 .discounted-quote-packs-for-new-pros .box-payment-form .box-header .paypal-button {
    line-height: 18px;
    padding: 7px 20px;
}
.box-payment-form .box-content .cvc-code {
    display: none;
}
.box-payment-form .box-content .bttn {
    width: 100%;
}
.box .box-header h2 {
    letter-spacing: -0.05em;
}
.payment-footer .secure-badge {
    margin-right: 10px;
}
}
