
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
html {
    background-color: #1a1a1a;
    overflow-y: scroll;
	overflow-x: hidden;
}

.mainimage{
	background: url("../images/handyman.jpg");
	}
html.default {
    background: url("../images/handyman.jpg") no-repeat fixed center center / cover #1a1a1a!important;

}

html.accounting {
    background: url("/media/primo/welcome/business-writing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.act-tutoring {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.air-conditioning-and-cooling {
    background: url("/media/primo/welcome/air-conditioning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.algebra-tutoring {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.audio-recording {
    background: url("/media/primo/welcome/singing-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.balloon-artistry {
    background: url("/media/primo/welcome/balloon-art.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.band-entertainment {
    background: url("/media/primo/welcome/event-entertainment.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.bartending {
    background: url("/media/primo/welcome/bartending.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.business-consulting {
    background: url("/media/primo/welcome/business-typing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.carpet-cleaning {
    background: url("/media/primo/welcome/carpet-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.carpet-installation-or-replacement {
    background: url("/media/primo/welcome/carpet-installation.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.catering {
    background: url("/media/primo/welcome/catering.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.cleaning-out {
    background: url("/media/primo/welcome/junk-removal.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.commercial-cleaning {
    background: url("/media/primo/welcome/carpet-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.computer-repair {
    background: url("/media/primo/welcome/computer-repair.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.concrete-installation {
    background: url("/media/primo/welcome/concrete-services.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.cooking-lessons {
    background: url("/media/primo/welcome/cooking-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.cpr-training {
    background: url("/media/primo/welcome/cpr-training.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.dance-lessons {
    background: url("/media/primo/welcome/dance-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.data-recovery-service {
    background: url("/media/primo/welcome/computer-repair.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.dj {
    background: url("/media/primo/welcome/dj.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.dog-training {
    background: url("/media/primo/welcome/pet-training.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.dog-walking {
    background: url("/media/primo/welcome/pet-training.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.electrical {
    background: url("/media/primo/welcome/electrical.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.engagement-photography {
    background: url("/media/primo/welcome/wedding-photography.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.english-lessons {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.event-florist {
    background: url("/media/primo/welcome/florist.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.event-hair-and-makeup {
    background: url("/media/primo/welcome/makeup-artist.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.event-makeup {
    background: url("/media/primo/welcome/makeup-artist.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.events {
    background: url("/media/primo/welcome/events.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.exterior-painting {
    background: url("/media/primo/welcome/painting.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.face-painting {
    background: url("/media/primo/welcome/face-painting.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.fence-installation {
    background: url("/media/primo/welcome/fence.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.flooring {
    background: url("/media/primo/welcome/house-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.florist {
    background: url("/media/primo/welcome/florist.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.food-truck-or-cart-services {
    background: url("/media/primo/welcome/hot-dogs.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.french-lessons {
    background: url("/media/primo/welcome/language-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.furniture-refinishing {
    background: url("/media/primo/welcome/cabinetry.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.general-carpentry {
    background: url("/media/primo/welcome/handyman.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.general-contracting {
    background: url("/media/primo/welcome/deck-installation.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.graphic-design {
    background: url("/media/primo/welcome/graphic-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.guitar-lessons {
    background: url("/media/primo/welcome/music-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.gutter-cleaning {
    background: url("/media/primo/welcome/gutter-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.handyman {
    background: url("/media/primo/welcome/handyman.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.horseback-riding-lessons {
    background: url("/media/primo/welcome/horses.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.house-cleaning {
    background: url("/media/primo/welcome/house-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.hr-and-payroll-services {
    background: url("/media/primo/welcome/business-typing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.interior-design {
    background: url("/media/primo/welcome/interior-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.interior-painting {
    background: url("/media/primo/welcome/painting.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.junk-removal {
    background: url("/media/primo/welcome/junk-removal.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.karaoke-machine-rental {
    background: url("/media/primo/welcome/karaoke.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.landscaping {
    background: url("/media/primo/welcome/landscaping.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.lawn-mowing-and-lawncare {
    background: url("/media/primo/welcome/lawncare.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.local-moving--under-50-miles- {
    background: url("/media/primo/welcome/moving.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.logo-design {
    background: url("/media/primo/welcome/graphic-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.long-distance-moving {
    background: url("/media/primo/welcome/moving.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.magician {
    background: url("/media/primo/welcome/magician.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.marketing {
    background: url("/media/primo/welcome/business-typing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.massage-therapy {
    background: url("/media/primo/welcome/massage-therapy.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.math-tutoring {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.moon-bounce-rental-services {
    background: url("/media/primo/welcome/moon-bounce-rental.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.multi-subject-tutoring {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.nutritionist {
    background: url("/media/primo/welcome/nutritionist.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.party-bus-rental {
    background: url("/media/primo/welcome/party-bus.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.party-planning {
    background: url("/media/primo/welcome/party-rental-supplies.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.party-rental-supplies {
    background: url("/media/primo/welcome/party-rental-supplies.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.pastry-chef-services {
    background: url("/media/primo/welcome/pastry-chef.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.personal-training {
    background: url("/media/primo/welcome/personal-training.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.pest-control-services {
    background: url("/media/primo/welcome/pest-control.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.pet-sitting {
    background: url("/media/primo/welcome/pet-training.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.phone-or-tablet-repair {
    background: url("/media/primo/welcome/phone-repair.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.photo-booth-rental {
    background: url("/media/primo/welcome/photo-booth-rental.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.piano-lessons {
    background: url("/media/primo/welcome/piano-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.plumbing {
    background: url("/media/primo/welcome/plumbing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.power-washing {
    background: url("/media/primo/welcome/power-washing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.print-design {
    background: url("/media/primo/welcome/graphic-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.reading-and-writing-tutoring {
    background: url("/media/primo/welcome/language-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.real-estate-inspection {
    background: url("/media/primo/welcome/inspector.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.roof-cleaning {
    background: url("/media/primo/welcome/gutter-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.roof-installation-or-replacement {
    background: url("/media/primo/welcome/roof-installation.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.sat-tutoring {
    background: url("/media/primo/welcome/math-tutoring.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.security-guard-services {
    background: url("/media/primo/welcome/security-guard-services.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.singing-lessons {
    background: url("/media/primo/welcome/singing-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.social-media-marketing {
    background: url("/media/primo/welcome/business-home.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.spanish-lessons {
    background: url("/media/primo/welcome/language-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.steam-cleaning {
    background: url("/media/primo/welcome/upholstery-and-furniture-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.swimming-lessons {
    background: url("/media/primo/welcome/swimming-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.tax-preparation {
    background: url("/media/primo/welcome/business-writing.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.tennis-instruction {
    background: url("/media/primo/welcome/tennis-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.therapy {
    background: url("/media/primo/welcome/therapy.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.tree-and-shrub-planting--maintenance--or-removal {
    background: url("/media/primo/welcome/lawncare.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.upholstery-and-furniture-cleaning {
    background: url("/media/primo/welcome/upholstery-and-furniture-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.web-design {
    background: url("/media/primo/welcome/graphic-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.web-development {
    background: url("/media/primo/welcome/graphic-design.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.wedding-cakes {
    background: url("/media/primo/welcome/pastry-chef.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.wedding-officiant {
    background: url("/media/primo/welcome/wedding-photography.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.wedding-photography {
    background: url("/media/primo/welcome/wedding-photography.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.window-cleaning {
    background: url("/media/primo/welcome/window-cleaning.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html.yoga-lessons {
    background: url("/media/primo/welcome/yoga-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
html body {
    background: none repeat scroll 0 0 rgba(41, 41, 41, 0.9);
}
.header {
    margin: 50px auto 37.5px;
}
.header::before, .header::after {
    content: "";
    display: table;
}
.header::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.header {
    margin: 25px auto;
}
}
.header .logo {
    display: block;
    margin: 0 auto;
     width: 250px !important;
}
.header .logo img {
    display: block;
    width: 100%;
}
.header .navigation {
    display: none;
}
.wrapper, .row {
    max-width: 780px;
}
.wrapper .header-copy, .row .header-copy {
    color: #fff;
    display: block;
    font-size: 30.8px;
    font-weight: 100;
    padding: 0 12% 30px;
    text-align: center;
    text-shadow: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .header-copy, .row .header-copy {
    font-size: 21px;
    padding: 0 0 30px;
}
}
.wrapper .box .box-header, .row .box .box-header, .wrapper .box .box-content, .row .box .box-content, .wrapper .box .box-footer, .row .box .box-footer {
    padding-left: 50px;
    padding-right: 50px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box .box-header, .row .box .box-header, .wrapper .box .box-content, .row .box .box-content, .wrapper .box .box-footer, .row .box .box-footer {
    padding-left: 30px;
    padding-right: 30px;
}
}
.wrapper .box h2, .row .box h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-bottom: 2px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box h2, .row .box h2 {
    font-size: 21px;
}
}
.wrapper .box h3, .row .box h3 {
    color: #8e8e8e;
    margin: 5px 0 30px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box h3, .row .box h3 {
    font-size: 14px;
}
}
.wrapper .box .box-header, .row .box .box-header {
    padding-top: 25px;
}
.wrapper .box .box-footer, .row .box .box-footer {
    padding-bottom: 25px;
    padding-top: 25px;
}
.wrapper .box .box-footer .bttn, .row .box .box-footer .bttn {
	background:-webkit-linear-gradient(top,  #4092f1 0%,#2d87f0 100%);
	 background: webkit-linear-gradient(#4092f1, #2d87f0);
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #fff;
    float: right;
    font-size: 18px;
    margin-right: 0;
    padding: 12px 20px;
}
.wrapper .box .box-footer .bttn:hover, .row .box .box-footer .bttn:hover, .wrapper .box .box-footer .bttn.bttn-hover, .row .box .box-footer .bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.wrapper .box .box-footer .bttn:focus, .row .box .box-footer .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.wrapper .box .box-footer .bttn:active, .row .box .box-footer .bttn:active, .wrapper .box .box-footer .bttn.bttn-active, .row .box .box-footer .bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.wrapper .box .box-footer .bttn .caret, .row .box .box-footer .bttn .caret {
    border-top-color: #fff;
}
.ie7 .wrapper .box .box-footer .bttn, .ie7 .row .box .box-footer .bttn {
    line-height: 18px;
    padding: 7px 20px;
}
.wrapper .reasons, .row .reasons {
    color: #fff;
    padding: 25px 30px;
}
.wrapper .reasons::before, .row .reasons::before, .wrapper .reasons::after, .row .reasons::after {
    content: "";
    display: table;
}
.wrapper .reasons::after, .row .reasons::after {
    clear: both;
}
.wrapper .reasons h4, .row .reasons h4 {
    color: #fff;
    font-size: 15.4px;
    font-weight: 200;
    margin-top: 5px;
    padding: 0 14px 0 65px;
}
.wrapper .reasons li, .row .reasons li {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 31.4917%;
}
.ie7 .wrapper .reasons li, .ie7 .row .reasons li {
    width: 31.3917%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .reasons li, .row .reasons li {
    display: block;
    float: none;
    margin: 0;
    min-height: 50px;
    width: 100%;
}
}
.wrapper .reasons li.clients, .row .reasons li.clients {
    margin-left: 0;
}
.wrapper .reasons li.clients::before, .row .reasons li.clients::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.clients::before, .ie7 .row .reasons li.clients::before {
    display: none;
}
.ie7 .wrapper .reasons li.clients::before, .ie7 .row .reasons li.clients::before {
    display: none;
}
.ie8 .wrapper .reasons li.clients::before, .ie8 .row .reasons li.clients::before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #f47503;
}
.wrapper .reasons li.control-requests::before, .row .reasons li.control-requests::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.control-requests::before, .ie7 .row .reasons li.control-requests::before {
    display: none;
}
.ie7 .wrapper .reasons li.control-requests::before, .ie7 .row .reasons li.control-requests::before {
    display: none;
}
.ie8 .wrapper .reasons li.control-requests::before, .ie8 .row .reasons li.control-requests::before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #f47503;
}
.wrapper .reasons li.leads::before, .row .reasons li.leads::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.leads::before, .ie7 .row .reasons li.leads::before {
    display: none;
}
.ie7 .wrapper .reasons li.leads::before, .ie7 .row .reasons li.leads::before {
    display: none;
}
.ie8 .wrapper .reasons li.leads::before, .ie8 .row .reasons li.leads::before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #f47503;
}
.ie7 .wrapper .reasons li, .ie7 .row .reasons li {
    padding-left: 0;
}
.primo-fluid .wrapper {
    max-width: 780px;
}
.primo-fluid.landing-page {
	background: url("../images/handyman.jpg");
   /* background: none repeat scroll 0 0 transparent;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.primo-avenir .primo-fluid.landing-page {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.primo-fluid.landing-page .slide {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 3s ease 0s;
    z-index: -2;
}
.primo-fluid.landing-page .slide.current {
    opacity: 1;
}
.primo-fluid.landing-page .slide.slide-0 {
    background: url("/media/primo/welcome/handyman.jpg") no-repeat fixed center center / cover #1a1a1a;
    z-index: -1;
}
.primo-fluid.landing-page .slide.slide-1 {
    background: url("/media/primo/welcome/wedding-photography.jpg") no-repeat fixed center center / cover #1a1a1a;
}
.primo-fluid.landing-page .slide.slide-2 {
    background: url("/media/primo/welcome/music-lessons.jpg") no-repeat fixed center center / cover #1a1a1a;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .slide {
    display: none;
}
}
.ie7 .primo-fluid.landing-page .slide {
    display: none;
}
.primo-fluid.landing-page .wrapper, .primo-fluid.landing-page .row {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    position: static;
    width: auto;
}
.primo-fluid.landing-page .wrapper.content {
    color: #fff;
    margin: 0;
    min-height: 0;
}
.primo-fluid.landing-page .header {
    margin: 50px 50px 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header {
    margin: 30px 40px 0;
}
}
.primo-fluid.landing-page .header .logo {
    float: left;
}
.primo-fluid.landing-page .header .logo img {
    width: 184px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .header .logo img {
    width: 140px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header .logo img {
    width: 130px;
}
}
.primo-fluid.landing-page .header .navigation {
    display: block;
    float: right;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header .navigation {
    display: none;
}
}
.primo-fluid.landing-page .header .navigation a {
    color: #fff;
    font-size: 16.8px;
    font-weight: 500;
    padding: 9px 10px;
}
.primo-fluid.landing-page .header .navigation a:hover {
    color: #d2d2d2;
}
.primo-fluid.landing-page .debug {
    display: none;
}
.primo-fluid.landing-page .hook {
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    top: 25%;
    width: 100%;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook {
    padding: 0 40px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook {
    top: 12%;
}
}
.primo-fluid.landing-page .hook form {
    margin: 0 auto;
    max-width: 650px;
    padding: 0 120px 0 20px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form {
    padding: 0;
}
}
.primo-fluid.landing-page .hook form h1 {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 0 0 33.6px;
    position: relative;
    text-shadow: none;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form h1 {
    font-size: 42px;
    line-height: 42px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form h1 {
    font-size: 25.2px;
    line-height: 25.2px;
    margin-bottom: 20px;
}
}
.primo-fluid.landing-page .hook form h1 .has-custom-entry-point {
    font-size: 62%;
    font-weight: 500;
    line-height: 1;
}
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 18.2px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4.9px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 16.8px;
    line-height: 22.4px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 14px;
    line-height: 19.6px;
}
}
.primo-fluid.landing-page .hook form fieldset {
    margin-bottom: 14px;
}
.primo-fluid.landing-page .hook form label {
    font-size: 19.6px;
}
.primo-fluid.landing-page .hook form .form-field-category {
    clear: none;
    float: left;
    width: 70%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-category {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-category.valid::after, .primo-fluid.landing-page .hook form .form-field-category.invalid::after {
    display: none;
}
.primo-fluid.landing-page .hook form .form-field-category .subtext-form-invalid {
    background: none repeat scroll 0 0 padding-box #d51818;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 3px;
}
.primo-fluid.landing-page .hook form .form-field-category select {
    box-shadow: none;
    color: #8e8e8e;
    font-size: 22.4px;
    height: 51.8px;
    margin: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-category select {
    font-size: 16.8px;
    margin: 0;
}
}
.primo-fluid.landing-page .hook form .form-field-nav {
    clear: none;
    float: left;
    width: 30%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-nav.has-custom-entry-point {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav.has-custom-entry-point {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #fff;
    display: block;
    font-size: 19.6px;
    height: 51.8px;
    line-height: 51.8px;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
    width: 100%;
}
.ie7 .primo-fluid.landing-page .hook form .form-field-nav .bttn {
    padding-left: 0;
    padding-right: 0;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:hover, .primo-fluid.landing-page .hook form .form-field-nav .bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:active, .primo-fluid.landing-page .hook form .form-field-nav .bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn .caret {
    border-top-color: #fff;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav .bttn {
    font-size: 16.8px;
    margin-top: 0;
}
}
.primo-fluid.landing-page .hook form .how-it-works {
    color: #87bbf6;
    font-size: 18.2px;
    line-height: 46.2px;
}
.primo-fluid.landing-page .hook form p {
    font-size: 12.6px;
    line-height: 21px;
    margin: 0 0 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form p {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 0;
}
}
.primo-fluid.landing-page .hook form p.nevermind {
    color: #f9f9f9;
    font-style: italic;
    margin-top: -17.5px;
}
.primo-fluid.landing-page .hook form p.nevermind a {
    color: #87bbf6;
}
.primo .subtext-form > span {
    display: block;
    margin-top: 3px;
}
.primo .subtext-form > span:first-child {
    margin-top: 0;
}
.primo .form-field-nav .back {
    float: left;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 0;
}
.primo .form-field-nav .nav-container {
}
.primo .form-field-nav .nav-container::before, .primo .form-field-nav .nav-container::after {
    content: "";
    display: table;
}
.primo .form-field-nav .nav-container::after {
    clear: both;
}
.primo .form-field-nav .conditions {
    clear: both;
    margin-top: 14px;
}
.primo .form-field-nav .conditions > p {
    color: #8e8e8e;
    font-size: 12.6px;
    line-height: 1.3;
    margin-top: 11.2px;
}
.primo .address .form-field-address-1 {
    clear: none;
    float: left;
    width: 66.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-address-1 {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-address-2 {
    clear: none;
    float: left;
    width: 33.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-address-2 {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-city {
    clear: none;
    float: left;
    width: 58.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-city {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-state {
    clear: none;
    float: left;
    width: 16.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-state {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-zip {
    clear: none;
    float: left;
    width: 25%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-zip {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .profile .form-field-description-example {
    clear: none;
    color: #8e8e8e;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .profile .form-field-description-example {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .profile .form-field-description-example > p {
    background: none repeat scroll 0 0 #f0fbfc;
    color: #787878;
    line-height: 1.6;
    margin: 7px 0 0 5px;
    padding: 20px;
}
.primo .account .form-field-name-segment {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-name-segment {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .form-field-email {
    clear: none;
    float: left;
    width: 58.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-email {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .form-field-phone {
    clear: none;
    float: left;
    width: 41.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-phone {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .fieldset-password label .subtext {
    color: #8e8e8e;
    font-size: 12.6px;
    margin-left: 7px;
}
.primo .account .fieldset-password .form-field-password {
    clear: none;
    float: left;
    padding-left: 25px;
    width: 75%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .fieldset-password .form-field-password {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .fieldset-password .form-field-password label {
    display: inline-block;
}
.primo .account .fieldset-password .form-field-password .show-password {
    color: #87bbf6;
    cursor: pointer;
    font-size: 12.6px;
    margin-left: 14px;
}
.primo fieldset {
    position: relative;
}
.primo fieldset .form-field-services.valid::after, .primo fieldset .form-field-services.invalid::after {
    display: none;
}
.primo .travel-preferences fieldset .form-field {
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px 5px 0;
}
.primo .travel-preferences fieldset .form-field.form-field-travel-preferences.valid::after, .primo .travel-preferences fieldset .form-field.form-field-travel-preferences.invalid::after {
    display: none;
}
.primo .travel-preferences fieldset .form-field.form-field-map {
    animation: 0.5s ease 0s normal none 1 running fade-in;
    margin: 0;
    padding: 0 15px 13px 0;
    pointer-events: none;
    position: relative;
}
.primo .travel-preferences fieldset .form-field.form-field-map img {
    height: auto !important;
    max-width: 100%;
    min-width: 0;
    width: 100% !important;
}
.primo .travel-preferences fieldset .form-field.form-field-travel-distance {
    animation: 0.25s ease 0s normal none 1 running fade-in;
    margin: 0;
    padding: 0 15px 13px 0;
}
.primo .travel-preferences fieldset .form-field:last-of-type {
    margin: 0;
    padding: 0 15px 13px 0;
}

.glorious-header {
    border-bottom:none!important;
	background: none!important;
}


.mainimage2 {
    background: rgba(0, 0, 0, 0) url("../images/uber_background.png") repeat scroll 0 0;
}


