
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
pre {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #d2d2d2;
    margin: 5px 0;
    padding: 20px;
}
.text {
    color: #666666;
    font-size: 14.8px;
    font-weight: 300;
    line-height: 29.4px;
}
.title {
    font-size: 35px;
    font-weight: 500;
    padding: 30px 0;
}
h4 {
    color: #434343;
    font-size: 16.8px;
    font-weight: 600;
    line-height: 29.4px;
}
.tack-stamp {
    background: url("/media/primo/static/icon-tack-stamp.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 39px;
    margin: 80px auto 0;
    width: 39px;
}
.tack-stamp.inline {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
    vertical-align: text-bottom;
}
ol.numbered-list {
    list-style-type: decimal;
    margin-left: 30px;
}
.bullet-point-section li {
    color: #1c59a2;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 15px;
    padding-left: 10px;
}
.bullet-point-section li p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    padding-bottom: 15px;
}
.primo-responsive .human-friendly-section {
    border-top: 4px solid #f47503;
    margin-top: 6px;
    padding-top: 19px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-responsive .human-friendly-section {
    margin-top: 20px;
}
}
