@font-face{font-family:'Primo Icons';src:url("../font/primo-9b.eot");src:url("../font/primo-9b.eot?#iefix") format('embedded-opentype'),url("../font/primo-9b.woff") format('woff'),url("../font/primo-9b.ttf") format('truetype'),url("../font/primo-9b.svg#icon-font") format('svg');font-weight:normal;font-style:normal}

.menu-top-menu-container{
    float:right;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0 0px 0 0;
        margin-left:10px;
}

.glorious-header .nav-menu li {
	display: inline-block;
	position: relative;
	background-color:#fff;
	padding:8px 5px 9px;
	border-radius: 3px;
}
.glorious-header .nav-menu li li{
border-radius:0px;

}

.glorious-header .nav-menu li a {
	margin:0px !important;
	color: #141412;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 15px 20px;
	text-decoration: none;
	width:67px;
}

.glorious-header .nav-menu li:hover > a,
.glorious-header .nav-menu li a:hover,
.glorious-header .nav-menu li:focus > a,
.glorious-header .nav-menu li a:focus {
	background-color: #fff;
	color: #000;
}

.menu-last{
	border-bottom-left-radius:5px!important;
	border-bottom-right-radius:5px!important;}

.glorious-header .nav-menu .sub-menu,
.glorious-header .nav-menu .children {
	border:1px solid #ccc;
	border-top: 0;
	padding: 0;
	position: absolute;
	left: 0px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.glorious-header .nav-menu .sub-menu ul,
.glorious-header .nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;	
}

.glorious-header ul.nav-menu ul a,
.glorious-header .nav-menu ul ul a {
	color: #000;
	margin: 0;
	width:67px;
	background-color:#fff;
        padding-right: 13px !important;
}

.glorious-header ul.nav-menu ul a:hover,
.glorious-header .nav-menu ul ul a:hover,
.glorious-header ul.nav-menu ul a:focus,
.glorious-header .nav-menu ul ul a:focus {
	background-color: #fff;
	color:#2962a8 !important
}

.glorious-header ul.nav-menu li:hover > ul,
.glorious-header .nav-menu ul li:hover > ul,
.glorious-header ul.nav-menu .focus > ul,
.glorious-header .nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.glorious-header .nav-menu .current_page_item > a,
.glorious-header .nav-menu .current_page_ancestor > a,
.glorious-header .nav-menu .current-menu-item > a,
.glorious-header .nav-menu .current-menu-ancestor > a {
	color: #bc360a;
	font-style: italic;
}

.glorious-header .menu-toggle {
	display: none;
}

/* Navbar */
.navbar {
	background-color: #f7f5e7;
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

.site-header .search-form {
	position: absolute;
	right: 20px;
	top: 1px;
}

.site-header .search-field {
	background-color: transparent;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 1px;
}

.site-header .search-field:focus {
	background-color: #fff;
	border: 2px solid #c3c0ab;
	cursor: text;
	outline: 0;
	width: 230px;
}