
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.cta-banner {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px 0;
    position: relative;
}
.cta-banner .wrapper {
    box-sizing: border-box;
    padding-left: 85px;
}
.cta-banner .cta-banner-icon {
    background: url("/theme/ui/sprites_icons_large_4.png") no-repeat scroll -240px 0 rgba(0, 0, 0, 0);
    height: 50px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 60px;
}
.cta-banner .cta-banner-icon .seekmi-pts {
    font-weight: bold;
    padding: 5px 8px;
    position: absolute;
    right: 1px;
    top: 28px;
}
.cta-banner .star {
    color: #aeaeae;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    left: 0;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 60px;
}
.ie7 .cta-banner .star {
    display: none;
}
.ie7 .cta-banner .star {
    display: none;
}
.cta-banner .star::before {
    content: "";
    display: inline-block;
}
.cta-banner .star .seekmi-pts {
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    right: 1px;
    top: 42px;
}
.cta-banner .cta-banner-copy {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 74.3094%;
}
.ie7 .cta-banner .cta-banner-copy {
    width: 74.2094%;
}
.cta-banner .cta-banner-copy .cta-banner-title {
    font-weight: bold;
}
.cta-banner .cta-banner-copy .cta-banner-subtitle {
    padding-top: 5px;
}
@media only screen and (max-width: 600px) {
.cta-banner .cta-banner-copy {
    display: block;
    float: none;
    margin: 0 0 14px;
    width: 100%;
}
}
.cta-banner .cta-banner-button {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    padding-top: 20px;
    width: 22.9282%;
}
.ie7 .cta-banner .cta-banner-button {
    width: 22.8282%;
}
.cta-banner .cta-banner-button .bttn {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}
.ie7 .cta-banner .cta-banner-button .bttn {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 600px) {
.cta-banner .cta-banner-button {
    display: block;
    float: none;
    margin: 0;
    padding-top: 0;
    width: 100%;
}
}
.cta-banner.tips-banner {
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 30px 0;
    width: 100%;
}
.cta-banner.tips-banner .arrow {
    color: #8e8e8e;
    cursor: pointer;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    transition: color 0.5s ease 0s;
}
.cta-banner.tips-banner .arrow:hover {
    color: #666666;
}
.cta-banner.tips-banner .arrow.left-arrow {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .cta-banner.tips-banner .arrow.left-arrow {
    display: none;
}
.ie7 .cta-banner.tips-banner .arrow.left-arrow {
    display: none;
}
.cta-banner.tips-banner .arrow.left-arrow::before {
    content: "";
    display: inline-block;
}
.cta-banner.tips-banner .arrow.right-arrow {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    right: 0;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .cta-banner.tips-banner .arrow.right-arrow {
    display: none;
}
.ie7 .cta-banner.tips-banner .arrow.right-arrow {
    display: none;
}
.cta-banner.tips-banner .arrow.right-arrow::before {
    content: "";
    display: inline-block;
}
.cta-banner.tips-banner .arrow.left-arrow::before, .cta-banner.tips-banner .arrow.right-arrow::before {
    left: 0;
    margin-top: -19px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.cta-banner.tips-banner .tip-container {
    overflow: hidden;
    padding: 0;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: margin-left;
}
.cta-banner.tips-banner .tip-container .meat {
    float: left;
}
.cta-banner.tips-banner .tip-container .meat .mobile {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .mobile {
    display: inherit;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .not-mobile {
    display: none;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-header {
    color: #f47503;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}
.cta-banner.tips-banner .tip-container .meat .tip-header.done::before {
    background: url("/media/primo/profile/check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    position: relative;
    vertical-align: bottom;
    width: 22px;
}
.cta-banner.tips-banner .tip-container .meat .tip-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 35.994px;
    margin-bottom: 10px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-title {
    padding: 0 30px;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-text {
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    padding: 0 20px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-text {
    padding: 0 40px;
}
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    clear: both;
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 14px;
    margin: 15px auto;
    padding: 9px 10px;
    width: 230px;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:hover, .cta-banner.tips-banner .tip-container .meat .tip-bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn:active, .cta-banner.tips-banner .tip-container .meat .tip-bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.cta-banner.tips-banner .tip-container .meat .tip-bttn .caret {
    border-top-color: #ffffff;
}
.ie7 .cta-banner.tips-banner .tip-container .meat .tip-bttn {
    padding: 7px 10px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.cta-banner.tips-banner .tip-container .meat .tip-bttn {
    width: 200px;
}
}
.cta-banner.tips-banner .circles {
    text-align: center;
}
.cta-banner.tips-banner .circles .circle {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    display: inline-block;
    font-size: 4.34px;
    height: 7px;
    line-height: 7px;
    margin: 0 3.5px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 7px;
}
.cta-banner.tips-banner .circles .circle.active {
    background-color: #aeaeae;
}
.ng-cloak {
    display: none;
}
.loading {
    background: url("../images/ajax-loader-spinner.gif") no-repeat scroll center 50px rgba(0, 0, 0, 0);
    height: 600px;
}
.pod.pod-modal {
    width: 820px;
}
.service-profile {
    background: none repeat scroll 0 0 #ffffff;
}
.profile-content {
    background: url("../images/ajax-loader-spinner.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
    margin: 2.5em 0;
    min-height: 100px;
    text-align: center;
}
.profile-content .section-header {
    color: #008ee2;
    font-size: 1.7ex;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.profile-content .empty-section {
    color: #aeaeae;
}
.profile-content .edit-section {
    box-shadow: none;
}
.profile-content > .profile-header {
    background: none repeat scroll 0 0 #ffffff;
    display: inline-block;
    text-align: left;
    width: 840px;
}
.profile-content > .profile-header::before, .profile-content > .profile-header::after {
    content: "";
    display: table;
}
.profile-content > .profile-header::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .profile-header {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .profile-header::before, .profile-content > .profile-header::after {
    content: "";
    display: table;
}
.profile-content > .profile-header::after {
    clear: both;
}
.profile-content > .profile-header > .profile-basics {
    margin-bottom: 2.5em;
    position: relative;
    width: 100%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics {
    float: none;
    text-align: center;
}
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container {
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container::before, .profile-content > .profile-header > .profile-basics > .profile-picture-container::after {
    content: "";
    display: table;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container::after {
    clear: both;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-picture {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
    position: relative;
    vertical-align: top;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-picture {
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
}
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-picture > img {
    border-radius: 50%;
    display: block;
    height: 140px;
    width: 140px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-picture > img {
    margin: 0 auto;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details {
    margin: 0;
}
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-identity {
    margin: 0.6em 0;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-identity > .profile-title {
    color: #000000;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    width: 65%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-identity > .profile-title {
    width: 100%;
}
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-identity > .profile-business-relationship {
    color: #8e8e8e;
    font-size: 0.85em;
    line-height: 1.2;
    margin: 0;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-tagline {
    color: #666666;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1em;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes {
    display: block;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes::before, .profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes::after {
    content: "";
    display: table;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes::after {
    clear: both;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li {
    float: left;
    line-height: 0.8em;
    margin-left: 1.5em;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li {
    clear: left;
    float: none;
    margin-left: 0;
}
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li:first-child {
    margin-left: 0;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li::before {
    color: #4092f1;
    font-size: 1.6em;
    font-weight: normal;
    margin-right: 0.2em;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.location {
    margin-top: 1em;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.location::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.location::before {
    display: none;
}
.ie7 .profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.location::before {
    display: none;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.phone {
    margin-top: 1em;
}
.profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.phone::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.phone::before {
    display: none;
}
.ie7 .profile-content > .profile-header > .profile-basics > .profile-picture-container > .profile-basic-details .profile-attributes > li.phone::before {
    display: none;
}
.profile-content > .profile-header > .profile-basics > .profile-header-reviews {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.profile-content > .profile-header > .profile-basics > .profile-header-reviews .bttn {
    margin-top: 0.6em;
    text-transform: uppercase;
}
.profile-content > .profile-header > .profile-basics > .profile-header-reviews .service-rating-review-count {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-left: 0.5em;
    padding-top: 2px;
    vertical-align: top;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-header > .profile-basics > .profile-header-reviews {
    padding: 1.5em 0 0;
    position: relative;
    text-align: center;
}
}
.profile-content > .profile-media {
    background: none repeat scroll 0 0 #343434;
    overflow: hidden;
    position: relative;
}
.profile-content > .profile-media > .stampede-carousel {
    transition: height 1s ease 0s;
}
.profile-content > .profile-media .media-navigation {
    -moz-user-select: none;
    cursor: pointer;
    height: 616px;
    margin-top: -313px;
    position: absolute;
    top: 50%;
    width: 198px;
    z-index: 10;
}
.profile-content > .profile-media .media-navigation.media-navigation-left {
    background: url("../images/media-navigation-left.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    left: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-media .media-navigation.media-navigation-left {
    background-image: none;
    width: 100px;
}
}
.profile-content > .profile-media .media-navigation.media-navigation-right {
    background: url("../images/media-navigation-right.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    right: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-media .media-navigation.media-navigation-right {
    background-image: none;
    width: 100px;
}
}
.profile-content > .profile-media .edit-section {
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 10px;
    width: 100px;
    z-index: 10;
}
.profile-content > .profile-media ul {
    padding-bottom: 10px;
    padding-top: 10px;
}
.profile-content > .profile-media ul > li {
    box-shadow: 0 0 5px #000000;
    left: -9999px;
    margin: 1em;
    transition: left 1s ease 0s;
}
.profile-content > .profile-media ul > li.no-animate {
    transition: none 0s ease 0s ;
}
.profile-content > .profile-media ul .stampede-picture-container {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 600px) {
.profile-content > .profile-media ul .stampede-picture-container img {
    max-width: 350px;
}
}
@media only screen and (max-width: 320px) {
.profile-content > .profile-media ul .stampede-picture-container img {
    max-width: 200px;
}
}
.profile-content > .profile-media ul .stampede-picture-container .picture-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #ffffff;
    left: 0;
    margin-bottom: 3px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 2;
}
.profile-content > .profile-media ul .stampede-audio-container {
    height: 300px;
    position: relative;
    width: 300px;
}
.profile-content > .profile-media ul .stampede-audio-container .mejs-container {
    bottom: 0;
    left: 0;
    position: absolute;
}
.profile-content > .profile-media ul .stampede-audio-container h4 {
    color: #aeaeae;
}
.profile-content > .profile-media ul .stampede-audio-container .audio-play-button {
    color: #aeaeae;
    content: "";
    cursor: pointer;
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 10em;
    font-style: normal;
    font-weight: normal;
    margin-top: 60px;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
    width: 100%;
}
.ie7 .profile-content > .profile-media ul .stampede-audio-container .audio-play-button {
    display: none;
}
.ie7 .profile-content > .profile-media ul .stampede-audio-container .audio-play-button {
    display: none;
}
.profile-content > .profile-media ul .stampede-audio-container .audio-play-button::before {
    content: "";
    display: inline-block;
}
.profile-content > .profile-media ul .stampede-audio-container .audio-play-button.audio-playing {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .profile-media ul .stampede-audio-container .audio-play-button.audio-playing {
    display: none;
}
.ie7 .profile-content > .profile-media ul .stampede-audio-container .audio-play-button.audio-playing {
    display: none;
}
.profile-content > .profile-media ul .stampede-audio-container .audio-play-button.audio-playing::before {
    content: "";
    display: inline-block;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-media ul .stampede-video-container iframe {
    height: 200px;
    width: 300px;
}
}
.profile-content > .profile-media-edit-block {
    background: none repeat scroll 0 0 #343434;
    overflow: hidden;
}
.profile-content > .profile-media-edit-block:hover {
    background: none repeat scroll 0 0 #2a2a2a;
    cursor: pointer;
}
.profile-content > .profile-media-edit-block .profile-media-edit {
    display: inline-block;
    height: 380px;
    position: relative;
    text-align: left;
    width: 840px;
}
.profile-content > .profile-media-edit-block .profile-media-edit::before, .profile-content > .profile-media-edit-block .profile-media-edit::after {
    content: "";
    display: table;
}
.profile-content > .profile-media-edit-block .profile-media-edit::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-media-edit-block .profile-media-edit {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .profile-media-edit-block .profile-media-edit {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost {
    border: 2px dashed #ffffff;
    box-sizing: border-box;
    color: #d2d2d2;
    height: 310px;
    padding-top: 90px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 400px;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost h3 {
    color: #d2d2d2;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-minus-two {
    left: 50%;
    margin-left: -1040px;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-minus-one {
    left: 50%;
    margin-left: -620px;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-cta {
    left: 50%;
    margin-left: -200px;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-plus-one {
    left: 50%;
    margin-left: 220px;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-plus-two {
    left: 50%;
    margin-left: 640px;
}
@media only screen and (max-width: 960px) {
.profile-content > .profile-media-edit-block .profile-media-edit .ghost {
    display: none;
    position: relative;
}
.profile-content > .profile-media-edit-block .profile-media-edit .ghost.ghost-cta {
    display: block;
    left: 0;
    margin: 0 auto;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .profile-media-edit-block .profile-media-edit .ghost {
    width: auto;
}
}
.profile-content > .service-info-block {
    margin: 2em 0;
}
.profile-content > .service-info-block .service-info-page-section {
    display: inline-block;
    margin-top: 40px;
    text-align: left;
    width: 840px;
}
.profile-content > .service-info-block .service-info-page-section::before, .profile-content > .service-info-block .service-info-page-section::after {
    content: "";
    display: table;
}
.profile-content > .service-info-block .service-info-page-section::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-info-block .service-info-page-section {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .service-info-block .service-info-page-section {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .service-info-block .service-info-page-section .service-info-container {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container::before, .profile-content > .service-info-block .service-info-page-section .service-info-container::after {
    content: "";
    display: table;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container::after {
    clear: both;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container > [class*="column"]:first-child {
    margin-left: 0;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-info {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 65.7459%;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-info {
    width: 65.6459%;
}
@media only screen and (max-width: 750px) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-info {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 48.6188%;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-info {
    width: 48.5188%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-info {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar {
    display: inline;
    float: left;
    margin: 0 0 0 11.326%;
    min-height: 1px;
    width: 22.9282%;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar {
    width: 22.8282%;
}
@media only screen and (max-width: 750px) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 40.0552%;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar {
    width: 39.9552%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar {
    border-top: 1px solid #aeaeae;
    display: block;
    float: none;
    margin: 0;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-logo, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-map {
    border: 1px solid #d2d2d2;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-map {
    margin-top: 0.8em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .business-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.2em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .years-in-business, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-travels, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .employee-count {
    color: #666666;
    margin-top: 0.8em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .years-in-business::before, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-travels::before, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .employee-count::before {
    color: #4092f1;
    padding-right: 0.5em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .years-in-business::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .years-in-business::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .years-in-business::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .employee-count::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .employee-count::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .employee-count::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-travels::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-travels::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .service-travels::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credentials {
    margin-top: 1.8em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential p {
    background: none repeat scroll 0 0 #f8f8f8;
    border-bottom: 1px solid #aeaeae;
    border-radius: 2px;
    border-top: 1px solid #ffffff;
    box-shadow: 0 0 2px #aeaeae;
    color: #434343;
    font-size: 0.9em;
    height: 15px;
    margin-top: 0.8em;
    padding: 5px 5px 5px 38px;
    position: relative;
    text-align: left;
    width: 119px;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential p {
    padding-left: 5px;
    width: 152px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential p {
    margin-left: auto;
    margin-right: auto;
}
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span {
    background: none repeat scroll 0 0 #f47503;
    border: 1px solid #c25d02;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0 1px 1px #fc8f2e inset;
    color: #ffffff;
    display: block;
    font-size: 1.7em;
    height: 24px;
    left: 0;
    margin: -1px 10px -1px -1px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 30px;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span i {
    display: block;
    height: 24px;
    width: 30px;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span i.jobs-completed {
    background: url("../images/ico-jobs-completed.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span i.background-checked {
    background: url("/media/primo/profile/ico-background-check.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span i.licensed {
    background: url("/media/primo/profile/ico-licensed.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.gold {
    background: none repeat scroll 0 0 #e2b227;
    border: 1px solid #bd9319;
    box-shadow: 0 1px 1px #e8c254 inset;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.gold > i {
    color: #ffffff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 22.4px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.gold > i {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.gold > i {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.gold > i::before {
    content: "";
    display: inline-block;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.silver {
    background: none repeat scroll 0 0 #8e8e8e;
    border: 1px solid #757575;
    box-shadow: 0 1px 1px #a8a8a8 inset;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.silver > i {
    color: #ffffff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";

    font-size: 22.4px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.silver > i {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.silver > i {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.silver > i::before {
    content: "";
    display: inline-block;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.bronze {
    background: none repeat scroll 0 0 #cf8126;
    border: 1px solid #a4661e;
    box-shadow: 0 1px 1px #de9a4a inset;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.bronze > i {
    color: #ffffff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 22.4px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.bronze > i {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.bronze > i {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .credential span.bronze > i::before {
    content: "";
    display: inline-block;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-sidebar .licenses {
    cursor: pointer;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-bio-section {
    margin-bottom: 2em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-bio-section .service-bio {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.5em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links {
    margin-bottom: 2em;
    margin-top: 2em;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links::before, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links::after {
    content: "";
    display: table;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links::after {
    clear: both;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links.editable {
    min-height: 40px;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .edit-prompt {
    line-height: 2em;
    padding-left: 5px;
}
@media only screen and (max-width: 960px) {
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .edit-prompt {
    clear: left;
    display: block;
    padding-top: 20px;
}
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-left: 35px;
    position: relative;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link > .offsite-link-metric {
    color: #8e8e8e;
    display: block;
    font-size: 0.8em;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link {
    padding-left: 0;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link::before {
    background: none repeat scroll 0 0 #4092f1;
    border-radius: 50%;
    color: #ffffff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    height: 30px;
    left: 0;
    line-height: 30px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    top: 0;
    width: 30px;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-website::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-website::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-website::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-twitter {
    color: #21b5cc;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-twitter::before {
    background: none repeat scroll 0 0 #21b5cc;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-twitter::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-twitter::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-twitter:hover {
    color: #40cbe0;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-facebook {
    color: #4c66a4;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-facebook::before {
    background: none repeat scroll 0 0 #4c66a4;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-facebook::before {
    display: none;
}
.ie7 .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-facebook::before {
    display: none;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-facebook:hover {
    color: #6981ba;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-linkedin {
    color: #0073b2;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-linkedin::before {
    background: none repeat scroll 0 0 #0073b2;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-linkedin:hover {
    color: #0094e5;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-yelp {
    color: #c41200;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-yelp::before {
    background: none repeat scroll 0 0 #c41200;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.offsite-link-yelp:hover {
    color: #f71700;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.empty {
    padding-left: 15px;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.empty, .profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.empty:hover {
    color: #ffffff;
}
.profile-content > .service-info-block .service-info-page-section .service-info-container .service-external-links .offsite-link.empty::before {
    background: none repeat scroll 0 0 #d2d2d2;
}
.profile-content > .service-questions-container {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #dbdbdb;
    padding-bottom: 1em;
    padding-top: 2em;
}
.profile-content > .service-questions-container.editable {
    margin: 0;
    padding: 2em 0 0;
}
.profile-content > .service-questions-container > .service-questions {
    display: inline-block;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: height 1s ease 0s;
    width: 840px;
}
.profile-content > .service-questions-container > .service-questions::before, .profile-content > .service-questions-container > .service-questions::after {
    content: "";
    display: table;
}
.profile-content > .service-questions-container > .service-questions::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-questions-container > .service-questions {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .service-questions-container > .service-questions {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .service-questions-container > .service-questions.service-questions-revealed {
    padding-bottom: 60px;
}
.profile-content > .service-questions-container > .service-questions .service-question-column {
    float: left;
    margin-left: 2%;
    width: 32%;
}
.profile-content > .service-questions-container > .service-questions .service-question-column:first-child {
    margin-left: 0;
}
@media only screen and (max-width: 750px) {
.profile-content > .service-questions-container > .service-questions .service-question-column {
    float: none;
    margin-right: 0;
    width: 100%;
}
}
.profile-content > .service-questions-container > .service-questions .service-question-column > .service-question-answer {
    background: none repeat scroll 0 0 padding-box #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    margin-bottom: 1em;
    padding: 1em;
    height:125px;
}
.profile-content > .service-questions-container > .service-questions .service-question-column > .service-question-answer > h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
}
.profile-content > .service-questions-container > .service-questions .service-question-column > .service-question-answer > p {
    color: #666666;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
    line-height: 1.6em;
}
.profile-content > .service-questions-container > .service-questions .service-question-reveal {
    background: url("/media/primo/profile/reveal-fade.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.profile-content > .service-questions-container > .service-questions .service-question-reveal > span {
    margin-top: 20px;
}
.profile-content > .service-questions-edit-container > .service-questions-edit {
    display: inline-block;
    text-align: left;
    width: 840px;
}
.profile-content > .service-questions-edit-container > .service-questions-edit::before, .profile-content > .service-questions-edit-container > .service-questions-edit::after {
    content: "";
    display: table;
}
.profile-content > .service-questions-edit-container > .service-questions-edit::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .service-questions-edit-container > .service-questions-edit {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .service-questions-edit-container > .service-questions-edit {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .reviews-block > .reviews-container {
    display: inline-block;
    margin: 2em 0 4em;
    text-align: left;
    width: 840px;
}
.profile-content > .reviews-block > .reviews-container::before, .profile-content > .reviews-block > .reviews-container::after {
    content: "";
    display: table;
}
.profile-content > .reviews-block > .reviews-container::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .reviews-block > .reviews-container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .reviews-block > .reviews-container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .reviews-block > .reviews-container > .review-list {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
}
.profile-content > .reviews-block > .reviews-container > .review-list li {
    border-bottom: 1px solid #d2d2d2;
    min-height: 60px;
    padding: 20px 0;
    position: relative;
}
.profile-content > .reviews-block > .reviews-container > .review-list li:first-child {
    padding-top: 5px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li:first-child img {
    top: 5px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li:last-child {
    border-bottom: medium none;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .star-rating {
    display: inline-block;
    height: 14px;
    margin-right: 0.5em;
}
.profile-content > .reviews-block > .reviews-container > .review-list li img {
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    box-shadow: 0 1px 1px #aeaeae;
    left: 0;
    padding: 3px;
    position: absolute;
    top: 20px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .review-rating-wrap {
    font-weight: bold;
    margin: 0 0 0.75em 73px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .reviews-block > .reviews-container > .review-list li .review-rating-wrap .review-date-wrap {
    display: block;
}
}
.profile-content > .reviews-block > .reviews-container > .review-list li .review-body {
    color: #666666;
    display: block;
    line-height: 1.3em;
    margin: 0 0.5em 1em 73px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .reviewer {
    color: #8e8e8e;
    font-style: italic;
    margin-left: 73px;
    margin-top: 1em;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .review-response {
    background-color: #f9f9f9;
    clear: both;
    color: #8e8e8e;
    font-style: italic;
    margin: 1em 0 0 73px;
    padding: 14px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .review-response .review-response-header {
    color: #666666;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score {
    background: url("../images/star-rating-transition-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin-right: 0.5em;
    text-indent: -15000px;
    width: 88px;
}
.ie7 .profile-content > .reviews-block > .reviews-container > .review-list li .score {
    float: left;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score.one {
    background-position: 0 -125px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score.two {
    background-position: 0 -146px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score.three {
    background-position: 0 -167px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score.four {
    background-position: 0 -188px;
}
.profile-content > .reviews-block > .reviews-container > .review-list li .score.five {
    background-position: 0 -209px;
}
.profile-content > .reviews-block .leave-review {
    margin-top: 14px;
}
.profile-content > .recent-work-block {
    border-top: 1px solid #aeaeae;
    padding-top: 2em;
}
.profile-content > .recent-work-block > .recent-work-container {
    display: inline-block;
    text-align: left;
    width: 840px;
}
.profile-content > .recent-work-block > .recent-work-container::before, .profile-content > .recent-work-block > .recent-work-container::after {
    content: "";
    display: table;
}
.profile-content > .recent-work-block > .recent-work-container::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.profile-content > .recent-work-block > .recent-work-container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
}
@media only screen and (max-width: 960px) {
.profile-content > .recent-work-block > .recent-work-container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden !important;
    width: auto;
}
}
.profile-content > .recent-work-block > .recent-work-container ul > li {
    margin-bottom: 1em;
}
.profile-content .editable {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px dotted #aeaeae;
    cursor: pointer;
    margin: -6px;
    padding: 5px;
    position: relative;
    transition: background 0.4s ease 0s;
}
.profile-content .editable:hover {
    background: none repeat scroll 0 0 #ececec;
    border: 1px dotted #8e8e8e;
}
.profile-content .editable .edit-section {
    position: absolute;
    right: 5px;
    top: 5px;
}
.profile-content .editable .edit-section.edit-section-profile {
    left: 25px;
    right: auto;
    top: 60px;
}
.wizard {
    display: none;
}
.wizard .pod-header {
    margin: 0 0 2em;
    padding: 0;
}
.ie8 .wizard .pod-header {
    padding-right: 0;
}
.ie8 .wizard .pod-header .modal-close {
    background: none repeat scroll 0 0 #ffffff;
    padding-bottom: 4px;
    padding-right: 2px;
    right: -10px;
    top: -10px;
}
.wizard .pod-header > .wizard-header {
    background: none repeat scroll 0 0 #007bba;
    height: 80px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: height 0.3s ease 0s;
}
.wizard .pod-header > .wizard-header::before, .wizard .pod-header > .wizard-header::after {
    content: "";
    display: table;
}
.wizard .pod-header > .wizard-header::after {
    clear: both;
}
@media only screen and (max-width: 960px) {
.wizard .pod-header > .wizard-header {
    background: none repeat scroll 0 0 #7bb8de;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 10px;
}
}
.wizard .pod-header > .wizard-header > .wizard-header-tab {
    color: #bddcef;
    float: left;
    font-size: 1.7em;
    height: 30px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
    transition: width 0.8s ease 0s, background 0.4s ease 0s;
    white-space: nowrap;
    width: 68px;
}
@media only screen and (max-width: 960px) {
.wizard .pod-header > .wizard-header > .wizard-header-tab {
    display: none;
}
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.active {
    color: #ffffff;
    width: 276px;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab::before {
    padding: 0 22px;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.basic-info {
    background: none repeat scroll 0 0 #7bb8de;
    border-top-left-radius: 4px;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.basic-info:hover {
    background: none repeat scroll 0 0 #5ea9d7;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.basic-info::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.basic-info::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.basic-info::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.media {
    background: none repeat scroll 0 0 #5da9d5;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.media:hover {
    background: none repeat scroll 0 0 #419ace;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.media::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.media::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.media::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.bio {
    background: none repeat scroll 0 0 #4ca2d4;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.bio:hover {
    background: none repeat scroll 0 0 #3193cb;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.bio::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.bio::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.bio::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.services {
    background: none repeat scroll 0 0 #3b9fd4;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.services:hover {
    background: none repeat scroll 0 0 #2a8dc1;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.services::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.services::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.services::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.links {
    background: none repeat scroll 0 0 #1b99d3;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.links:hover {
    background: none repeat scroll 0 0 #1782b3;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.links::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.links::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.links::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.business-info {
    background: none repeat scroll 0 0 #0092d2;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.business-info:hover {
    background: none repeat scroll 0 0 #0079ae;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.business-info::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.business-info::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.business-info::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.credentials {
    background: none repeat scroll 0 0 #0088c8;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.credentials:hover {
    background: none repeat scroll 0 0 #0070a4;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.credentials::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.credentials::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.credentials::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.q-and-a {
    background: none repeat scroll 0 0 #0083c1;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.q-and-a:hover {
    background: none repeat scroll 0 0 #006b9d;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.q-and-a::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.q-and-a::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.q-and-a::before {
    display: none;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.reviews {
    background: none repeat scroll 0 0 #007bba;
    border-top-right-radius: 7px;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.reviews:hover {
    background: none repeat scroll 0 0 #006396;
    color: #ffffff;
}
.wizard .pod-header > .wizard-header > .wizard-header-tab.reviews::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.reviews::before {
    display: none;
}
.ie7 .wizard .pod-header > .wizard-header > .wizard-header-tab.reviews::before {
    display: none;
}
.wizard textarea {
    font-size: 1em;
    line-height: 1.3em;
}
.wizard .form-content {
    margin-left: 110px;
    margin-right: 110px;
    min-height: 200px;
}
@media only screen and (max-width: 960px) {
.wizard .form-content {
    margin-left: 50px;
    margin-right: 50px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-content {
    margin-left: 20px;
    margin-right: 20px;
}
}
.wizard .form-basic-info .form-field-first-name, .wizard .form-basic-info .form-field-last-name {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-basic-info .form-field-first-name, .wizard .form-basic-info .form-field-last-name {
    clear: none;
    float: left;
    width: 100%;
}
}
.wizard .form-basic-info .form-field-address-1 {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-basic-info .form-field-address-1 {
    float: none;
    width: 100%;
}
}
.wizard .form-basic-info .form-field-address-2 {
    clear: none;
    float: left;
    width: 16.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-basic-info .form-field-address-2 {
    float: none;
    width: 100%;
}
}
.wizard .form-basic-info .form-field-zip {
    clear: none;
    float: left;
    width: 33.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-basic-info .form-field-zip {
    float: none;
    width: 100%;
}
}
.wizard .form-services textarea {
    height: 15em;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-services .examples {
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-bio .examples {
    display: none;
}
}
.wizard .form-media {
    position: relative;
}
.wizard .form-media .explanation {
    margin: 0;
}
.wizard .form-media .media-chooser-container {
    margin-bottom: 2em;
    margin-top: 1em;
}
.wizard .form-media .media-chooser-container .media-start {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.wizard .form-media .media-chooser-container .media-start::before, .wizard .form-media .media-chooser-container .media-start::after {
    content: "";
    display: table;
}
.wizard .form-media .media-chooser-container .media-start::after {
    clear: both;
}
.wizard .form-media .media-chooser-container .media-start > [class*="column"]:first-child {
    margin-left: 0;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 57.1823%;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column {
    width: 57.0823%;
}
@media only screen and (max-width: 750px) {
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px dashed #aeaeae;
    border-radius: 10px;
    padding: 18.2px;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser > h3 {
    color: #aeaeae;
    margin-bottom: 14px;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser > h3::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    padding-right: 14px;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser > h3::before {
    display: none;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser > h3::before {
    display: none;
}
@media only screen and (max-width: 750px) {
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser > h3::before {
    display: none;
}
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons {
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons::before, .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons::after {
    content: "";
    display: table;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons::after {
    clear: both;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button {
    float: left;
    margin-right: 7px;
}
@media only screen and (max-width: 750px) {
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button {
    margin-bottom: 7px;
}
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-audio {
    margin-right: 0;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button::before {
    font-size: 21px;
    line-height: 10px;
    padding-right: 10px;
    padding-top: 2px;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-picture::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-picture::before {
    display: none;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-picture::before {
    display: none;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-video::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-video::before {
    display: none;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-video::before {
    display: none;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-audio::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-audio::before {
    display: none;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .media-type-chooser .media-type-buttons button.media-type-audio::before {
    display: none;
}
.wizard .form-media .media-chooser-container .media-start .media-type-chooser-column .video-url {
    height: 4em;
}
.wizard .form-media .media-chooser-container .media-start .media-tip-column {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 40.0552%;
}
.ie7 .wizard .form-media .media-chooser-container .media-start .media-tip-column {
    width: 39.9552%;
}
@media only screen and (max-width: 750px) {
.wizard .form-media .media-chooser-container .media-start .media-tip-column {
    display: block;
    float: none;
    margin: 14px 0 0;
    width: 100%;
}
}
.wizard .form-media .media-action-link {
    color: #4092f1;
    cursor: pointer;
    display: block;
    padding-top: 0.5em;
}
.wizard .form-media .media-start-over {
    margin-top: 1em;
}
.wizard .form-media .media-start-over .media-action-link::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: none;
}
.ie7 .wizard .form-media .media-start-over .media-action-link::before {
    display: none;
}
.ie7 .wizard .form-media .media-start-over .media-action-link::before {
    display: none;
}
.wizard .form-media .media-edit-pending {
    background: none repeat scroll 0 0 #ffffff;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.wizard .form-business-info .logo-loading {
    background: url("../images/ajax-loader-spinner.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 50px;
}
.wizard .form-business-info .form-field-year-founded, .wizard .form-business-info .form-field-employee-count {
    clear: none;
    float: left;
    width: 33.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-business-info .form-field-year-founded, .wizard .form-business-info .form-field-employee-count {
    clear: none;
    float: left;
    width: 100%;
}
}
.wizard .form-q-and-a .num-questions-answered {
    float: right;
    font-size: 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-q-and-a .num-questions-answered {
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .form-q-and-a fieldset {
    margin: 0;
}
.wizard .form-q-and-a fieldset .pod {
    border-width: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.wizard .form-q-and-a fieldset .pod .pod-content {
    margin: 0;
    padding: 14px;
}
.wizard .form-q-and-a fieldset .pod textarea {
    height: 140px;
}
}
.wizard .form-credentials .help-text {
    background: none repeat scroll 0 0 #f9f9f9;
    color: #666666;
    margin-top: 0.5em;
    padding: 0.5em;
}
.wizard .form-credentials .help-text > p {
    margin: 0;
    padding: 0;
}
.wizard .form-credentials .add-license {
    margin-bottom: 14px;
    margin-top: 14px;
}
.wizard .form-reviews .form-field-review-link {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 750px) {
.wizard .form-reviews .form-field-review-link {
    clear: none;
    float: left;
    width: 100%;
}
}
.wizard .form-reviews .form-field-review-link input[type="text"] {
    font-family: monaco,Consolas,"Lucida Console",monospace;
    font-weight: bold;
    text-align: center;
}
.wizard .form-reviews .link-distribution-tips {
    margin-bottom: 2em;
}
.wizard .form-reviews .link-distribution-tips > li {
    margin-bottom: 0.5em;
}
.wizard .form-reviews .link-distribution-tips > li::before {
    color: #87bbf6;
    font-size: 1.2em;
    margin-right: 0.5em;
}
.wizard .form-reviews .link-distribution-tips > li.email::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.email::before {
    display: none;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.email::before {
    display: none;
}
.wizard .form-reviews .link-distribution-tips > li.twitter::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.twitter::before {
    display: none;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.twitter::before {
    display: none;
}
.wizard .form-reviews .link-distribution-tips > li.facebook::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.facebook::before {
    display: none;
}
.ie7 .wizard .form-reviews .link-distribution-tips > li.facebook::before {
    display: none;
}
.wizard .explanation {
    background: none repeat scroll 0 0 #f9f9f9;
    margin: 1em 0 1.5em;
    padding: 1em;
}
.wizard .explanation > p {
    margin: 0;
}
.wizard .examples {
    margin-bottom: 2em;
}
.wizard .examples .example {
    background: none repeat scroll 0 0 #f9f9f9;
}
.wizard .examples .example > p {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 1.1em;
    font-style: italic;
    line-height: 23.8px;
    padding: 1em;
}
.wizard .media-list-item {
    background: none repeat scroll 0 0 padding-box #f9f9f9;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    height: 120px;
    margin-bottom: 12px;
    position: relative;
}
.wizard .media-list-item.slide-enter, .wizard .media-list-item.slide-leave {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.wizard .media-list-item.slide-leave {
    height: 120px;
    opacity: 1;
}
.wizard .media-list-item.slide-leave.slide-leave-active {
    height: 0;
    opacity: 0;
}
.wizard .media-list-item.slide-enter {
    height: 0;
    opacity: 0;
}
.wizard .media-list-item.slide-enter.slide-enter-active {
    height: 120px;
    opacity: 1;
}
.wizard .media-list-item .media-list-item-sidebar {
    background: none repeat scroll 0 0 #d2d2d2;
    height: 100%;
    position: absolute;
    width: 24px;
}
.wizard .media-list-item .media-list-item-sidebar > div {
    color: #8e8e8e;
    cursor: pointer;
    font-size: 24px;
    height: 20px;
    left: 3px;
    line-height: 24px;
    position: absolute;
    width: 20px;
}
.wizard .media-list-item .media-list-item-sidebar > div:hover {
    color: #4092f1;
}
.wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-up {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
    top: 20px;
}
.ie7 .wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-up {
    display: none;
}
.ie7 .wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-up {
    display: none;
}
.wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-up::before {
    content: "";
    display: inline-block;
}
.wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-down {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
    top: 80px;
}
.ie7 .wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-down {
    display: none;
}
.ie7 .wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-down {
    display: none;
}
.wizard .media-list-item .media-list-item-sidebar > div.media-arrangement-down::before {
    content: "";
    display: inline-block;
}
.wizard .media-list-item .media-container {
    left: 40px;
    position: absolute;
    top: 10px;
}
.wizard .media-list-item .media-container.media-picture-container {
    width: 80%;
}
.wizard .media-list-item .media-container.media-picture-container img {
    /*float: left;
    margin-right: 1em;*/
}
.wizard .media-list-item .media-container.media-picture-container .picture-caption {
    float: left;
    width: 70%;
}
.wizard .media-list-item .media-container.media-picture-container .picture-caption textarea {
    font-size: 14px;
    height: 60px;
    width: 80%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .media-list-item .media-container.media-picture-container .picture-caption {
    display: none;
}
}
.wizard .media-list-item .media-container.media-video-container img {
    float: left;
}
.wizard .media-list-item .media-container.media-audio-container .audio-icon {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 100px;
    position: relative;
    width: 100px;
}
.wizard .media-list-item .media-container.media-audio-container .audio-icon > span {
    color: #ffffff;
    font-size: 70px;
    left: 0;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .media-list-item .media-container.media-audio-container .audio-icon {
    display: none;
}
}
.wizard .media-list-item .media-container.media-audio-container > h4 {
    float: left;
    padding-left: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .media-list-item .media-container.media-audio-container > h4 {
    float: none;
    padding-left: 0;
}
}
.wizard .media-list-item .media-button {
    margin-left: 12%;
    margin-top: 90px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .media-list-item .media-button {
    margin-left: 8%;
}
}
.wizard .media-list-item .media-rotate {
    bottom: -105px;
    color: #4092f1;
    content: "";
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    right: 0;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .media-list-item .media-rotate {
    display: none;
}
.ie7 .wizard .media-list-item .media-rotate {
    display: none;
}
.wizard .media-list-item .media-rotate::before {
    content: "";
    display: inline-block;
}
.wizard .media-list-item .media-delete {
    bottom: 5px;
    color: #4092f1;
    content: "";
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
    min-width: 1em;
    right: 5px;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .wizard .media-list-item .media-delete {
    display: none;
}
.ie7 .wizard .media-list-item .media-delete {
    display: none;
}
.wizard .media-list-item .media-delete::before {
    content: "";
    display: inline-block;
}
.wizard .media-loading {
    background: url("../images/ajax-loader-spinner.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 60px;
}
.wizard .wizard-footer {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 1px solid #d2d2d2;
    padding: 25px;
}
.wizard .wizard-footer .back-button {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 14.3646%;
}
.wizard .wizard-footer .back-button .bttn::before {
    content: "←";
}
.ie7 .wizard .wizard-footer .back-button {
    width: 14.2646%;
}
@media only screen and (max-width: 960px) {
.wizard .wizard-footer .back-button {
    display: none;
}
}
.wizard .wizard-footer .progress-points {
    display: inline;
    float: left;
    font-size: 14px;
    margin: 0 0 0 19.8895%;
    min-height: 1px;
    width: 31.4917%;
}
.ie7 .wizard .wizard-footer .progress-points {
    width: 31.3917%;
}
@media only screen and (max-width: 960px) {
.wizard .wizard-footer .progress-points {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 22.9282%;
}
.ie7 .wizard .wizard-footer .progress-points {
    width: 22.8282%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .wizard-footer .progress-points {
    display: none;
}
}
.wizard .wizard-footer .progress-points .points-bg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 padding-box #e5e5e5;
    border-color: #d2d2d2 #d2d2d2 #ffffff;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px 1px #d2d2d2 inset;
    height: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wizard .wizard-footer .progress-points .points-bg .points-bar {
    background: none repeat scroll 0 0 padding-box #88af02;
    border-radius: 2px;
    color: #ffffff;
    height: 25px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    transition: width 1s ease 0s;
}
.wizard .wizard-footer .progress-points .points-bg .points-bar > span {
    line-height: 25.2px;
    padding-right: 5px;
}
.wizard .wizard-footer .save-button {
    display: inline;
    float: left;
    margin: 0 0 0 4.757%;
    min-height: 1px;
    text-align: right;
    width: 29.497%;
}

.wizard .wizard-footer .save-button .bttn{
    font-size:17px;
}
.ie7 .wizard .wizard-footer .save-button {
    width: 25.3972%;
}
.wizard .wizard-footer .save-button .bttn {
    white-space: nowrap;
}
.wizard .wizard-footer .save-button .bttn::after {
    content: "→";
}
.wizard .wizard-footer .save-button .bttn-last::after {
    content: "";
}
@media only screen and (max-width: 960px) {
.wizard .wizard-footer .save-button {
    display: inline;
    float: left;
    margin: 0 0 0 11.326%;
    min-height: 1px;
    width: 57.1823%;
}
.ie7 .wizard .wizard-footer .save-button {
    width: 57.0823%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wizard .wizard-footer .save-button {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.profile-picture-lightbox.pod.pod-modal.curtain-inner {
    width: 440px;
}
.profile-picture-lightbox .picture-upload {
}
.profile-picture-lightbox .picture-upload::before, .profile-picture-lightbox .picture-upload::after {
    content: "";
    display: table;
}
.profile-picture-lightbox .picture-upload::after {
    clear: both;
}
.profile-picture-lightbox .picture-upload .profile-picture-preview {
    float: left;
}
.profile-picture-lightbox .picture-upload .picture-upload-form {
    float: left;
    margin-left: 20px;
    position: relative;
}
.profile-picture-lightbox .picture-upload .picture-upload-form input[type="file"] {
    width: 200px;
}
.profile-picture-lightbox .picture-upload .uploading {
    background: url("../images/ajax-loader-spinner.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
}
.profile-picture-lightbox .crop-window {
    margin: 1em 0;
}
.profile-picture-lightbox .save-picture {
    margin-left: 250px;
    margin-top: 100px;
}
.profile-picture-lightbox .crop-form {
    overflow: hidden;
}
.profile-picture-lightbox .crop-form .rotate-button {
    color: #4092f1;
    content: "";
    cursor: pointer;
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .profile-picture-lightbox .crop-form .rotate-button {
    display: none;
}
.ie7 .profile-picture-lightbox .crop-form .rotate-button {
    display: none;
}
.profile-picture-lightbox .crop-form .rotate-button::before {
    content: "";
    display: inline-block;
}
.profile-picture-lightbox .crop-form .save-pic {
    float: right;
}
.welcome-lightbox .pod-header, .welcome-lightbox .pod-content {
    margin: 0 80px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .pod-header, .welcome-lightbox .pod-content {
    margin: 0 30px;
}
}
.welcome-lightbox .pod-header .separator, .welcome-lightbox .pod-content .separator {
    background: none repeat scroll 0 0 #dfdfdf;
    height: 1px;
    margin: 15px 0;
    position: relative;
}
.welcome-lightbox .pod-header .separator span, .welcome-lightbox .pod-content .separator span {
    background: none repeat scroll 0 0 #f47503;
    height: 1px;
    left: 50%;
    margin-left: -125px;
    position: absolute;
    width: 250px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .pod-header .separator span, .welcome-lightbox .pod-content .separator span {
    margin-left: -50px;
    width: 100px;
}
}
.welcome-lightbox .pod-header {
    position: relative;
    text-align: center;
}
.welcome-lightbox .pod-header .pro-picture-frame {
    background: none repeat scroll 0 0 padding-box #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    box-shadow: 0 5px 11px -10px #000000;
    display: inline-block;
    font-size: 83.08px;
    height: 134px;
    left: 50%;
    line-height: 134px;
    margin-left: -67px;
    position: absolute;
    text-align: center;
    top: -57px;
    width: 134px;
}
.welcome-lightbox .pod-header .pro-picture-frame .pro-picture {
    background-clip: padding-box;
    border-radius: 50%;
    display: inline-block;
    font-size: 74.4px;
    height: 120px;
    line-height: 120px;
    margin: 7px;
    text-align: center;
    width: 120px;
}
.welcome-lightbox .pod-header h3 {
    color: #666666;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 30.8px;
    font-style: italic;
    margin-top: 65px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .pod-header h3 {
    font-size: 22.4px;
}
}
.welcome-lightbox .pod-content h4 {
    font-size: 39.2px;
    letter-spacing: -1px;
    line-height: 42px;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .pod-content h4 {
    font-size: 28px;
    line-height: 33.6px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}
}
.welcome-lightbox .pod-content .post-message {
    color: #8e8e8e;
    font-size: 18.2px;
    margin-bottom: 25px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .pod-content .post-message {
    text-align: left;
}
}
.welcome-lightbox .get-started {
    text-align: center;
}
.welcome-lightbox .get-started .bttn {
    font-size: 23.8px;
    padding: 20px 28px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.welcome-lightbox .get-started .bttn {
    width: 100%;
}
}
