.body-clearfix{
	*zoom:1
}

.body-clearfix:before,.body-clearfix:after{
	content:"";
	display:table
}

.body-clearfix:after{
	clear:both
}

.row{
	display:block;
	width:970px;
	margin:0 -5px;
	*zoom:1
}

.row:before,.row:after{
	content:"";
	display:table
}

.row:after{
	clear:both
}

.dynamic-row{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	*zoom:1
}

.dynamic-row:before,.dynamic-row:after{
	content:"";
	display:table
}

.dynamic-row:after{
	clear:both
}

.dynamic-row>[class*="column"]:first-child{
	margin-left:0
}

.opacity50{
	filter:alpha(opacity=50);
	-khtml-opacity:.5;
	-moz-opacity:.5;
	opacity:.5
}

@-webkit-keyframes fadein{
	0%{
		opacity:0
	}

	100%{
		opacity:1
	}

}

@-moz-keyframes fadein{
	0%{
		opacity:0
	}

	100%{
		opacity:1
	}

}

@-ms-keyframes fadein{
	0%{
		opacity:0
	}

	100%{
		opacity:1
	}

}

@-o-keyframes fadein{
	0%{
		opacity:0
	}

	100%{
		opacity:1
	}

}

.write-review{
	background:#f7f7f7;
	-webkit-font-smoothing:antialiased
}

.write-review .reviewee-profile{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid rgba(0,0,0,0.1);
	background-color:#fafaf7;
	margin-bottom:2em;
	vertical-align:top;
	background-color:#fff
}

.write-review .reviewee-profile.reviewee-profile-with-picture>.reviewee-profile-picture{
	display:table-cell;
	vertical-align:middle;
	background:#444133
}

.write-review .reviewee-profile.reviewee-profile-with-picture>.reviewee-profile-picture a,.write-review .reviewee-profile.reviewee-profile-with-picture>.reviewee-profile-picture img{
	display:block;
	margin:0
}

.write-review .reviewee-profile.reviewee-profile-with-picture>.reviewee-profile-names{
	display:table-cell;
	vertical-align:middle
}

.write-review .reviewee-profile.reviewee-profile-with-picture.reviewee-profile-without-secondary-name>.reviewee-profile-names{
	vertical-align:middle
}

.write-review .reviewee-profile>.reviewee-profile-names{
	padding:15px 10px 15px 20px
}

.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-primary-name>h1,.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-primary-name .reviewee-profile-expand-link{
	display:inline-block
}

.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-primary-name>h1{
	font-size:1.8em;
	font-weight:700;
	margin-right:7px
}

.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-primary-name>.reviewee-profile-expand-link{
	margin-top:8px;
	font-size:85%
}

.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-secondary-name{
	margin-top:6px;
	font-size:16px;
	line-height:16px;
	font-weight:normal
}

.write-review .reviewee-profile>.reviewee-profile-names>.reviewee-profile-secondary-name>img{
	vertical-align:baseline;
	margin-right:6px;
	margin-bottom:-1px
}

.write-review .reviewee-profile.reviewee-profile-without-secondary-name .reviewee-profile-primary-name>h1{
	margin-right:0
}

.write-review .reviewee-profile.reviewee-profile-without-secondary-name .reviewee-profile-primary-name>.reviewee-profile-expand-link{
	display:block;
	font-size:95%;
	margin-top:6px
}

.write-review .review-form-block{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid rgba(0,0,0,0.1);
	background-color:#fafaf7;
	margin-bottom:2em
}

.write-review .review-form-block>.review-form-rating,.write-review .review-form-block .review-form-body{
	padding-left:40px;
	padding-right:40px
}

.write-review .review-form-block>.review-form-rating{
	*zoom:1;
	padding-top:15px;
	position:relative
}

.write-review .review-form-block>.review-form-rating:before,.write-review .review-form-block>.review-form-rating:after{
	content:"";
	display:table
}

.write-review .review-form-block>.review-form-rating:after{
	clear:both
}

.write-review .review-form-block>.review-form-rating .review-form-rating-label,.write-review .review-form-block>.review-form-rating .star-input-container,.write-review .review-form-block>.review-form-rating .rating-tip,.write-review .review-form-block>.review-form-rating .score-description{
	float:left
}

.write-review .review-form-block>.review-form-rating .review-form-rating-label,.write-review .review-form-block>.review-form-rating .score-description{
	height:26px;
	line-height:26px;
	font-size:16px;
	vertical-align:middle
}

.write-review .review-form-block>.review-form-rating .score-description{
	padding-right:.5em
}

.write-review .review-form-block>.review-form-rating .review-form-rating-label{
	font-weight:bold;
	margin-right:14px
}

.write-review .review-form-block>.review-form-rating .rating-tip{
	display:inline-block;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	background-color:#42b5e8;
	font-size:12px;
	font-weight:bold;
	padding:0 8px 0 12px;
	margin:2px 0;
	line-height:20px
}

.write-review .review-form-block>.review-form-rating .rating-tip-arrow{
	float:left;
	height:0;
	width:0;
	border-color:transparent #42b5e8 transparent transparent;
	border-style:solid;
	border-width:10px;
	margin:2px 0
}

.write-review .review-form-block>.review-form-rating .rating-tip-arrow-back{
	float:left;
	height:0;
	width:0;
	border-color:#42b5e8 transparent #42b5e8 #42b5e8;
	border-style:solid;
	border-width:10px;
	margin:2px 0
}

.write-review .review-form-block>.review-form-rating .score-description{
	font-style:italic;
	margin:0 0 0 12px
}

.write-review .review-form-block>.review-form-body{
	background:#fff;
	margin-top:15px;
	padding-bottom:25px;
	border-top:1px solid #dbdbdb
}

.write-review .review-form-block>.review-form-body .user-text-length-indicator-bar{
	width:140px;
	margin:12px 0
}

.write-review .review-form-block>.review-form-body .form-header{
	margin:0 0 5px;
	font-weight:bold
}

.write-review .review-form-block>.review-form-body .review-form-row{
	margin-bottom:15px;
	position:relative
}

.write-review .review-form-block>.review-form-body .review-form-row .add-on{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}

.write-review .review-form-block>.review-form-body .review-form-row input,.write-review .review-form-block>.review-form-body .review-form-row textarea{
	width:100%;
	-webkit-box-shadow:inset 0 1px 0 #eee;
	-moz-box-shadow:inset 0 1px 0 #eee;
	box-shadow:inset 0 1px 0 #eee;
	background-color:#fff
}

.write-review .review-form-block>.review-form-body .review-form-row input.private-half-width,.write-review .review-form-block>.review-form-body .review-form-row textarea.private-half-width{
	width:161px
}

.write-review .review-form-block>.review-form-body .review-form-row input.private-full-width,.write-review .review-form-block>.review-form-body .review-form-row textarea.private-full-width{
	width:360px
}

.write-review .review-form-block>.review-form-body .review-form-row textarea{
	margin-bottom:10px
}

.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row{
	*zoom:1
}

.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row:before,.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row:after{
	content:"";
	display:table
}

.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row:after{
	clear:both
}

.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row .review-form-split-field{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	float:left;
	width:50%;
	padding-left:5px
}

.write-review .review-form-block>.review-form-body .review-form-row.review-form-split-row .review-form-split-field:first-child{
	padding-left:0;
	padding-right:5px
}

.write-review .review-form-block>.review-form-body .review-form-privacy-explanation{
	margin:-3px 0 20px 0;
	background:url('/media/icon-lock-15x15.png') no-repeat left top;
	padding-top:2px;
	padding-left:20px;
	font-size:13px;
	line-height:16px;
	color:#cdc9c3
}

.write-review .review-form-block>.review-form-body .post-review-bttn{
	padding:10px 0;
	width:100%;
	font-size:14px
}

.write-review.no-box-shadow .reviewee-profile,.write-review.no-box-shadow .review-form-block{
	border:3px solid #deded7
}

.write-review .reviewer-tips h2{
	font-size:1.2em;
	line-height:1.5em;
	color:#444133;
	margin-bottom:1.5em
}

.write-review .reviewer-tips h3{
	font-size:1.1em;
	line-height:1.5em;
	margin:0;
	color:#767571
}

.write-review .reviewer-tips h3+p{
	margin-top:0;
	margin-bottom:2em;
	color:#767571
}

.write-review .reviewer-tips .fraud-notice{
	margin:0 0 20px 0;
	padding:10px 12px;
	background-color:#fff3c6;
	color:#444133;
	text-shadow:0 1px 0 rgba(255,255,255,0.6)
}

.write-review .reviewer-tips .fraud-notice.inactive{
	display:none
}

.write-review .reviewer-tips .fraud-notice h3,.write-review .reviewer-tips .fraud-notice p{
	color:#444133
}

.write-review .reviewer-tips .fraud-notice h3{
	font-size:1.4em;
	margin:0
}

.write-review .reviewer-tips .fraud-notice p{
	margin:.5em 0 0 0
}

.profile-small{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	position:relative;
	width:100%;
	border:1px solid #e4e5e2;
	background-color:#fff;
	padding-bottom:4%
}

.profile-small:before,.profile-small:after{
	content:"";
	position:absolute;
	z-index:-1;
	bottom:15px;
	left:10px;
	width:50%;
	height:20%;
	max-width:300px;
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg)
}

.profile-small:after{
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	transform:rotate(3deg);
	-ms-transform:rotate(3deg)
}

.profile-small .profile-small-details{
	float:left;
	width:70%
}

.profile-small p{
	font-size:.9em;
	line-height:1.3em;
	color:#5c5b58;
	margin:0 0 0 3%
}

.profile-small p.profile-small-title{
	font-weight:bold;
	font-size:1.1em;
	padding:4% 0 0 0;
	color:#444133
}

.profile-small p.profile-small-name{
	font-style:italic;
	width:74%
}

.profile-small .profile-small-contact{
	margin-top:10px
}

.profile-small img{
	float:left;
	width:13%;
	padding:1%;
	margin:3%;
	background-color:#fff;
	border:1px solid #e4e5e2
}

.ratings-row{
	width:100%;
	position:relative;
	display:inline-block;
	padding:20px 0 20px 0
}

.ratings-row img,.ratings-row .score,.ratings-row .star-input-container{
	float:left;
	margin:2px 3% 0 3%
}

.ratings-row p{
	font-size:1.2em;
	font-weight:700;
	color:#444133;
	margin:2px 0 0 3%;
	float:left
}

.ratings-row p.score-description,.ratings-row p.rating-tip{
	width:auto
}

.form-block li.review-textarea-wrap{
	padding-top:0
}

.review-text,.review-author{
	font-weight:normal
}

.review-author{
	font-style:italic
}

.review-reference{
	margin-top:5px
}

ul.profile-reviews>li{
	clear:both;
	position:relative;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-shadow:0 1px 0 rgba(255,255,255,0.6);
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	padding:15px 0;
	margin-top:10px
}

ul.profile-reviews>li .review-meta-data{
	overflow:hidden;
	padding:10px 0 7px 2%;
	z-index:99;
	margin-bottom:5px
}

ul.profile-reviews>li .review-meta-data a{
	font-weight:600
}

ul.profile-reviews>li .review-meta-data .review-basic-data{
	display:block;
	vertical-align:middle
}

ul.profile-reviews>li .review-meta-data .score{
	position:absolute;
	display:block;
	top:25px;
	left:15px;
	line-height:28px;
	vertical-align:middle
}

ul.profile-reviews>li .review-meta-data.has-score .review-basic-data{
	margin-left:138px
}

ul.profile-reviews>li .review-meta-data.can-respond .review-basic-data{
	margin-right:120px
}

ul.profile-reviews>li .review-meta-data .bttn{
	margin-right:0;
	width:auto;
	padding-left:10px;
	padding-right:10px
}

ul.profile-reviews>li>.message{
	margin-top:20px
}

.review-respond-wrap{
	float:left;
	margin-top:10px;
	width:100%
}

.review-respond-wrap li{
	width:94%;
	padding:10px 3% 10px 3%
}

form.message .bttn-wrap>*{
	display:inline-block;
	margin-right:20px;
	vertical-align:middle
}

form.write-response{
	margin:0 3%
}

form.write-response .bttn-wrap{
	padding-bottom:0
}
.body-text h1, h1.body-text, h1.body-title {
    margin: 0.67em 0px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: #444133;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0px;
}
.glorious-navigation {
    background: -moz-linear-gradient(center top , #FAFAFA, #D4D4D4) repeat scroll 0% 0% #E7E7E7!important;
    border-bottom: 1px solid #BDBDBD!important;
    box-shadow: 0px 1px 1px #DCDCDC inset!important;
}

.write-review .review-form-block > .review-form-rating, .write-review .review-form-block .review-form-body {
    padding-left: 40px!important;
    padding-right: 40px!important;
}


.bttn.blue:hover, .bttn.blue:focus {
    background: -moz-linear-gradient(center top , #B3DBEC, #38A2CE) repeat scroll 0% 0% #75BFDD!important;
	background: #75BFDD!important;

}
.bttn.blue {
    color: #FFF!important;
    background: -moz-linear-gradient(center top , #75BFDD, #38A2CE) repeat scroll 0% 0% #57B0D6!important;
    border-color: #38A2CE!important;
}

input, input[type="text"], input[type="url"], input[type="email"], input[type="number"], input[type="phone"], input[type="password"], input[type="tel"], textarea {
    box-sizing: border-box;
    background-color: #FAFAF7;
    padding: 6px;
    border: 1px solid #DEDBD8;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 14px;
    color: #5C5B58;
    outline: medium none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.bttn {
    margin: 0px auto;
    display: block;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #CFCFCF;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px;
    width: 30%;
    float: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.bttn.blue:hover, .bttn.blue:focus {
    background: -moz-linear-gradient(center top , #B3DBEC, #38A2CE) repeat scroll 0% 0% #75BFDD;
}

.star-input-container a.star-input {
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 2px;
    background: url('../images/sprites_bg_rating_2.png') no-repeat scroll -30px -230px #808080;
    overflow: hidden;
    outline: medium none;
}

.star-input-container a.star-input:hover,.star-input-container a.star-input.active{
	background-position:0 -230px!important;
	outline:none;
}

.footer .footer-copyright .copyright {
    float: left;
    height: 27px;
    padding-top: 6px;
    color: #A0A09A;
    font-size: 0.9em;
}

#ui-wrapper, .wrapper {
    width: 950px;
    margin: 0px auto;
    position: relative;
}

.content p {
    margin: 0.8em 0px;
}

.good-form.small fieldset ol li {
    margin-bottom: 10px;
}

.good-form ol li {
    position: relative;
    margin-bottom: 15px;
	    margin-top: 20px;
    vertical-align: top;
    z-index: 2;
}
label {
    font-weight: 700;
    color: #444133;
    font-size: 1em;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

fieldset {
    border: 0px none;
    padding: 0px;
    margin: 0px;
}


.good-form.small fieldset ol li {
    margin-bottom: 10px;
}
.good-form label + ol, .good-form fieldset.group legend + ol {
    margin-top: 10px;
}

#ui-wrapper .bttn {
    display: inline-block;
    width: auto;
}

.bttn.blue {
    color: #FFF;
    background: -moz-linear-gradient(center top , #75BFDD, #38A2CE) repeat scroll 0% 0% #57B0D6;
    border-color: #38A2CE;
}
.bttn.medium {
    font-size: 16px !important;
    padding: 7px 14px !important;
    line-height: 16px !important;
}

.button-holder a, .button-holder > span, .button-holder > div.loader {
    float: left;
    margin-right: 25px;
    font-size: 14px;
    line-height: 39px;
}