
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.switch-label {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
.switch {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -3.64706px;
    width: 50.1px;
}
.switch input[type="checkbox"] {
    left: -9999px;
    margin: 12px 0 0 19.05px;
    position: fixed;
    text-align: center;
    top: 0;
}
.switch input[type="checkbox"]:checked ~ label::before {
    left: 22.2px;
}
.switch input[type="checkbox"]:checked ~ label {
    background-color: #00e459;
}
.switch input[type="checkbox"]:focus ~ label::before {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.ie7 .switch input[type="checkbox"], .ie8 .switch input[type="checkbox"] {
    display: block;
    left: 0;
    margin-top: 0;
    position: relative;
}
.switch label {
    background-clip: padding-box;
    background-color: #e4e4e4;
    border-radius: 16.6667px;
    display: block;
    height: 100%;
    transition: background-color 0.3s ease 0s;
    width: 100%;
}
.ie7 .switch label, .ie8 .switch label {
    display: none;
}
.switch label::before {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 16.6667px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    content: "";
    height: 25.8px;
    left: 2.58px;
    position: absolute;
    top: 2.15px;
    transition: left 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
    width: 25.8px;
    z-index: 1;
}
.switch label.switch-trigger {
    margin: 0;
}
.upload-pod.cropping {
    width: 820px;
}
.upload-pod .loading-section {
    padding: 30px;
    text-align: center;
}
.upload-pod .crop-section {
    height: 375px;
    width: 800px;
}
.upload-pod .crop-section .crop-photo-container {
    float: left;
    padding-left: 25px;
    text-align: center;
}
.upload-pod .crop-section .crop-photo-container .crop-photo-block {
    margin-top: 10px;
    width: 400px;
}
.upload-pod .crop-section .crop-photo-container .crop-photo-block div.jcrop-holder {
    margin: 0 auto;
}
.upload-pod .crop-section .crop-photo-container .upload-different-photo {
    color: #aeaeae;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
.upload-pod .crop-section .crop-preview-separator {
    background: url("/media/quotes/crop-preview-separator.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    float: left;
    height: 259px;
    width: 50px;
}
.upload-pod .crop-section .preview-photo-container {
    float: right;
    padding-right: 25px;
    text-align: center;
}
.upload-pod .crop-section .preview-photo-container .preview-photo-block {
    height: 230px;
    margin: 10px 0 20px;
    overflow: hidden;
    width: 230px;
}
body {
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
body {
    background: none repeat scroll 0 0 #ebebeb;
}
}
.gray-background {
    background: none repeat scroll 0 0 #f9f9f9;
}
.wrapper.chooser {
    margin-top: 0;
    padding-top: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.piede {
    display: none;
}
}
.settings-navigation {
    padding-bottom: 15px;
    padding-top: 32px;
}
.settings-navigation h2 {
    color: #434343;
    font-size: 21.994px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings-navigation h2 {
    font-size: 18.2px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings-navigation {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #d2d2d2;
    font-size: 16.8px;
    margin-bottom: 0;
    padding-bottom: 14px;
    padding-top: 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings-navigation .wrapper {
    padding-top: 13px;
}
}
.settings-navigation .back {
    font-size: 18.2px;
    position: absolute;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings-navigation .back {
    font-size: 16.8px;
    line-height: 25.2px;
}
}
.settings-navigation .back::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings-navigation .back::before {
    display: none;
}
.ie7 .settings-navigation .back::before {
    display: none;
}
.settings-navigation .back.native {
    position: relative;
}
.picture {
    background-size: contain;
    height: 250px;
    position: relative;
    width: 250px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.picture {
    height: auto;
    width: 250px;
}
}
.picture img {
    background-clip: padding-box;
    border-radius: 50%;
    display: block;
    height: 250px;
    width: 250px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.picture img {
    height: auto;
    width: 100%;
}
}
.picture .change-picture {
    background: none repeat scroll 0 0 padding-box rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    height: 250px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 250px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.picture .change-picture {
    height: 100%;
    opacity: 1;
    width: 100%;
}
}
.picture .change-picture:hover {
    opacity: 1;
}
.picture .change-picture span {
    color: #fff;
    display: inline-block;
}
.picture .change-picture span.icon-font-camera {
    font-size: 53.2px;
    margin-top: 35%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.picture .change-picture span.icon-font-camera {
    margin-top: 40%;
}
}
a.tile {
    background: none repeat scroll 0 0 padding-box #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #666;
    display: block;
    height: 216px;
    text-align: center;
    transition: color 0.5s ease 0s;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile {
    background-clip: padding-box;
    border-radius: 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 15.4px;
    line-height: 35px;
    padding-bottom: 9.8px;
    padding-top: 9.8px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile {
    height: auto;
    text-align: left;
}
}
a.tile::after {
    content: "";
    display: none;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
    transition: color 0.5s ease 0s;
}
.ie7 a.tile::after {
    display: none;
}
.ie7 a.tile::after {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile::after {
    font-size: 21px;
    margin-left: 20px;
    margin-right: 9.8px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile::after {
    color: #d2d2d2;
    display: block;
    float: right;
}
}
a.tile:hover {
    border: 1px solid #aeaeae;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile:hover {
    background: none repeat scroll 0 0 #fff;
    color: #4092f1;
}
}
a.tile:hover::after {
    color: #000;
}
a.tile .icon-font {
    color: #d2d2d2;
    float: left;
    font-size: 42px;
    margin-bottom: 14px;
    margin-top: 69.5px;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font {
    font-size: 21px;
    margin-left: 20px;
    margin-right: 9.8px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font {
    background-clip: padding-box;
    border-radius: 8px;
    padding: 0 8px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font {
    height: auto;
    margin-top: 0;
    width: auto;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font-user {
    background: none repeat scroll 0 0 #8e8e8e;
    color: #fff;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font-tools {
    background: none repeat scroll 0 0 #f47503;
    color: #fff;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font-direction {
    background: none repeat scroll 0 0 #4092f1;
    color: #fff;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile .icon-font-flag {
    background: none repeat scroll 0 0 #ff4949;
    color: #fff;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
a.tile:hover .icon-font {
    color: #fff;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper.content {
    margin: 0;
    padding: 0;
}
}
hr {
    border-top: 1px solid #ebebeb;
    margin-bottom: 28px;
    margin-top: 28px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
hr {
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings h2 {
    padding-bottom: 0;
    padding-top: 28px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings h2 {
    margin-left: 20px;
}
}
.settings h3 {
    font-size: 11.9px;
    font-weight: bold;
    line-height: 21px;
    margin: 0 0 14px;
    text-transform: uppercase;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings h3 {
    color: #8e8e8e;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 28px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings h3 {
    margin-left: 20px;
}
}
.settings ul li {
    list-style-type: none;
    margin-bottom: 14px;
    margin-left: 0;
}
.settings ul li .secondary {
    color: #4092f1;
    padding-left: 8px;
}
.settings ul li .secondary:hover {
    color: #70adf4;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .secondary {
    display: none;
}
}
.settings ul li .default {
    color: #aeaeae;
    font-size: 12.6px;
    padding-left: 8px;
}
.settings ul li .primary {
    color: #666;
}
.settings ul li .primary .edit {
    color: #4092f1;
    padding-left: 8px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary .edit {
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 15.4px;
    line-height: 35px;
    padding-bottom: 9.8px;
    padding-top: 9.8px;
}
}
.settings ul li .primary::before, .settings ul li .primary::after {
    color: #d2d2d2;
    font-size: 16.8px;
    margin-right: 9.8px;
    transition: color 0.5s ease 0s;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary::before, .settings ul li .primary::after {
    font-size: 21px;
    margin-left: 20px;
    margin-right: 9.8px;
}
}
.settings ul li .primary:hover::before, .settings ul li .primary:hover::after {
    color: #000;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary::before {
    background-clip: padding-box;
    border-radius: 8px;
    padding: 0 8px;
}
}
.settings ul li .primary::after {
    content: "";
    display: none;
    float: right;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary::after {
    display: none;
}
.ie7 .settings ul li .primary::after {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary::after {
    display: block;
    float: none;
    position: absolute;
    right: 0;
    top: 14px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary {
    overflow: hidden;
    padding-right: 28px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
}
.settings ul li .primary.user::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.user::before {
    display: none;
}
.ie7 .settings ul li .primary.user::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.user::before {
    background: none repeat scroll 0 0 #8e8e8e;
    color: #fff;
}
}
.settings ul li .primary.email::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.email::before {
    display: none;
}
.ie7 .settings ul li .primary.email::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.email::before {
    background: none repeat scroll 0 0 #4092f1;
    color: #fff;
}
}
.settings ul li .primary.tools::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.tools::before {
    display: none;
}
.ie7 .settings ul li .primary.tools::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.tools::before {
    background: none repeat scroll 0 0 #f47503;
    color: #fff;
}
}
.settings ul li .primary.lock::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.lock::before {
    display: none;
}
.ie7 .settings ul li .primary.lock::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.lock::before {
    background: none repeat scroll 0 0 #4092f1;
    color: #fff;
}
}
.settings ul li .primary.location::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.location::before {
    display: none;
}
.ie7 .settings ul li .primary.location::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.location::before {
    background: none repeat scroll 0 0 #4092f1;
    color: #fff;
}
}
.settings ul li .primary.phone::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.phone::before {
    display: none;
}
.ie7 .settings ul li .primary.phone::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.phone::before {
    background: none repeat scroll 0 0 #00e459;
    color: #fff;
}
}
.settings ul li .primary.credit-card::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.credit-card::before {
    display: none;
}
.ie7 .settings ul li .primary.credit-card::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.credit-card::before {
    background: none repeat scroll 0 0 #8e8e8e;
    color: #fff;
}
}
.settings ul li .primary.cancel::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.cancel::before {
    display: none;
}
.ie7 .settings ul li .primary.cancel::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.cancel::before {
    background: none repeat scroll 0 0 #ff4949;
    color: #fff;
}
}
.settings ul li .primary.add-credit-card, .settings ul li .primary.delete-link {
    color: #4092f1;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.add-credit-card, .settings ul li .primary.delete-link {
    color: #666;
    padding-left: 0;
}
}
.settings ul li .primary.add-credit-card::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .settings ul li .primary.add-credit-card::before {
    display: none;
}
.ie7 .settings ul li .primary.add-credit-card::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li .primary.add-credit-card::before {
    background-clip: padding-box;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    color: #d2d2d2;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.settings ul li {
    margin: 0;
    padding: 0;
}
}
.credit-card-group .default-credit-card, .credit-card-group .delete-credit-card {
    display: inline;
    margin-left: 8px;
}
.credit-card-group .default-credit-card button, .credit-card-group .delete-credit-card button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #4092f1;
}
.credit-card-group .default-credit-card button:hover, .credit-card-group .delete-credit-card button:hover {
    color: #70adf4;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.credit-card-group .card-info .credit-card::after {
    display: none;
}
}
.delete-link {
    color: #4092f1;
}
.mobile-gap {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.mobile-gap {
    background: none repeat scroll 0 0 #ebebeb;
    display: block;
    height: 57.4px;
    margin: 0;
}
}
@keyframes slideAndAppearLine {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 45px;
    opacity: 0;
}
100% {
    height: 45px;
    opacity: 1;
}
}
@keyframes slideAndAppearLine {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 45px;
    opacity: 0;
}
100% {
    height: 45px;
    opacity: 1;
}
}
@keyframes disappearAndSlideLine {
0% {
    display: block;
    height: 45px;
    opacity: 1;
}
25% {
    display: block;
    height: 45px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
@keyframes disappearAndSlideLine {
0% {
    display: block;
    height: 45px;
    opacity: 1;
}
25% {
    display: block;
    height: 45px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
@keyframes slideAndAppearMobileLine {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 62px;
    opacity: 0;
}
100% {
    height: 62px;
    opacity: 1;
}
}
@keyframes slideAndAppearMobileLine {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 62px;
    opacity: 0;
}
100% {
    height: 62px;
    opacity: 1;
}
}
@keyframes disappearAndSlideMobileLine {
0% {
    display: block;
    height: 62px;
    opacity: 1;
}
25% {
    display: block;
    height: 62px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
@keyframes disappearAndSlideMobileLine {
0% {
    display: block;
    height: 62px;
    opacity: 1;
}
25% {
    display: block;
    height: 62px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
@keyframes slideAndAppearMap {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 238px;
    opacity: 0;
}
100% {
    height: 238px;
    opacity: 1;
}
}
@keyframes slideAndAppearMap {
0% {
    display: block;
    height: 0;
    opacity: 0;
}
75% {
    height: 238px;
    opacity: 0;
}
100% {
    height: 238px;
    opacity: 1;
}
}
@keyframes disappearAndSlideMap {
0% {
    display: block;
    height: 238px;
    opacity: 1;
}
25% {
    display: block;
    height: 238px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
@keyframes disappearAndSlideMap {
0% {
    display: block;
    height: 238px;
    opacity: 1;
}
25% {
    display: block;
    height: 238px;
    opacity: 0;
}
100% {
    display: block;
    height: 0;
    opacity: 0;
}
}
.notifications ul li, .leads ul li, .travel ul li {
    margin-bottom: 0;
    overflow: hidden;
}
.notifications ul li > label, .leads ul li > label, .travel ul li > label {
    color: #666;
    font-weight: normal;
    margin-bottom: 0;
    max-width: 75%;
    padding-bottom: 14px;
    padding-top: 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li > label, .leads ul li > label, .travel ul li > label {
    line-height: 39.2px;
    padding-bottom: 0;
    padding-top: 0;
}
}
.notifications ul li .switch, .leads ul li .switch, .travel ul li .switch {
    float: right;
    top: 4px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li .switch, .leads ul li .switch, .travel ul li .switch {
    right: 14px;
}
}
.notifications ul li .learn-link, .leads ul li .learn-link, .travel ul li .learn-link {
    padding-left: 7px;
    position: relative;
    top: 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li .learn-link, .leads ul li .learn-link, .travel ul li .learn-link {
    padding-bottom: 0;
    padding-top: 0;
    top: 4.2px;
}
}
.notifications ul li .edit-phone, .leads ul li .edit-phone, .travel ul li .edit-phone {
    color: #aeaeae;
    display: block;
    padding-bottom: 14px;
    padding-left: 32.2px;
    padding-top: 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li .edit-phone, .leads ul li .edit-phone, .travel ul li .edit-phone {
    padding-bottom: 0;
    padding-left: 56px;
    padding-top: 0;
}
}
.notifications ul li .edit-phone .edit, .leads ul li .edit-phone .edit, .travel ul li .edit-phone .edit {
    color: #4092f1;
    padding-left: 7px;
}
.notifications ul li.hidden, .leads ul li.hidden, .travel ul li.hidden {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li, .leads ul li, .travel ul li {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 15.4px;
    line-height: 35px;
    padding-bottom: 9.8px;
    padding-top: 9.8px;
}
}
.notifications ul li.animate-enter, .leads ul li.animate-enter, .travel ul li.animate-enter {
    animation: 0.8s ease 0s normal none 1 running slideAndAppearLine;
    display: block;
    height: auto;
    opacity: 1;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li.animate-enter, .leads ul li.animate-enter, .travel ul li.animate-enter {
    animation: 0.8s ease 0s normal none 1 running slideAndAppearMobileLine;
}
}
.notifications ul li.animate-leave, .leads ul li.animate-leave, .travel ul li.animate-leave {
    animation: 0.8s ease 0s normal none 1 running disappearAndSlideLine;
    height: 0;
    opacity: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li.animate-leave, .leads ul li.animate-leave, .travel ul li.animate-leave {
    animation: 0.8s ease 0s normal none 1 running disappearAndSlideMobileLine;
    border: medium none;
    padding: 0;
}
}
.notifications ul li.animate-enter-active, .leads ul li.animate-enter-active, .travel ul li.animate-enter-active {
    display: block;
    height: auto;
    opacity: 1;
}
.notifications ul li.animate-leave-active, .leads ul li.animate-leave-active, .travel ul li.animate-leave-active {
    height: 0;
    opacity: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li.animate-leave-active, .leads ul li.animate-leave-active, .travel ul li.animate-leave-active {
    border: medium none;
    padding: 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.leads ul li > label {
    margin-left: 20px;
}
}
.leads .support-cta {
    color: #8e8e8e;
    font-size: 14px;
    margin-top: 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.leads .support-cta {
    padding: 14px;
}
}
.notifications ul, .travel ul {
    margin-bottom: 21px;
}
.notifications ul li > label::before, .travel ul li > label::before {
    color: #d2d2d2;
    font-size: 16.8px;
    margin-right: 9.8px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications ul li > label::before, .travel ul li > label::before {
    font-size: 21px;
    margin-left: 20px;
    margin-right: 9.8px;
}
}
.notifications .emails li > label::before, .travel .emails li > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .notifications .emails li > label::before, .ie7 .travel .emails li > label::before {
    display: none;
}
.ie7 .notifications .emails li > label::before, .ie7 .travel .emails li > label::before {
    display: none;
}
.notifications .sms li > label::before, .travel .sms li > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .notifications .sms li > label::before, .ie7 .travel .sms li > label::before {
    display: none;
}
.ie7 .notifications .sms li > label::before, .ie7 .travel .sms li > label::before {
    display: none;
}
.notifications .mobile li > label, .travel .mobile li > label {
    color: #8e8e8e;
    padding-left: 32.2px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.notifications .mobile li > label, .travel .mobile li > label {
    line-height: 18.2px;
    padding-left: 56px;
}
}
.notifications .account li > label::before, .travel .account li > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .notifications .account li > label::before, .ie7 .travel .account li > label::before {
    display: none;
}
.ie7 .notifications .account li > label::before, .ie7 .travel .account li > label::before {
    display: none;
}
.notifications .project li > label::before, .travel .project li > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .notifications .project li > label::before, .ie7 .travel .project li > label::before {
    display: none;
}
.ie7 .notifications .project li > label::before, .ie7 .travel .project li > label::before {
    display: none;
}
.travel ul {
    padding: 0;
}
.travel ul .map {
    line-height: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.travel ul .map {
    padding: 0;
}
}
.travel ul .map.animate-enter {
    animation: 0.8s ease 0s normal none 1 running slideAndAppearMap;
}
.travel ul .map.animate-leave {
    animation: 0.8s ease 0s normal none 1 running disappearAndSlideMap;
}
.travel ul .to-customer > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .travel ul .to-customer > label::before {
    display: none;
}
.ie7 .travel ul .to-customer > label::before {
    display: none;
}
.travel ul .to-provider > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .travel ul .to-provider > label::before {
    display: none;
}
.ie7 .travel ul .to-provider > label::before {
    display: none;
}
.travel ul .remote > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .travel ul .remote > label::before {
    display: none;
}
.ie7 .travel ul .remote > label::before {
    display: none;
}
.travel ul .distance > label::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .travel ul .distance > label::before {
    display: none;
}
.ie7 .travel ul .distance > label::before {
    display: none;
}
.travel ul li > label {
    float: left;
}
.travel select {
    background-color: #fff;
    border-color: #4092f1;
    color: #4092f1;
    float: right;
    font-size: 14px;
    height: 35px;
    width: auto;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.travel select {
    border: medium none;
    color: #aeaeae;
    margin-right: 14px;
}
}
.verify-phone .dynamic-row .column-or {
    width: 20px;
}
.verify-phone .dynamic-row .column-or p {
    font-size: 1.2em;
    font-style: italic;
    margin: 80px 0 0;
}
.info-tables table {
    width: 100%;
}
.point-history-title {
    float: left;
    padding-bottom: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.point-history-title {
    font-size: 19.6px;
    width: auto !important;
}
}
.bttn.tiny.earn-point-button {
    margin: 2px 0 10px 20px;
    padding: 8px 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.bttn.tiny.earn-point-button {
    clear: both;
    display: block;
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
.ie7 .bttn.tiny.earn-point-button {
    padding-left: 0;
    padding-right: 0;
}
}
.points-container {
    padding: 30px;
}
.points-container .total-title {
    padding: 30px 0 10px;
}
.points-container .total-title .total-points {
    background-clip: padding-box;
    border-radius: 8px;
    font-size: 16.8px;
    margin-right: 3px;
    padding: 5px 10px;
}
.points-container .data-table {
    margin-top: 20px;
    width: 100%;
}
.points-container .data-table .point-row {
    padding: 10px 0;
}
.points-container .data-table .point-row .seekmi-pts {
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 13px;
}
.points-container .data-table .point-row .title {
    float: left;
}
.points-container .data-table .point-row .title .service-name {
    color: #aeaeae;
    font-size: 12.6px;
}
.pod-background-check h2 .seekmi-pts {
    font-size: 14px;
}
.pod-background-check .purchase-now .price {
    font-size: 21px;
    margin-left: 20px;
}
.pod-verifications .pod-content > div {
    border-top: 1px solid #d2d2d2;
    padding-top: 10px;
}
.pod-verifications .pod-content > div:first-of-type {
    border-top: medium none;
    padding-top: 0;
}
.pod-verifications .connect-links {
    line-height: inherit;
    list-style: outside none none;
    margin: 0 0 14px;
    padding: 0;
}
.pod-verifications .connect-links * {
    line-height: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pod-verifications .connect-links li {
    margin: 0 0 3.5px;
}
.pod-licenses .license {
    margin-bottom: 28px;
}
.pod-licenses table {
    width: 100%;
}
.pod-licenses table th {
    width: 140px;
}
.pod-add-credit-card .pod-content {
    padding-right: 32px;
}
.pod-add-credit-card .pod-content li {
    margin: 0 0 13px;
}
.pod-add-credit-card .pod-content .item-error {
    color: #d51818;
}
.pod-add-credit-card .pod-content .item-error input, .pod-add-credit-card .pod-content .item-error select {
    border: 1px solid #d51818;
}
.pod-add-credit-card .pod-content .item-error .error-text {
    color: #d51818;
}
.pod-add-credit-card .pod-content .global-form-error {
    margin: 1em 0;
}
.service-notifications .form-field input[type="checkbox"], .account-notifications .form-field input[type="checkbox"] {
    margin: 0 5px 0 0;
}
.service-notifications .hint, .account-notifications .hint {
    clear: both;
    color: #8e8e8e;
    display: block;
    font-size: 12.6px;
}
.settings-second-level {
    margin-top: 20px;
}
.saved {
    animation: 3s ease 0s normal none 1 running saved-animation;
    color: #11b30b;
}
.status-container {
    clear: left;
}
@keyframes saved-animation {
0% {
    color: #11b30b;
}
100% {
    color: inherit;
}
}
@keyframes saved-animation {
0% {
    color: #11b30b;
}
100% {
    color: inherit;
}
}
.ie7 .verifications-table .icon-check {
    margin-left: 20px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-responsive .profile-picture {
    max-height: 100px;
    max-width: 100px;
}
}
