
.trigger-button {
    font-size: 17px;

    position: relative;
    top: 100px;

    display: block;

    margin: auto;
    padding: 10px 30px;

    cursor: pointer;

    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #3498db;
    box-shadow: 0 5px 1px #196090;
}

.trigger-button:hover {
    background: #196090;
    box-shadow: 0 5px 1px #0a2639;
}

.trigger-button:active {
    border-top: 5px solid white;
    box-shadow: none;
}


/* Modal Base CSS */
.jh-overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    opacity: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    background: rgba(0,0,0,.6);
}

.jh-modal {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;

    opacity: 0;

    width: 94%;
    padding: 24px 20px;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #fff;
}

.jh-modal.jh-open.jh-anchored {
    top: 20px;

    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.jh-modal.jh-open {
    opacity: 1;
}

.jh-overlay.jh-open {
    opacity: 1;
}

/* Close Button */
.jh-close {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;

    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px 7px 7px;

    cursor: pointer;

    color: #fff;
    border: 0;
    outline: none;
    background: #e74c3c;
}

.jh-close:hover {
    background: #c0392b;
}


/* Fade & Drop Animation */

.jh-overlay.fade-and-drop {
    display: block;

    opacity: 0;
}

.jh-modal.fade-and-drop {
    top: -300%;

    opacity: 1;

    display: block;
}

.jh-modal.fade-and-drop.jh-open {
    top: 10%;

    -webkit-transition: 500ms top 500ms ease;
       -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
         -o-transition: 500ms top 500ms ease;
            transition: 500ms top 500ms ease;
}

.jh-modal.fade-and-drop.jh-open.jh-anchored {

    -webkit-transition: 500ms top 500ms ease;
       -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
         -o-transition: 500ms top 500ms ease;
            transition: 500ms top 500ms ease;
}

.jh-overlay.fade-and-drop.jh-open {
    top: 0;

    -webkit-transition: 500ms opacity ease;
       -moz-transition: 500ms opacity ease;
        -ms-transition: 500ms opacity ease;
         -o-transition: 500ms opacity ease;
            transition: 500ms opacity ease;

    opacity: 1;
}

.jh-modal.fade-and-drop {
    -webkit-transition: 500ms top ease;
       -moz-transition: 500ms top ease;
        -ms-transition: 500ms top ease;
         -o-transition: 500ms top ease;
            transition: 500ms top ease;
}

.jh-overlay.fade-and-drop {
    -webkit-transition: 500ms opacity 500ms ease;
       -moz-transition: 500ms opacity 500ms ease;
        -ms-transition: 500ms opacity 500ms ease;
         -o-transition: 500ms opacity 500ms ease;
            transition: 500ms opacity 500ms ease;
}

/* Fade & Spin Animation */
.jh-overlay.zoom-and-spin
{
    display: block;

    height: 0px;

    opacity: 0;
}

.jh-modal.zoom-and-spin
{

    -webkit-transition: 500ms -webkit-transform ease;
       -moz-transition: 500ms    -moz-transform ease;
        -ms-transition: 500ms     -ms-transform ease;
         -o-transition: 500ms      -o-transform ease;
            transition: 500ms         transform ease;
    -webkit-transform: translate(-50%, -50%) scale(0) rotateX(0deg);
       -moz-transform: translate(-50%, -50%) scale(0) rotateX(0deg);
        -ms-transform: translate(-50%, -50%) scale(0) rotateX(0deg);
         -o-transform: translate(-50%, -50%) scale(0) rotateX(0deg);
            transform: translate(-50%, -50%) scale(0) rotateX(0deg);

    opacity: 1;

    display: block;
}

.jh-modal.zoom-and-spin.jh-open
{
    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
    -webkit-transform: translate(-50%, -50%) scale(1) rotateX(360deg);
       -moz-transform: translate(-50%, -50%) scale(1) rotateX(360deg);
        -ms-transform: translate(-50%, -50%) scale(1) rotateX(360deg);
         -o-transform: translate(-50%, -50%) scale(1) rotateX(360deg);
            transform: translate(-50%, -50%) scale(1) rotateX(360deg);
}

.jh-modal.zoom-and-spin.jh-open.jh-anchored
{

    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
}

.jh-overlay.zoom-and-spin.jh-open
{
    top: 0;

    height: 100%;

    -webkit-transition: 500ms all ease;
       -moz-transition: 500ms all ease;
        -ms-transition: 500ms all ease;
         -o-transition: 500ms all ease;
            transition: 500ms all ease;

    opacity: 1;
}

.jh-overlay.zoom-and-spin
{
    -webkit-transition: 500ms all 500ms ease;
       -moz-transition: 500ms all 500ms ease;
        -ms-transition: 500ms all 500ms ease;
         -o-transition: 500ms all 500ms ease;
            transition: 500ms all 500ms ease;
}

/* Zoom Animation */
.jh-overlay.zoom
{
    display: block;

    opacity: 0;
}

.jh-modal.zoom
{

    -webkit-transition: 500ms -webkit-transform ease;
       -moz-transition: 500ms    -moz-transform ease;
        -ms-transition: 500ms     -ms-transform ease;
         -o-transition: 500ms      -o-transform ease;
            transition: 500ms         transform ease;
    -webkit-transform: translate(-50%, -50%) scale(0);
       -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
         -o-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);

    opacity: 1;

    display: block;
}

.jh-modal.zoom.jh-open
{
    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
       -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
         -o-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
}

.jh-modal.zoom.jh-open.jh-anchored
{

    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
}

.jh-overlay.zoom.jh-open
{
    top: 0;

    -webkit-transition: 500ms opacity ease;
       -moz-transition: 500ms opacity ease;
        -ms-transition: 500ms opacity ease;
         -o-transition: 500ms opacity ease;
            transition: 500ms opacity ease;

    opacity: 1;
}

.jh-overlay.zoom
{
    -webkit-transition: 500ms opacity 500ms ease;
       -moz-transition: 500ms opacity 500ms ease;
        -ms-transition: 500ms opacity 500ms ease;
         -o-transition: 500ms opacity 500ms ease;
            transition: 500ms opacity 500ms ease;
}
