
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.title-wrapper {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 35.994px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}
.title-wrapper.choose-account {
    padding: 50px 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.title-wrapper.choose-account {
    padding: 20px 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.title-wrapper {
    font-size: 21.994px;
    padding-bottom: 20px;
}
}
.login-wrapper, .signup-wrapper, .reset-password-wrapper, .choose-account-wrapper {
    margin: 0 auto;
    padding: 30px 40px 2px;
    text-align: center;
}
.login-wrapper .box, .signup-wrapper .box, .reset-password-wrapper .box, .choose-account-wrapper .box {
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 40px 20px;
    text-align: left;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.login-wrapper .box, .signup-wrapper .box, .reset-password-wrapper .box, .choose-account-wrapper .box {
    padding: 10px 30px;
    text-align: center;
}
}
.login-wrapper .box h2, .signup-wrapper .box h2, .reset-password-wrapper .box h2, .choose-account-wrapper .box h2 {
    color: #434343;
}
.login-wrapper .box fieldset, .signup-wrapper .box fieldset, .reset-password-wrapper .box fieldset, .choose-account-wrapper .box fieldset {
    text-align: left;
}
.login-wrapper .box fieldset .form-field input, .signup-wrapper .box fieldset .form-field input, .reset-password-wrapper .box fieldset .form-field input, .choose-account-wrapper .box fieldset .form-field input {
    padding-bottom: 15px;
    padding-top: 15px;
}
.login-wrapper .box fieldset .form-field.switch-field, .signup-wrapper .box fieldset .form-field.switch-field, .reset-password-wrapper .box fieldset .form-field.switch-field, .choose-account-wrapper .box fieldset .form-field.switch-field {
    padding: 10px 0 4px;
}
.login-wrapper .box fieldset .form-field.switch-field .switch, .signup-wrapper .box fieldset .form-field.switch-field .switch, .reset-password-wrapper .box fieldset .form-field.switch-field .switch, .choose-account-wrapper .box fieldset .form-field.switch-field .switch {
    float: right;
    margin-right: 16px;
    top: -6px;
}
.login-wrapper .box fieldset .submit-bttn, .signup-wrapper .box fieldset .submit-bttn, .reset-password-wrapper .box fieldset .submit-bttn, .choose-account-wrapper .box fieldset .submit-bttn {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
.ie7 .login-wrapper .box fieldset .submit-bttn, .ie7 .signup-wrapper .box fieldset .submit-bttn, .ie7 .reset-password-wrapper .box fieldset .submit-bttn, .ie7 .choose-account-wrapper .box fieldset .submit-bttn {
    padding-left: 0;
    padding-right: 0;
}
.choose-account-wrapper {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.choose-account-wrapper {
    padding: 0;
    width: 100%;
}
}
.choose-account-wrapper .box .account-description {
    color: #8e8e8e;
    padding-top: 10px;
}
.choose-account-wrapper .box .create-accout-bttn {
    display: block;
    margin-top: 30px;
    width: 100%;
}
.ie7 .choose-account-wrapper .box .create-accout-bttn {
    padding-left: 0;
    padding-right: 0;
}
.choose-account-wrapper .box.service-pro-account, .choose-account-wrapper .box.standard-account {
    clear: none;
    float: left;
    padding: 40px;
}
.choose-account-wrapper .box.service-pro-account h2, .choose-account-wrapper .box.standard-account h2 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 35.994px;
}
@media only screen and (max-width: 960px) {
.choose-account-wrapper .box.service-pro-account, .choose-account-wrapper .box.standard-account {
    clear: both;
    float: none;
    margin: 0 auto;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.choose-account-wrapper .box.service-pro-account, .choose-account-wrapper .box.standard-account {
    background-clip: padding-box;
    border-radius: 0;
    width: auto;
}
}
.choose-account-wrapper .box.service-pro-account {
    background: url("../images/handyman-pro-signup-cta.jpg") repeat scroll center center / cover #000;
	
    color: #fff;
}
.choose-account-wrapper .box.service-pro-account h2 {
    color: #fff;
}
.choose-account-wrapper .box.service-pro-account .account-description {
    color: #fff;
}
.choose-account-wrapper .box.service-pro-account .create-accout-bttn {
    border: medium none;
}
.choose-account-wrapper .box.standard-account {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e6e6e6;
}
.login-wrapper {
    width: 400px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.login-wrapper {
    margin-top: 0;
    width: auto;
}
}
.signup-wrapper {
    width: 400px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.signup-wrapper {
    margin-top: 0;
    width: auto;
}
}
.reset-password-wrapper {
    width: 400px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.reset-password-wrapper {
    margin-top: 0;
    width: auto;
}
}
.reset-password-wrapper .confirmation > p {
    line-height: 21px;
    margin: 0 0 14px;
    padding-bottom: 14px;
}
.login-with-facebook-wrapper {
    margin: 0 auto;
    width: 320px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.login-with-facebook-wrapper {
    padding: 0 30px;
    width: auto;
}
}
.login-with-facebook-wrapper p {
    padding-top: 20px;
}
.login-with-facebook-wrapper .facebook-bttn {
    background: none repeat scroll 0 0 #4c66a4;
    border: medium none;
    color: #fff;
    display: block;
    padding: 15px 0;
    width: 100%;
}
.ie7 .login-with-facebook-wrapper .facebook-bttn {
    padding-left: 0;
    padding-right: 0;
}
.login-with-facebook-wrapper .facebook-bttn:hover {
    background: none repeat scroll 0 0 #445b93;
}
.login-with-facebook-wrapper .facebook-bttn .icon-font-facebook {
    margin: 0;
}
.login-with-facebook-wrapper .facebook-bttn .separator {
    color: #3c5081;
    padding-right: 5px;
}
.or {
    color: #aeaeae;
    padding: 20px 0;
    text-align: center;
}
.or.choose-account {
    float: left;
    padding-top: 90px;
    width: 100px;
}
@media only screen and (max-width: 960px) {
.or.choose-account {
    padding-top: 20px;
    width: 100%;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.or {
    width: 100%;
}
}
.bottom-link-wrapper {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.bottom-link-wrapper {
    padding-top: 25px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.bottom-link-wrapper a {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
}
.bottom-link-wrapper .separator {
    color: #d2d2d2;
    padding: 0 10px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.bottom-link-wrapper .separator {
    display: none;
}
}
.footer-wrapper {
    padding-top: 40px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.footer-wrapper {
    display: none;
}
}
.footer-wrapper .footer-copyright {
    text-align: center;
}
.footer-wrapper .footer-copyright .copyright {
    float: none;
}