
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
body {
    background: none repeat scroll 0 0 #f8f8f8;
}
.body-title h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30.8px;
    font-weight: 200;
    padding-bottom: 10px;
    text-shadow: none;
}
.primo-avenir .body-title h1 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid .wrapper {
    padding-left: 5px;
    padding-right: 5px;
}
}
.builder {
    min-height: 400px;
}
.builder .loading-bar {
    margin: 28px 0;
}
.builder .box {
    animation: 0.25s ease 0s normal none 1 running fade-in;
}
.builder .box.form-error {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.builder .box.form-primary {
    padding: 30px;
}
.request-block {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 57.1823%;
}
.ie7 .request-block {
    width: 57.0823%;
}
@media only screen and (max-width: 590px) {
.request-block {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.request-block .request-form-container {
    padding: 30px;
}
.request-block .request-form-container .body-title h1 {
    line-height: 37.8px;
}
.request-block .request-form-container .body-title h2 {
    color: #aeaeae;
    font-size: 16.8px;
    font-style: italic;
}
@media only screen and (max-width: 960px) {
.request-block .request-form-container .form-nav {
    padding-left: 0;
}
.request-block .request-form-container fieldset {
    margin-left: 0;
}
.request-block .request-form-container fieldset legend {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.request-block .request-form-container {
    padding: 10px;
}
}
.sidebar {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 40.0552%;
}
.ie7 .sidebar {
    width: 39.9552%;
}
@media only screen and (max-width: 590px) {
.sidebar {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
}
.sidebar .box-how-it-works {
    margin-bottom: 45px;
}
.sidebar .box-how-it-works ol {
    margin: 0 0 7px;
}
.sidebar .box-how-it-works ol li {
    min-height: 25px;
    padding: 0 0 7px 35px;
    position: relative;
}
.sidebar .box-how-it-works ol li .number {
    background: none repeat scroll 0 0 #f47503;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15.4px;
    height: 25px;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
}
.primo-avenir .sidebar .box-how-it-works ol li .number {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ie7 .sidebar .box-how-it-works ol li .number, .ie8 .sidebar .box-how-it-works ol li .number {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4092f1;
    font-size: 25.2px;
}
.sidebar .box-how-it-works ol li h4 {
    color: #434343;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15.4px;
    font-weight: normal;
    line-height: 25px;
}
.primo-avenir .sidebar .box-how-it-works ol li h4 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.sidebar .box-how-it-works ol li h4 {
    line-height: 1;
}
}
.sidebar .box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 20px;
}
.sidebar .box-process .box-header h3 {
    font-size: 14px;
    font-weight: bold;
}
.sidebar .box-process .box-content p {
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.sidebar {
    display: none;
}
}
