
.body-clearfix {
}
.body-clearfix::before, .body-clearfix::after {
    content: "";
    display: table;
}
.body-clearfix::after {
    clear: both;
}
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.opacity50 {
    opacity: 0.5;
}
@keyframes fadein {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.work-request .what-when-where-container .list-bullet {
    list-style-type: none;
    padding-bottom: 4px;
    padding-left: 18px;
    text-indent: -18px;
}
.work-request .what-when-where-container .cancel-bullet {
    color: #aeaeae;
    padding-left: 15px;
    text-indent: -15px;
}
.work-request .what-when-where-container .check {
    background: url("../images/checkmark-cross.png") repeat scroll -10px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    width: 13px;
}
.work-request .what-when-where-container .cancel {
    background: url("../images/checkmark-cross.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    width: 10px;
}
.ie7 .work-request {
    width: 310px;
}
.work-request {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}
.ie7 .work-request .work-request-data {
    min-height: 250px !important;
}
.work-request .work-request-data.scroll {
    border-bottom: 1px solid #e9e9e9;
    margin: 0 0 15px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 347px;
}
.work-request .work-request-data.scroll.shadow-bottom {
    box-shadow: 0 -7px 8px -9px rgba(0, 0, 0, 0.6) inset;
}
.work-request .work-request-data.scroll.shadow-top {
    box-shadow: 0 7px 8px -9px rgba(0, 0, 0, 0.6) inset;
}
.work-request .work-request-data.scroll.shadow-both {
    box-shadow: 0 -7px 8px -9px rgba(0, 0, 0, 0.6) inset, 0 7px 8px -9px rgba(0, 0, 0, 0.6) inset;
}
.work-request .request-header {
    border-bottom: medium none;
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
}
.work-request .request-header .request-name {
    height: 30px;
    padding: 0 0 13px;
    width: 100%;
}
.work-request .request-header .request-name h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22.4px;
    font-weight: 200;
    margin: 0;
}
.work-request .request-header .profile-map-container {
    display: inline-block;
    height: 80px;
    overflow: hidden;
    width: 100%;
}
.work-request .request-header .profile-map-container .profile-container {
    float: left;
    height: 80px;
    padding-left: 1px;
    width: 80px;
}
.work-request .request-header .profile-map-container .map-container {
    float: left;
    height: 80px;
    padding-left: 1px;
    width: 225px;
}
.work-request .what-when-where-container dl {
    margin: 0;
}
.work-request .what-when-where-container .request-title {
    color: #444133;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.work-request .what-when-where-container .request-title a {
    float: right;
}
.work-request .what-when-where-container .request-info {
    border-bottom: 1px solid #dedbd8;
    color: #444133;
    line-height: 1.4em;
    margin: 0;
    padding: 6px 0 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.work-request .what-when-where-container .request-info:last-child {
    border-bottom: medium none;
    padding-bottom: 14px;
}
.work-request .what-when-where-container .request-info img {
    border: 1px solid #dedbd8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding-top: 10px;
    vertical-align: middle;
    width: 19%;
}
.work-request .pq-invite {
    border-top: 1px solid #d2d2d2;
    padding: 20px 0 16px;
}
