<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7 "><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 "><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 "><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"><!--<![endif]-->

<head>

<meta http-equiv="X-UA-Compatible" content="IE=9"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</script><script src="../js/fbds.js" type="text/javascript"></script>
<script src="../js/insight.js" type="text/javascript"></script>
<script src="../js/conversion_async.js" type="text/javascript"></script>
<script src="../js/quant.js" type="text/javascript"></script>
</script><script src="../js/bat.js" type="text/javascript"></script>
<script src="../js/tag.js" async=""></script>
<script type="text/javascript" src="../js/jquery.js"></script>

<title>Pintack- Accomplish your personal projects</title>

<link rel="stylesheet" type="text/css" media="all" href="icons.css">

<link rel="stylesheet" type="text/css" media="all" href="core.css">
<link rel="stylesheet" type="text/css" media="all" href="style.css">
<link rel="stylesheet" type="text/css" media="all" href="zenbox.css">
<link rel="stylesheet" type="text/css" media="all" href="login.css">
<link rel="stylesheet" type="text/css" media="all" href="avenir-next.css">

<link href="1.css" rel="stylesheet" type="text/css"></head>



<body class="primo primo-avenir primo-responsive primo-fluid  box-shadow multiple-backgrounds ng-scope">
<div class="glorious-header" data-section="header">
<div class="wrapper"><div class="row header-row">
<div class="header-logo">
<a href="#"><img src="../images/Pintack_orange_152x29.png" alt="Pintack"></a></div>
<div class="header-middle-container"></div>
<div class="header-navigation "><a href="#" rel="nofollow" class="gray-link">Sign Up</a><a href="#" rel="nofollow" class="gray-link log-in-link">Sign in</a></div></div></div></div>

<div class="sticky-cta ng-scope ng-isolate-scope invisible" sticky-header="" sticky-partner-attr="data-sticky-partner" ng-class="{visible: visible, invisible: !visible}" ng-controller="SmartyController" throttle-ms="250" visible="visible">
    <div class="wrapper">
        <div class="logo"></div>
        <form class="ng-pristine ng-invalid ng-invalid-required" action="/request" method="get" ng-submit="submitClicked()">
            <input name="query" tabindex="2" class="query ng-isolate-scope ng-pristine ng-invalid ng-invalid-required" required="" autocomplete="off" placeholder="What services do you need?" smarty-input="" select="setSelected(x)" index="selected" list-items="suggestions" close="suggestionPicked()" selection-made="selectionMade" ng-model="prefix" type="text">

                                <!--[if gt IE 8]><!-->
                    <div smarty-suggestions-box="" class="autocomplete-suggestions-menu outer ng-isolate-scope invisible" sticky-header="" sticky-partner-attr="data-sticky-partner" throttle-ms="250" visible="visible" ng-class="{visible: visible, invisible: !visible}"><!-- ngIf: suggestions.length > 0 --></div>
                <!--<![endif]-->
            <input class="zip ng-pristine ng-invalid ng-invalid-required" name="zipCode" tabindex="3" required="" pattern="[0-9]*" placeholder="Zip code" autocomplete="off" ng-model="zip" focus-when="false" focus-me="" type="text">
            <button type="submit" class="bttn blue" tabindex="4">
                Get Started
            </button>
            <input name="origin" value="homepage" type="hidden">
        </form>
    
    </div>
</div>
<div data-overview="" class="overview ng-scope" ng-controller="SlidesController">
    <div class="hero full-block ng-scope" data-hero="" ng-controller="SmartyController">
        <div class="wrapper">
            <div class="dynamic-row">
<div class="wrapper">
    <h1 class="title-wrapper choose-account" style="color:#fff; padding:25px;">
      <b> Sign up today</b><br/> 
and enter for your chance to win
    </h1>
</div>
<div class="wrapper choose-account-wrapper">
    <div class="dynamic-row" style="padding-top:0px;">

                <div class="box service-pro-account" style="border:none;">
                
         
   
        </div>

                <h3 class="or choose-account">
            or
        </h3>

                <div class="box standard-account">
            <h2>
                I want to hire professionals
            </h2>
            <p class="account-description">
                Get introduced to the right pros for your projects
            </p>
            <a href="#" class="bttn blue create-accout-bttn">
                Sign Up
            </a>
        </div>

    </div>
</div>
            </div>
        </div>
        <!-- ngRepeat: index in slides --><div class="slide slide-0" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div><!-- end ngRepeat: index in slides --><div class="slide slide-1" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div><!-- end ngRepeat: index in slides --><div class="slide slide-2 current" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div><!-- end ngRepeat: index in slides -->
    </div>
        <div class="full-block navigation-row">
        <div class="wrapper" data-browse-categories=""><ul class="navigation-row" data-click-source="header/categories">
            <li class="home_improvement"><a href="#"><span>Home</span></a></li>
            <li class="events"><a href="#"><span>Events</span></a></li>
            <li class="lessons"><a href="#"><span>Lessons</span></a></li>
            <li class="wellness"><a href="#"><span>Wellness</span></a></li>
            <li class="more_services"><a href="#"><span>More</span></a></li>
    </ul>
</div>
    </div>
    
    <div class="how-it-works"><div class="container"><div class="row"><div class="col-lg-10 col-lg-offset-1 col-md-12 text-center"><h3>Find, compare and hire the right service providers</h3><div class="row"><div class="col-md-4 col-sm-4"><div class="each-step"><div class="icon icon-match"></div><p><em>1</em>Get matched</p><span> Tell us what you need. It only takes a minute. Get up to 5 quotes &amp; introductions in just a few hours</span><span class="smaller"><strong><i class="fa fa-check"></i>Custom quote</strong><br><strong><i class="fa fa-check"></i>Personal message</strong></span></div></div><div class="col-md-4 col-sm-4"><div class="each-step"><div class="icon icon-compare"></div><p><em>2</em>Compare</p><span>Compare prices &amp; profiles. All service providers are qualified &amp; verified. Each intro includes:</span><span class="smaller"><strong><i class="fa fa-check"></i>Business profile</strong><strong><i class="fa fa-check"></i>Contact details</strong><strong><i class="fa fa-check"></i>Customer reviews</strong></span></div></div><div class="col-md-4 col-sm-4"><div class="each-step last-step"><div class="icon icon-hire"></div><p><em>3</em>Hire</p><span>You decide who's best. Book the service provider of your choice, finalise details and fix an appointment.</span></div></div></div></div></div></div></div>
    <div class="states full-block">
        <div class="wrapper">
            <h2>Find us in all 50 states</h2>

                            <ul>
<li><a href="#">Alaska</a></li>
<li><a href="../W">Alabama</a></li>
<li><a href="#">Arkansas</a></li>
<li><a href="#">Arizona</a></li>
<li><a href="#">California</a></li>
<li><a href="#">Colorado</a></li>
<li><a href="#">Connecticut</a></li>
<li><a href="#">Washington, DC</a></li>
<li><a href="#">Delaware</a></li>
 <li><a href="#">Florida</a></li>
<li><a href="#">Georgia</a></li>
<li><a href="#">Hawaii</a></li>
<li><a href="#">Iowa</a></li>
<li><a href="#">Idaho</a></li>
<li><a href="#">Illinois</a></li>
<li><a href="#">Indiana</a></li>
<li><a href="#">Kansas</a></li>
<li><a href="#">Kentucky</a></li>
<li><a href="#">Louisiana</a></li>
<li><a href="#">Massachusetts</a></li>
<li><a href="#">Maryland</a></li>
<li><a href="#">Maine</a></li>
<li><a href="#">Michigan</a></li>
<li><a href="#">Minnesota</a></li>
<li><a href="#">Missouri</a></li>
<li><a href="#">Mississippi</a></li>
<li><a href="#">Montana</a></li>
<li><a href="#">North Carolina</a></li>
<li><a href="#">North Dakota</a></li>
<li><a href="#">Nebraska</a></li>
<li><a href="#">New Hampshire</a></li>
<li><a href="#">New Jersey</a></li>
<li><a href="#/">New Mexico</a></li>
<li><a href="#">Nevada</a></li>
<li><a href="#">New York</a></li>
<li><a href="#">Ohio</a></li>
<li><a href="#">Oklahoma</a></li>
<li><a href="#">Oregon</a></li>
<li><a href="#">Pennsylvania</a></li>
<li><a href="#">Rhode Island</a></li>
<li><a href="#">South Carolina</a></li>
<li><a href="#">South Dakota</a></li>
<li><a href="#">Tennessee</a></li>
<li><a href="#">Texas</a></li>
<li><a href="#">Utah</a></li>
<li><a href="#">Virginia</a></li>
<li><a href="#">Vermont</a></li>
<li><a href="#">Washington</a></li>
<li><a href="#">Wisconsin</a></li>
<li><a href="#">West Virginia</a></li>
<li><a href="#">Wyoming</a></li>
                                    </ul>
                    </div>
    </div>
    
    
<div class="glorious-header glorious-header1" data-section="header">
<div class="wrapper"><div class="row header-row">
<div class="header"><div class="navigation"></div></div>
<div class="header-middle-container"></div>
<!--<div class="header-navigation "><a href="#" rel="nofollow" class="gray-link">Sign Up</a><a href="#" rel="nofollow" class="gray-link log-in-link">Sign in</a></div>--></div></div></div>

<div ng-controller="SignupController" class="wrapper content ng-scope">
    <div style="" ng-show="step == 'initial'" ng-controller="HookController" class="hook ng-scope">
        <form novalidate ng-submit="next()" name="hook" class="ng-pristine ng-invalid ng-invalid-required">
            
            <h1>
                Meet new customers
                <div class="subtitle ng-binding" ng-class="{'has-custom-entry-point': customEntryPoint}">
                    Pintack sends pros like you
                     requests from customers. You 
                    decide who to respond to and send a quote.
                </div>
            </h1>

            <fieldset>
                <label ng-show="!customEntryPoint">
                    What do you do?
                </label>
                <div ng-show="!customEntryPoint" class="form-field form-field-category">
                    <select ng-options="key as key for (key, data) in categories" ng-model="service.category.name" required name="category" class="ng-pristine ng-invalid ng-invalid-required"><option value="" class="">Select a profession</option><option value="Academic Lessons">Academic Lessons</option><option value="Business">Business</option><option value="Cleaning">Cleaning</option><option value="Design, Web, and Tech Services">Design, Web, and Tech Services</option><option value="Events">Events</option><option value="Food and Beverage">Food and Beverage</option><option value="Home Improvement">Home Improvement</option><option value="Landscaping and Lawncare">Landscaping and Lawncare</option><option value="Legal">Legal</option><option value="Music and Dance Lessons">Music and Dance Lessons</option><option value="Other">Other</option><option value="Pets">Pets</option><option value="Photography and Videography">Photography and Videography</option><option value="Sports and Fitness Lessons">Sports and Fitness Lessons</option><option value="Wellness">Wellness</option><option value="Writing/Editing/Translation">Writing/Editing/Translation</option></select>
                    <div class="subtext-form subtext-form-invalid" ng-show="hook.category.$dirty &amp;&amp; hook.category.$invalid" style="display: none;">
                        Please select what you do.
                    </div>
                </div>
                <div ng-class="{'has-custom-entry-point': customEntryPoint}" class="form-field form-field-nav">
                   <a href="../welcome1.htm"><button type="button" class="bttn">
                        Get Started
                    </button></a>
                </div>
                <a class="how-it-works" href="/pros/how-Pintack-works">How Pintack works</a>

            </fieldset>
            <p ng-show="customEntryPoint" class="nevermind" style="display: none;">
                <a target="_self" href="/welcome">Start in a different profession</a>
            </p>

            <!-- ngIf: !customEntryPoint --><div ng-if="!customEntryPoint" class="ng-scope">
                <!-- ngRepeat: index in slides --><div ng-repeat="index in slides" ng-class="{'current': slide == index}" class="slide slide-0"></div><div ng-repeat="index in slides" ng-class="{'current': slide == index}" class="slide slide-1"></div><div ng-repeat="index in slides" ng-class="{'current': slide == index}" class="slide slide-2 current"></div>
            </div>
        </form>
    </div>

    <div style="display: none;" class="ng-scope">

        <h1 ng-show="requestVolume &amp;&amp; taxonym" class="header-copy" style="display: none;">
            Last week, <strong class="ng-binding">0</strong> customers
            came to Pintack looking for <strong class="ng-binding"></strong>!
        </h1>

                <div ng-show="step == 'services'" ng-controller="ServicesController" class="ng-scope" style="display: none;">
            <form novalidate ng-submit="next()" class="box ng-pristine ng-valid" name="services">
                <div class="box-header">
                    <h2>Which of these services do you provide?</h2>
                    <h3>Tell us what you do so we can send you the right customers.</h3>
                </div>
                <div class="box-content">
                    <fieldset data-fieldset="services">
                        <div class="form-field form-field-services">
                            <div class="checkbox-section">
                                <!-- ngRepeat: service in services -->
                                <div role="presentation">
                                    <span aria-selected="false" ng-class="{'select-option': true, 'selected': !!otherService}" role="option" class="select-option">
                                        <input ng-click="clearOtherService()" ng-checked="!!otherService" class="radio" type="checkbox">
                                        <input placeholder="Other" ng-model="otherService" class="ng-pristine ng-valid" type="text">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                    <div class="form-field form-field-nav box-footer">
        <button class="bttn" type="submit">Continue →</button>
            <a class="back" ng-click="back()" href="">← Back</a>

    </div>

            </form>
        </div>

        <div ng-show="step == 'address'" ng-controller="AddressController" class="ng-scope" style="display: none;">
            <form novalidate ng-submit="next()" class="box address ng-pristine ng-invalid ng-invalid-required" name="address">
                <div class="box-header">
                    <h2>Where are you located?</h2>
                    <h3>If you don't have a business address, use your home address.</h3>
                </div>
                <div class="box-content">
                    <fieldset>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-address-1 form-field form-field" expr="address.street" field=""><div ng-transclude="">
                            <label for="street" class="ng-scope">Street address</label>
                            <input required="" ng-model="service.address.street" name="street" id="street" class="ng-scope ng-pristine ng-invalid ng-invalid-required" type="text">
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-address-2 form-field form-field" expr="address.unit" field=""><div ng-transclude="">
                            <label for="unit" class="ng-scope">Suite/apt</label>
                            <input ng-model="service.address.unit" name="unit" id="unit" class="ng-scope ng-pristine ng-valid" type="text">
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-city form-field form-field" expr="address.city" field=""><div ng-transclude="">
                            <label for="city" class="ng-scope">City</label>
                            <input required="" ng-model="service.address.city" name="city" id="city" class="ng-scope ng-pristine ng-invalid ng-invalid-required" type="text">
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-state form-field form-field" expr="address.state" field=""><div ng-transclude="">
                            <label for="state" class="ng-scope">State</label>
                            <input ng-pattern="/^[A-Z]{2}$/i" required="" ng-model="service.address.state" name="state" id="state" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" type="text">
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-zip form-field form-field" expr="address.zip" field=""><div ng-transclude="">
                            <label for="zip" class="ng-scope">Zip code</label>
                            <input pattern="[0-9]*" ng-pattern="/^[0-9]{5}$/" required="" ng-model="service.address.zip" name="zip" id="zip" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" type="text">
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                    </fieldset>
                    <fieldset>
                        <legend>Privacy</legend>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-privacy form-field form-field" expr="address.privacy" field=""><div ng-transclude="">
                            <label class="inline ng-scope">
                                <input value="2" ng-model="service.address.privacy" name="privacy" class="ng-pristine ng-valid" type="radio">
                                Show only my city and state to customers
                            </label>
                            <label class="inline ng-scope">
                                <input value="1" ng-model="service.address.privacy" name="privacy" class="ng-pristine ng-valid" type="radio">
                                Show my full address to customers
                            </label>
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                    </fieldset>
                </div>
                    <div class="form-field form-field-nav box-footer">
        <button class="bttn" type="submit">Continue →</button>
            <a class="back" ng-click="back()" href="">← Back</a>

    </div>

            </form>
        </div>

        <div ng-show="step == 'travel'" ng-controller="TravelController" class="ng-scope" style="display: none;">
            <form novalidate ng-submit="next()" class="box travel-preferences ng-pristine ng-valid" name="travel">
                <div class="box-header">
                    <h2>Where do you do business?</h2>
                    <h3>Help us send you the right customers by telling us where you work.</h3>
                </div>
                <div class="box-content">
                    <fieldset>
                        <div class="form-field form-field-travel-preferences">
                            <div class="checkbox-section">
                                <!-- ngRepeat: key in preferenceKeys --><div role="presentation" ng-model="preferences[key].selected" ng-repeat="key in preferenceKeys" checkbox="" class="ng-scope ng-pristine ng-valid"><label ng-class="{'select-option': true, 'selected': ngModel}" aria-selected="false" role="option" class="select-option"><input ng-model="ngModel" class="radio ng-pristine ng-valid" type="checkbox"><span ng-transclude=""><span class="ng-scope ng-binding">

                                    I travel to my customers
                                </span></span></label></div><div role="presentation" ng-model="preferences[key].selected" ng-repeat="key in preferenceKeys" checkbox="" class="ng-scope ng-pristine ng-valid"><label ng-class="{'select-option': true, 'selected': ngModel}" aria-selected="false" role="option" class="select-option"><input ng-model="ngModel" class="radio ng-pristine ng-valid" type="checkbox"><span ng-transclude=""><span class="ng-scope ng-binding">

                                    My customers travel to me
                                </span></span></label></div><div role="presentation" ng-model="preferences[key].selected" ng-repeat="key in preferenceKeys" checkbox="" class="ng-scope ng-pristine ng-valid"><label ng-class="{'select-option': true, 'selected': ngModel}" aria-selected="false" role="option" class="select-option"><input ng-model="ngModel" class="radio ng-pristine ng-valid" type="checkbox"><span ng-transclude=""><span class="ng-scope ng-binding">

                                    Neither (phone or Internet only)
                                </span></span></label></div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset ng-show="preferences.tocustomer.selected" style="display: none;">
                        <div class="form-field form-field-map">
                            <img ng-src="about:blank" src="about:blank" radius="service.travel.distance" zip="service.address.zip" zip-map="" height="338 " width="680 ">
                        </div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-travel-distance form-field form-field" expr="travel.distance" field=""><div ng-transclude="">
                            <label class="ng-scope">
                                How far are you willing to travel?
                                <select ng-options="d.miles as d.label for d in distances" ng-model="service.travel.distance" name="distance" class="ng-pristine ng-valid"><option value="0">1 mile</option><option value="1">2 miles</option><option value="2">3 miles</option><option value="3">5 miles</option><option value="4">10 miles</option><option value="5">20 miles</option><option value="6" selected="selected">30 miles</option><option value="7">40 miles</option><option value="8">50 miles</option><option value="9">100 miles</option></select>
                            </label>
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                    </fieldset>
                </div>
                    <div class="form-field form-field-nav box-footer">
        <button class="bttn" type="submit">Continue →</button>
            <a class="back" ng-click="back()" href="">← Back</a>

    </div>

            </form>

        </div>

        <div ng-show="step == 'profile'" ng-controller="ProfileController" class="ng-scope" style="display: none;">
            <form novalidate ng-submit="next()" class="box profile ng-pristine ng-invalid ng-invalid-required" name="profile">
                <div class="box-header">
                    <h2>Describe your business.</h2>
                    <h3>Tell customers about your business and what services you provide.</h3>
                </div>
                <div class="box-content">
                    <fieldset>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-business-name form-field form-field" expr="profile.name" field=""><div ng-transclude="">
                            <label for="business-name" class="ng-scope">Business name</label>
                            <input ng-maxlength="255" required="" ng-model="service.name" name="name" id="business-name" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" type="text">
                            <span class="subtext-form ng-scope">
                                If your business has no official name, use something
                                descriptive, like “Julie's House Cleaning”.
                            </span>
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-website form-field form-field" expr="profile.website" field=""><div ng-transclude="">
                            <label for="website" class="ng-scope">Website</label>
                                                        <input ng-model="service.website" name="website" id="website" class="ng-scope ng-pristine ng-valid" type="text">
                            <span class="subtext-form ng-scope">
                                Optional
                            </span>       
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-description form-field form-field" expr="profile.description" field=""><div ng-transclude="">
                            <label for="description" class="ng-scope">
                                Business description
                            </label>
                            <textarea ng-minlength="100" no-contact="" required ng-model="service.description" name="description" id="description" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-contact"></textarea>
                            <span class="subtext-form ng-scope">
                                Tell customers what you do and what makes your business great.
                                <a ng-click="examples.toggleVisibility()" href="">(examples)</a>
                                <br>(100 characters minimum)
                            </span>
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        <div ng-show="examples.visible" class="form-field form-field-description-example" style="display: none;">
                            <p>
                                I am a San Francisco-based portrait and product
                                photographer. My career began in high school where I took photos of
                                student groups for the yearbook. Since then, I've been dedicated
                                to capturing the beauty and energy of people and their work.
                            </p>
                        </div>
                        <div ng-show="examples.visible" class="form-field form-field-description-example" style="display: none;">
                            <p>
                                I became a personal trainer to help people transform their
                                lives and I want to see you accomplish more than you can on your
                                own. It is difficult to find the time and motivation, so I will
                                push you to accomplish your goals.
                            </p>
                        </div>
                    </fieldset>
                </div>
                    <div class="form-field form-field-nav box-footer">
        <button class="bttn" type="submit">Continue →</button>
            <a class="back" ng-click="back()" href="">← Back</a>

    </div>

            </form>
        </div>

        <div ng-show="step == 'account'" ng-controller="AccountController" class="ng-scope" style="display: none;">
            <form novalidate ng-submit="submit()" class="box account ng-pristine ng-invalid ng-invalid-required" name="account">
                <div class="box-header">
                    <h2>How can we contact you?</h2>
                    <h3>
                        Tell us where we should send customer requests for your services.
                    </h3>
                </div>
                <div class="box-content">
                    <fieldset>
                        <div class="dynamic-row">
                            <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-name-segment form-field form-field" expr="account.firstName" field=""><div ng-transclude="">
                                <label for="first-name" class="ng-scope">First name</label>
                                <input ng-minlength="2" required="" ng-model="service.user.name.first" name="firstName" id="first-name" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" type="text">
                            </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                            <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-name-segment form-field form-field" expr="account.lastName" field=""><div ng-transclude="">
                                <label for="last-name" class="ng-scope">Last name</label>
                                <input ng-minlength="2" required="" ng-model="service.user.name.last" name="lastName" id="last-name" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" type="text">
                            </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        </div>
                        <div class="dynamic-row">
                            <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-email form-field form-field" expr="account.email" field=""><div ng-transclude="">
                                <label for="email" class="ng-scope">Email address</label>
                                <input required="" ng-model="service.user.email" name="email" id="email" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-email" type="email">
                            </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                            <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-phone form-field form-field" expr="account.phone" field=""><div ng-transclude="">
                                <label for="phone" class="ng-scope">Phone number</label>
                                <input pattern="[0-9]*" required="" ng-model="service.phone.number" name="phone" id="phone" class="ng-scope ng-pristine ng-invalid ng-invalid-required ng-valid-phone" type="phone">
                            </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --><span ng-if="field.$error.required" class="ng-scope">Required</span> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        </div>
                        <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-sms-preference form-field form-field" expr="account.sms" field=""><div ng-transclude="">
                            <label class="inline ng-scope">
                                <input ng-model="service.phone.sms" name="sms" class="ng-pristine ng-valid" type="checkbox">
                                Notify me by text message of new customer requests and messages
                            </label>
                        </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                    </fieldset>
                    <fieldset class="fieldset-password">
                        <legend>
                            Account protection
                        </legend>
                        <div class="form-field">
                            <label class="block">
                                <input ng-model="usePassword" class="ng-pristine ng-valid" type="checkbox">
                                Create a password to protect my Pintack account.
                                <span class="subtext">(Optional)</span>
                            </label>
                        </div>
                        <div ng-show="usePassword" style="display: none;">
                            <div ng-class="{valid: valid(), invalid: invalid()}" class="form-field-password form-field form-field" expr="account.password" field=""><div ng-transclude="">
                                <label for="password" class="ng-scope">Password</label>

                                                                <a ng-click="showPasswordAsText = !showPasswordAsText" ng-show="!!service.user.password" class="show-password ng-scope ng-binding" style="display: none;">
                                    Show password
                                </a>

                                <input ng-show="!showPasswordAsText" ng-minlength="5" ng-model="service.user.password" id="password" name="password" class="ng-scope ng-pristine ng-valid ng-valid-minlength" type="password">

                                <input ng-show="showPasswordAsText" ng-minlength="5" ng-keyup="updatePasswordErrors(
                                        account.passwordAsText,
                                        account.password
                                    )" ng-model="service.user.password" id="" name="passwordAsText" class="ng-scope ng-pristine ng-valid ng-valid-minlength" style="display: none;" type="text">
                            </div><span ng-show="invalid()" class="subtext-form subtext-form-invalid" style="display: none;"><!-- ngIf: field.$error.required --> <!-- ngIf: field.$error.pattern || field.$error.phone || field.$error.email --><!-- ngIf: field.$error.contact --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --></span></div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-field form-field-nav box-footer">
                    <div class="nav-container" role="presentation">
                        <button ng-disabled="working" class="bttn" type="submit">
                            <!-- ngIf: !working --><span ng-if="!working" class="ng-scope">Sign Up</span>
                            <!-- ngIf: working -->
                        </button>
                            <a class="back" ng-click="back()" href="">← Back</a>

                    </div>

                    <div class="conditions">
                        <p>
                            By clicking “Sign Up”, you are indicating that you have
                            read and agreed to the <a target="_blank" href="/terms">terms of use</a>.
                        </p>
                        <p>
                            Your carrier's message and data rates may apply to text messages.
                            You are not required to agree to receive text messages as a condition of
                            using Pintack's service.
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <ul class="reasons">
            <li class="clients">
                <h4>Find new customers and grow your business</h4>
            </li>
            <li class="control-requests">
                <h4>Control the requests you receive</h4>
            </li>
            <li class="leads">
                <h4>Free to sign up, pay as you go</h4>
            </li>
        </ul>
    </div>
</div>
<div id="feedback-tab"><a data-show-feedback="" href="#">Contact Us</a></div>
      
      
      
     


</div> 
 

<div class="piede"><div class="wrapper"><div class="dynamic-row navigation"><div class="column-3"><div class="copyright"><p><a href="#" class="logo">Pintack</a></p><p class="disclaimer">© 2015 Pintack, Inc.</p><a href="#" >Privacy Policy</a><a href="#" class="last">Terms of Use</a><div class="social" data-footer-load="/ajax/footer/social?piede"><ul class="social-media">
    <li>
        <a href="#" target="_blank">
            <span class="facebook"></span>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <span class="gplus"></span>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <span class="twitter"></span>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <span class="blog"></span>
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            <span class="pinterest"></span>
        </a>
    </li>
</ul>
</div></div></div><div class="column-2"><h4>Pintack</h4><ul><li><a href="#">About</a></li><li><a href="#">Jobs</a></li><li><a href="#">Team</a></li><li><a href="#">Blog</a></li></ul></div><div class="column-2"><h4>Customers</h4><ul><li><a href="#">How it Works</a></li><li><a href="#">Safety</a></li><li><a href="#">
                                    Download iPhone App
                                </a></li></ul></div><div class="column-2"><h4>Pros</h4><ul><li><a href="#">How it Works</a></li><li><a href="#">Sign Up</a></li><li><a href="#">Pro Center</a></li><li><a href="#">Success Stories</a></li></ul></div><div class="column-3"><h4>Questions? Need help?</h4><ul><li><span data-show-feedback="" class="pseudo-link">E-mail us</span></li><li class="phone-number">Call (800) 343-1710
                            <span>(5am - 8pm PT)</span></li></ul></div></div></div></div>
<div id="feedback-tab"><a data-show-feedback="" href="#">Contact Us</a></div>

<script type="text/javascript">
	$(window).on("scroll touchmove", function () {
		//$('#header_nav').toggleClass('tiny', $(document).scrollTop() > 0);
		//console.log('--------------------------sd'+$(document).scrollTop());
		if($(document).scrollTop()>300){
			$('.sticky-cta').removeClass('invisible');
			$('.sticky-cta').addClass('visible');
		}
		else{
			$('.sticky-cta').removeClass('visible');
			$('.sticky-cta').addClass('invisible');
			
		}
		
	});
    </script>
      </body>
      </html>