
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.messenger {
    background: none repeat scroll 0 0 #f9f9f9;
}
.messenger .messages {
    margin-top: 2em;
}
@media (max-width: 57.5em) {
.messenger .messages {
    margin-top: 0.75em;
}
}
.messenger .request > .loading, .messenger .request > header {
    margin: 2em 0;
}
@media (max-width: 57.5em) {
.messenger .request > .loading, .messenger .request > header {
    margin: 0.75em 0;
}
}
.messenger .request > .loading {
    text-align: center;
}
.messenger .request > header {
    position: relative;
}
.messenger .request > header::before, .messenger .request > header::after {
    content: "";
    display: table;
}
.messenger .request > header::after {
    clear: both;
}
.messenger .request > header h1 {
    float: left;
    font-weight: normal;
    line-height: 40px;
    margin: 0 250px 0 0;
}
@media (max-width: 57.5em) {
.messenger .request > header h1 {
    font-size: 21px;
    margin-right: 0;
}
}
.messenger .request > header .buttons {
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 57.5em) {
.messenger .request > header .buttons {
    display: none;
}
}
.messenger .request > header .buttons .bttn {
    font-size: 14px;
    line-height: 1;
    padding: 0.5em 0.8em;
    vertical-align: middle;
}
.messenger .request > header .buttons .bttn.contact-support {
    margin-right: 14px;
    padding-left: 26px;
}
.ie8 .messenger .request > header .buttons .bttn.contact-support {
    padding-left: 0.8em;
}
.messenger .request > header .buttons .bttn.contact-support .icon {
    left: 0;
    position: absolute;
    top: 5px;
    transform: scale(0.5);
}
.ie8 .messenger .request > header .buttons .bttn.contact-support .icon {
    display: none;
}
.messenger .request > .box {
    background-clip: padding-box;
    border-radius: 0;
    margin-bottom: 3em;
}
.messenger img.profile-picture {
    background-clip: padding-box;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
}
.ie8 .messenger img.profile-picture {
    border: 3px solid #d2d2d2;
}
.messenger .service-rating.service-rating-small {
    height: 16px;
    line-height: 16px;
}
.messenger .service-rating.service-rating-small .star-rating {
    margin-bottom: 2px;
    vertical-align: middle;
}
.messenger .service-rating.service-rating-small .service-rating-review-count {
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
}
.messenger .bid-expand-messages {
    border-top: 1px solid #aeaeae;
    display: block;
    padding: 1ex 1em;
    text-align: center;
}
.messenger .bid-expand-messages.bid-expand-messages-inactive {
    display: none;
}
.messenger .bid-expand-messages:hover {
    background: none repeat scroll 0 0 #e6f1fd;
}
.messenger .bid-messaging {
    margin-top: 1.5em;
}
@media (max-width: 50em) {
.messenger .bid-messaging {
    margin-top: 0;
}
}
.messenger .items .item {
    border-top: 1px solid #aeaeae;
    padding: 0;
}
@media (max-width: 50em) {
.messenger .items .item {
    padding-left: 1.25em;
    padding-right: 1.25em;
}
}
.messenger .items .item.attachment-item {
    border-top: 0 none;
}
.messenger .items .item.message-item {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
@media (max-width: 50em) {
.messenger .items .item.message-item {
    padding-bottom: 1.2em;
    padding-top: 1em;
}
}
.messenger .items .item.message-item .question {
}
.messenger .items .item.message-item .question::before, .messenger .items .item.message-item .question::after {
    content: "";
    display: table;
}
.messenger .items .item.message-item .question::after {
    clear: both;
}
.messenger .items .item.response {
    border-top: medium none;
    padding: 1.5em 0 0;
}
.messenger .items .item.response .composer .form-field:last-child {
    padding-bottom: 0;
}
.messenger .items .item.response .composer .form-field::after {
    display: none;
}
.messenger .items .item.response .composer .form-field textarea {
    margin-bottom: 5px;
}
.messenger .items .item.response .composer .form-field .subtext-form-invalid {
    margin: 0 5px 5px;
}
.messenger .items .item.bid-log-estimate {
    background: none repeat scroll 0 0 #f9f9f9;
    padding-bottom: 1em;
    padding-top: 1em;
}
@media (max-width: 50em) {
.messenger .items .item.bid-log-estimate {
    padding-bottom: 0.8em;
    padding-top: 0.7em;
}
}
.messenger .items .item.bid-log-estimate:last-child {
    margin-bottom: 10px;
}
@media (max-width: 50em) {
.messenger .items .item {
    padding-left: 1.25em;
    padding-right: 1.25em;
}
}
.messenger .items .item .profile-picture {
    float: left;
}
@media (max-width: 40em) {
.messenger .items .item .profile-picture {
    margin-right: 10px;
}
}
.messenger .items .item .item-content, .messenger .items .item .bid-estimate-change-text, .messenger .items .item .bid-log-attachments {
    margin-left: 74px;
}
@media (max-width: 40em) {
.messenger .items .item .item-content, .messenger .items .item .bid-estimate-change-text, .messenger .items .item .bid-log-attachments {
    margin-left: 0;
}
}
.messenger .items .item .item-author {
    font-family: Arial,Verdana,sans-serif;
    text-transform: none;
}
.messenger .items .item .item-time {
    color: #cccccc;
    float: right;
    padding-right: 0.75em;
}
@media (max-width: 50em) {
.messenger .items .item .item-time {
    padding-right: 0;
}
}
.messenger .items .item .bid-message-body, .messenger .items .item .message-body, .messenger .items .item .composer {
    margin-top: 0.6em;
    overflow: hidden;
}
.messenger .items .item .composer textarea {
    margin-bottom: 0.6em;
}
.messenger .items .item .composer button {
    font-size: 15.4px;
    padding: 0.4em 1em;
}
.messenger .items .item .composer a.cancel, .messenger .items .item .composer .attach-file {
    margin-left: 1em;
}
.messenger .items .item .composer a.cancel {
    color: #8e8e8e;
}
.messenger .items .item .composer .attach-file {
    text-align: right;
}
.messenger .items .item .composer .attachment-item {
    margin-top: 14px;
}
.messenger .items .item .bid-log-attachments {
    margin-top: 1.5em;
}
.messenger .items .item .bid-log-attachments > li {
    margin-top: 0.3em;
}
.messenger.consumer-messenger .bid-side-by-side {
    display: flex;
    overflow: hidden;
}
.messenger.consumer-messenger .bid-side-by-side > .bid-navigation-bar {
    background: none repeat scroll 0 0 #8e8e8e;
    box-shadow: 0 -2px 2px -2px #ffffff inset;
    display: none;
}
.messenger.consumer-messenger .bid-side-by-side > .bid-navigation-bar > a {
    color: #f9f9f9;
    display: block;
    padding: 1.5ex 1.25em;
    text-decoration: none;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-side-by-side {
    display: block;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar {
    display: none;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar, .messenger.consumer-messenger .bid-side-by-side > .sidebar ul {
    width: 100%;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul {
    margin-bottom: 0;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul.qa-navigation > .item {
    border-bottom: 1px solid #d2d2d2;
    border-top: medium none;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul.qa-navigation > .item .unread-indicator {
    top: 10px;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul.qa-navigation > .item > a {
    height: auto;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul.qa-navigation > .item > a .nav-info h2 {
    font-size: 16px;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul > li {
    border-bottom: medium none;
    border-top: 1px solid #d2d2d2;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul > li > a {
    padding: 1.5ex 1.25em;
    width: auto;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul > li > a:hover {
    background: none repeat scroll 0 0 #ffffff;
}
.messenger.consumer-messenger .bid-side-by-side > .sidebar > ul > li:first-child {
    border-top: medium none;
}
.messenger.consumer-messenger .bid-side-by-side > .bid-navigation-bar {
    display: block;
}
.messenger.consumer-messenger .bid-side-by-side > .main-content {
    border-left: medium none;
    display: block;
}
.messenger.consumer-messenger .bid-side-by-side.bids-expanded > .sidebar {
    display: block;
}
.messenger.consumer-messenger .bid-side-by-side.bids-expanded > .bid-navigation-bar, .messenger.consumer-messenger .bid-side-by-side.bids-expanded > .main-content {
    display: none;
}
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-side-by-side > .main-content {
    padding: 20px 0;
}
}
.messenger.consumer-messenger .sidebar {
    background: none repeat scroll 0 0 #f9f9f9;
    flex: 0 1 0;
    min-width: 270px;
}
.ie8 .messenger.consumer-messenger .sidebar, .ie9 .messenger.consumer-messenger .sidebar {
    float: left;
    width: 270px;
}
.messenger.consumer-messenger .sidebar > ul {
    margin-bottom: 12px;
    position: relative;
    z-index: 3;
}
.messenger.consumer-messenger .sidebar > ul.qa-navigation {
    margin: 0;
}
.messenger.consumer-messenger .sidebar > ul.qa-navigation + ul {
    border-top: 1px solid #d2d2d2;
}
.messenger.consumer-messenger .sidebar > ul.qa-navigation li.divider {
    border: medium none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}
.messenger.consumer-messenger .sidebar > ul.qa-navigation .unread-indicator {
    top: 44px;
}
.messenger.consumer-messenger .sidebar > ul > li {
    border-bottom: 1px solid #d2d2d2;
}
.messenger.consumer-messenger .sidebar > ul > li.nav-bids-coming {
    background-color: #ffffff;
    border-top: 1px solid #d2d2d2;
    padding: 10px 15px;
}
.messenger.consumer-messenger .sidebar > ul > li.nav-bids-coming .dotted-box {
    border: 1px dashed #d2d2d2;
    padding: 10px;
}
.messenger.consumer-messenger .sidebar > ul > li.nav-bids-coming .dotted-box h3 {
    margin-bottom: 0.5em;
}
.messenger.consumer-messenger .sidebar > ul > li > a {
    background: none repeat scroll 0 0 #ffffff;
    color: #434343;
    display: block;
    height: 65px;
    padding: 15px 6% 10px;
    position: relative;
    width: 88%;
}
.messenger.consumer-messenger .sidebar > ul > li > a::before, .messenger.consumer-messenger .sidebar > ul > li > a::after {
    content: "";
    display: table;
}
.messenger.consumer-messenger .sidebar > ul > li > a::after {
    clear: both;
}
.messenger.consumer-messenger .sidebar > ul > li > a:hover {
    background: none repeat scroll 0 0 #e6f1fd;
}
.messenger.consumer-messenger .sidebar > ul > li .unread-indicator {
    background: -moz-linear-gradient(center top , #ff5438, #d52003) repeat scroll 0 0 #ea3a1d;
    border-radius: 10px;
    box-shadow: 0 1px 2px #000000;
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.messenger.consumer-messenger .sidebar > ul > li .unread-indicator > .unread-count {
    background: url("/media/messenger/consumer/unread-envelope.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-top: 2px;
    padding-left: 17px;
    text-shadow: 0 1px 0 #666666;
    vertical-align: middle;
}
.messenger.consumer-messenger .sidebar > ul > li .profile-picture {
    float: left;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info h2, .messenger.consumer-messenger .sidebar > ul > li .nav-info h3 {
    font-weight: bold;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info {
    margin-left: 66px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info h3 {
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
    height: 1.4em;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate {
    margin-top: 5px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate.bid-estimate-with-total {
    margin-top: 7px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate.bid-estimate-with-total, .messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate.bid-estimate-with-total .bid-estimate-total, .messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate.bid-estimate-with-total .bid-estimate-detail {
    height: 19px;
    line-height: 19px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate .bid-estimate-total, .messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate .bid-estimate-detail {
    display: inline-block;
    vertical-align: top;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate .bid-estimate-total {
    color: #434343;
    font-size: 19px;
    margin-right: 5px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate .bid-estimate-detail {
    color: #cccccc;
    font-size: 12px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate .bid-estimate-detail.large-detail {
    color: #434343;
    font-size: 14px;
}
.messenger.consumer-messenger .sidebar > ul > li .nav-info.bid-info .bid-estimate.bid-estimate-with-total .bid-estimate-detail {
    margin-top: 2px;
}
.messenger.consumer-messenger .sidebar > ul > li .service-rating {
    display: block;
    margin-bottom: 3px;
}
.messenger.consumer-messenger .sidebar > ul > li .service-rating .service-rating-review-count {
    color: #cccccc;
}
.messenger.consumer-messenger .sidebar > ul > li.active > a {
    background: url("../images/selected-bid.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-right: 43px;
}
.messenger.consumer-messenger .sidebar > ul > li.active > a .unread-indicator {
    right: 37px;
}
.messenger.consumer-messenger .sidebar > ul > li.active .nav-info * {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.messenger.consumer-messenger .sidebar > ul > li.active .nav-info.bid-info .bid-estimate .bid-estimate-total {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.messenger.consumer-messenger .main-content {
    border-left: 1px solid #aeaeae;
    flex: 1 1 0;
    overflow: hidden;
    padding: 30px 40px;
}
.ie8 .messenger.consumer-messenger .main-content, .ie9 .messenger.consumer-messenger .main-content {
    margin-left: 270px;
}
@media (max-width: 50em) {
.ie8 .messenger.consumer-messenger .main-content, .ie9 .messenger.consumer-messenger .main-content {
    margin-left: 0;
}
}
.messenger.consumer-messenger .main-content .bid-header, .messenger.consumer-messenger .main-content .questions-header {
    position: relative;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .questions-header {
    margin-left: 1.25em;
    margin-right: 1.25em;
}
}
.messenger.consumer-messenger .main-content .questions-header h1 {
    margin-bottom: 0.4em;
}
@media (max-width: 40em) {
.messenger.consumer-messenger .main-content .questions-header h1 {
    font-size: 17.5px;
}
}
.messenger.consumer-messenger .main-content .questions-header .header-content {
    padding: 10px 0 0;
}
.messenger.consumer-messenger .main-content .questions-header .header-content p {
    padding: 0 0 10px;
}
.messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark {
    background-clip: padding-box;
    background-color: #b4cf6e;
    border-radius: 50%;
    color: #ffffff;
    content: "";
    display: inline-block;
    float: left;
    font-family: "Primo Icons";
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark {
    display: none;
}
.ie7 .messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark {
    display: none;
}
.messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark::before {
    content: "";
    display: inline-block;
}
.ie8 .messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #b4cf6e;
}
@media (max-width: 40em) {
.messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice .large-checkmark {
    display: none;
}
}
.messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice p {
    margin-left: 74px;
}
@media (max-width: 40em) {
.messenger.consumer-messenger .main-content .questions-header .header-content .finished-notice p {
    margin-left: 0;
}
}
.messenger.consumer-messenger .main-content .bid-header {
    cursor: pointer;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content {
    padding-right: 130px;
    position: relative;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-content {
    margin-left: 1.25em;
    margin-right: 1.25em;
    padding-right: 0;
}
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate {
    border-left: 1px solid #aeaeae;
    bottom: 0;
    color: #000000;
    padding: 0 8px 0 22px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 112px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate.with-hours {
    padding: 0 10px;
    right: -40px;
    top: -10px;
    width: 123px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate.no-price {
    display: none;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total {
    font-size: 32px;
    line-height: 49px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total.long-price {
    font-size: 28px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total.very-long-price {
    font-size: 20px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-detail {
    color: #8e8e8e;
    font-size: 13px;
    margin-top: -4px;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate {
    right: 0;
}
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate {
    margin: 1em -1.25em 0;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate, .messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate.with-hours {
    background: none repeat scroll 0 0 #f9f9f9;
    border-left: medium none;
    border-top: 1px solid #aeaeae;
    height: auto;
    padding: 1em;
    position: static;
    width: auto;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total, .messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-detail {
    display: inline-block;
    vertical-align: middle;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total {
    font-size: 42px;
    line-height: 1.1;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total, .messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total.long-price {
    font-size: 19.6px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-total.very-long-price {
    font-size: 18.2px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-content .bid-header-estimate > .estimate-detail {
    color: #8e8e8e;
    display: block;
    font-size: 15.4px;
    margin-top: 4px;
}
}
.messenger.consumer-messenger .main-content .bid-header h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.1;
}
@media (max-width: 40em) {
.messenger.consumer-messenger .main-content .bid-header h2 {
    font-size: 17.5px;
}
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data {
    margin: 0.2em -1.5em 0.8em 0;
    overflow: hidden;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-data {
    margin-right: -1em;
}
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li {
    color: #666666;
    float: left;
    line-height: 1.3;
    padding-right: 1.5em;
    padding-top: 1ex;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li {
    padding: 0 1em 0 0;
}
}
@media (max-width: 57.5em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li {
    float: none;
    margin: 0.75ex 0;
    padding: 0;
}
}
@media (min-width: 57.5em) {
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li.bid-header-datum-rating {
    display: none;
}
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li .datum-icon {
    color: #4092f1;
    padding-right: 0.2em;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li.bid-header-datum-license .datum-icon {
    color: #e2b227;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li.bid-header-datum-license .license-state {
    margin-right: 0.2em;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-data > li.bid-header-datum-license .license-string {
    color: #8e8e8e;
    font-size: 0.9em;
    vertical-align: middle;
}
.messenger.consumer-messenger .main-content .bid-header .bid-header-license {
    padding: 0.5em 0;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons {
    margin-bottom: 1.5em;
    margin-top: -1.5ex;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons > li {
    color: #666666;
    display: inline-block;
    margin-right: 1em;
    margin-top: 1.5ex;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons > li a.bttn {
    font-size: 14px;
    line-height: 1;
    padding: 0.5em 0.8em;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons > li a.bttn.bid-reviews .star-rating {
    margin-top: -2px;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons > li a.bttn.bid-view-yelp {
    padding-left: 30px;
    position: relative;
}
.messenger.consumer-messenger .main-content .bid-header .bid-buttons > li a.bttn.bid-view-yelp .icon-yelp {
    background-image: url("/media/messenger/consumer/yelp.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 25px;
    left: 0.5em;
    position: absolute;
    top: 3px;
    width: 18px;
}
.messenger.consumer-messenger .main-content .bid-header .profile-picture {
    display: none;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .bid-header .profile-picture {
    display: block;
}
}
@media (max-width: 30em) {
.messenger.consumer-messenger .main-content .bid-header .profile-picture {
    height: 50px;
    width: 50px;
}
}
.messenger.consumer-messenger .main-content .bid-status {
    border-top: 1px solid #aeaeae;
    display: none;
    line-height: 30px;
    margin-bottom: 1.5em;
    padding-top: 10px;
    position: relative;
}
.messenger.consumer-messenger .main-content .bid-status.bid-status-cancelled {
    color: #434343;
    display: block;
}
.messenger.consumer-messenger .main-content .bid-status > .icon {
    left: -3px;
    position: absolute;
    top: 8px;
}
.messenger.consumer-messenger .main-content .bid-status > p {
    margin-left: 33px;
}
.messenger.consumer-messenger .main-content .bid-status button {
    margin-left: 1em;
}
@keyframes fade-in-animation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fade-in-animation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fade-out-animation {
0% {
    opacity: 1;
}
100% {
    display: none;
    opacity: 0;
}
}
@keyframes fade-out-animation {
0% {
    opacity: 1;
}
100% {
    display: none;
    opacity: 0;
}
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer {
    animation: 0.5s ease 0.5s normal both 1 running fade-in-animation;
    background: none repeat scroll 0 0 #4092f1;
    margin: 20px -40px -30px;
    padding: 12px;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer::before, .messenger.consumer-messenger .main-content .quote-relevancy-footer::after {
    content: "";
    display: table;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer::after {
    clear: both;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .main-content .quote-relevancy-footer {
    margin: 20px 0 -20px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.messenger.consumer-messenger .main-content .quote-relevancy-footer {
    bottom: 0;
    box-sizing: border-box;
    display: none;
    left: 0;
    margin: 0;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.done .quote-relevancy-question, .messenger.consumer-messenger .main-content .quote-relevancy-footer.error .quote-relevancy-question {
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.done .yes-no-button, .messenger.consumer-messenger .main-content .quote-relevancy-footer.error .yes-no-button {
    display: none;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.true-done {
    background: none repeat scroll 0 0 #11b30b;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.false-done {
    background: none repeat scroll 0 0 #aeaeae;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.error {
    background: none repeat scroll 0 0 #ff4949;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer.fade-out-animation {
    animation: 0.5s ease 0s normal both 1 running fade-out-animation;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer .quote-relevancy-question {
    color: #ffffff;
    display: inline-block;
    float: left;
    margin-top: 4px;
    text-align: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.messenger.consumer-messenger .main-content .quote-relevancy-footer .quote-relevancy-question {
    margin: 0 0 14px;
    padding: 0;
    text-align: center;
    width: 100%;
}
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button {
    float: right;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button {
    margin: 0 0 14px;
    text-align: center;
    width: 100%;
}
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button span {
    background-clip: padding-box;
    border-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding-bottom: 4.66667px;
    padding-top: 4.66667px;
    text-align: center;
    transition: opacity 0.3s ease 0s;
    width: 45%;
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button span:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button span {
    padding-bottom: 7px;
    padding-top: 7px;
}
}
.messenger.consumer-messenger .main-content .quote-relevancy-footer .yes-no-button .yes {
    margin-right: 12px;
}
.messenger.consumer-messenger .bid-action-center, .messenger.consumer-messenger .bid-update-status, .messenger.consumer-messenger .bid-explain-decline {
    border-top: 1px solid #aeaeae;
    padding: 1.5em 0;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center, .messenger.consumer-messenger .bid-update-status, .messenger.consumer-messenger .bid-explain-decline {
    padding-left: 1.25em;
    padding-right: 1.25em;
}
}
.messenger.consumer-messenger .bid-action-center.button-action-center, .messenger.consumer-messenger .bid-update-status.button-action-center, .messenger.consumer-messenger .bid-explain-decline.button-action-center {
    border-top: medium none;
    padding-bottom: 0;
    padding-top: 0;
}
@media only screen and (max-width: 960px) {
.messenger.consumer-messenger .bid-action-center {
    padding-bottom: 0;
}
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons {
    color: #434343;
    margin-left: 74px;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container {
    display: flex;
}
@media (max-width: 40em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons {
    margin-left: 0;
}
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .bid-action-next_step {
    display: block;
    margin: 10px 8px 0 0;
    text-align: center;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .bid-action-next_step .label {
    display: block;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button {
    display: inline-block;
    flex: 1 1 0;
    margin: 0 8px 0 0;
    max-width: 50%;
    text-align: center;
}
.ie8 .messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button, .ie9 .messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button {
    min-width: 20%;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button {
    margin: 0 4px;
    padding: 10px 5px;
}
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button.bid-action-call {
    display: none;
}
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button.bid-action-call.mobile-only {
    display: none;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button.bid-action-call.mobile-only {
    display: inline-block;
}
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button.performed {
    padding: 0;
    vertical-align: middle;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button.performed .icon-font {
    display: none;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button .icon-font {
    font-size: 24px;
    margin-right: 0;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button .icon-font {
    font-size: 18px;
}
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button .icon-font::before {
    margin-right: 0;
}
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button .label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
@media (max-width: 50em) {
.messenger.consumer-messenger .bid-action-center .bid-action-buttons .equal-button-container .bttn.action-button .label {
    font-size: 12px;
    line-height: 15px;
}
}
.messenger.consumer-messenger .bid-action-center .secondary-bid-actions {
    margin-top: 20px;
    text-align: center;
}
.messenger.consumer-messenger .bid-action-center .secondary-bid-actions > a {
    color: #8e8e8e;
}
.messenger.consumer-messenger .bid-action-center .secondary-bid-actions > a:first-child {
    padding-right: 10px;
}
.messenger.consumer-messenger .bid-action-center .secondary-bid-actions > a:first-child::after {
    content: "•";
    padding-left: 10px;
}
.messenger.consumer-messenger .bid-update-status {
    padding-top: 2.5em;
}
.messenger.consumer-messenger .bid-update-status .spinner {
    background: url("/media/loading/spinner-large/gray-darker-on-white.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    margin: 0 auto;
    width: 32px;
}
.messenger.consumer-messenger .bid-update-status .success {
    color: #000000;
    display: block;
    font-size: 34px;
    margin: 0 auto;
}
.messenger.consumer-messenger .bid-update-status p {
    margin: 1ex 0 0;
    text-align: center;
}
.messenger.consumer-messenger .bid-explain-decline h3 {
    line-height: 1.2;
}
.messenger.consumer-messenger .bid-explain-decline .bid-declined .info-icon {
    color: #434343;
    margin-left: -2px;
    margin-right: 0.4em;
}
.messenger.consumer-messenger .bid-explain-decline .bid-decline-is-not-the-end {
    color: #8e8e8e;
    font-size: 12.6px;
    line-height: 1.3;
    margin-top: 1.5em;
}
.messenger.consumer-messenger .bid-explain-decline button {
    font-size: 15.4px;
    padding: 0.4em 1em;
}
.messenger.consumer-messenger .bid-explain-decline a.cancel {
    color: #8e8e8e;
    margin-left: 1em;
}
.messenger.consumer-messenger .bid-explain-decline .bid-explain-decline-confirm {
    margin-top: 2em;
}
.messenger.consumer-messenger .bid-decline-reasons > li {
    margin-top: 1.5em;
    position: relative;
}
.messenger.consumer-messenger .bid-decline-reasons > li > input {
    left: 0;
    position: absolute;
    top: 0;
}
.messenger.consumer-messenger .bid-decline-reasons > li > .bid-decline-reason-content {
    padding-left: 3ex;
}
.messenger.consumer-messenger .bid-decline-reasons > li > .bid-decline-reason-content label {
    font-weight: normal;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum {
    color: #666666;
    margin-top: 1.5ex;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum, .messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum p, .messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum .bid-decline-pick-options > li {
    font-size: 12.6px;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum p {
    line-height: 1.2;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum .bid-decline-pick-options {
    margin-top: 1.5ex;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum .bid-decline-pick-options > li {
    line-height: 1.2;
}
.messenger.consumer-messenger .bid-decline-reasons > li .bid-decline-reason-addendum .bid-decline-pick-options > li input {
    margin-right: 0.6em;
}
.messenger .support-options .support-contact > li {
    color: #000000;
    font-size: 18px;
    line-height: 1.66667px;
    margin-bottom: 0.5ex;
    margin-left: -3px;
    vertical-align: middle;
}
.messenger .support-options .support-contact > li .icon {
    margin-right: 0.8ex;
    vertical-align: middle;
}
.homepage-work-request {
    display: none;
    min-height: 600px;
    width: 348px;
}
.homepage-work-request .request-header .request-name h2 {
    padding: 10px 0 0 20px;
    text-align: left;
}
.homepage-work-request .what-when-where-container {
    padding: 0 20px 20px;
    text-align: left;
}
.share-project {
    width: 600px;
}
.share-project .box-header {
    background-clip: padding-box;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 60px;
    text-align: center;
}
.share-project .box-header h1 {
    animation-delay: 0.5s;
    color: #ffffff;
    font-size: 33.6px;
    letter-spacing: 0;
    text-shadow: none;
}
.share-project .box-header h1::before {
    content: "";
    display: block;
    margin: 0 auto 22px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.share-project .box-header h1 {
    font-size: 25.2px;
}
}
.share-project .box-content {
    margin: 0 auto;
    max-width: 360px;
    padding-bottom: 45px;
    padding-top: 60px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.share-project .box-content {
    padding-bottom: 30px;
}
}
.share-project .box-header {
    background: -moz-linear-gradient(center top , #63cb76, #50a67e) repeat scroll 0 0 #5ab97a;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.share-project {
    width: 100%;
}
}
.share-project .share .box-header {
    background: -moz-linear-gradient(center top , #7db9ff, #4664b4) repeat scroll 0 0 #628fda;
    padding: 42px;
}
.share-project .share .box-header h1::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 56px;
    text-shadow: none;
    width: 113px;
}
.share-project .share .box-content .body-text {
    padding-bottom: 7px;
    text-align: center;
}
.share-project .share .box-content .form-wrapper {
    width: 100%;
}
.share-project .share .box-content .form-wrapper input, .share-project .share .box-content .form-wrapper textarea {
    font-size: 14px;
    margin: 0 0 14px;
}
.share-project .share .box-content .form-wrapper .share-bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #ffffff;
    display: block;
    width: 100%;
}
.ie7 .share-project .share .box-content .form-wrapper .share-bttn {
    padding-left: 0;
    padding-right: 0;
}
.share-project .share .box-content .form-wrapper .share-bttn:hover, .share-project .share .box-content .form-wrapper .share-bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.share-project .share .box-content .form-wrapper .share-bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.share-project .share .box-content .form-wrapper .share-bttn:active, .share-project .share .box-content .form-wrapper .share-bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.share-project .share .box-content .form-wrapper .share-bttn .caret {
    border-top-color: #ffffff;
}
.share-project .share-confirmation .box-header {
    background: -moz-linear-gradient(center top , #63cb76, #50a67e) repeat scroll 0 0 #5ab97a;
    padding: 42px;
}
.share-project .share-confirmation .box-header h1 {
    padding: 21px;
}
.share-project .share-confirmation .box-header h1::before {
    background: url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -123px 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 59px;
    text-shadow: none;
    width: 59px;
}
.share-project .share-confirmation .box-content {
    padding: 70px;
    text-align: center;
}
