
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.upload-pod.cropping {
    width: 450px;
}
.upload-pod .loading-section {
    padding: 30px;
    text-align: center;
}
.upload-pod .crop-section {
    overflow: hidden;
}
.upload-pod .crop-section .crop-photo-container {
    float: left;
}
.upload-pod .crop-section .crop-photo-container .profile-text {
    font-size: 120%;
    margin-bottom: 5px;
    margin-left: 150px;
    text-align: left;
}
.upload-pod .crop-section .crop-photo-container .crop-instruction {
    margin-left: 40px;
    text-align: left;
}
.upload-pod .crop-section .crop-photo-container .crop-photo-block {
    margin-top: 10px;
    width: 400px;
}
.upload-pod .crop-section .crop-photo-container .crop-photo-block div.jcrop-holder {
    margin: 0 auto;
}
.upload-pod .crop-section .crop-photo-container .rotate-lightbox::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    padding-right: 2px;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .upload-pod .crop-section .crop-photo-container .rotate-lightbox::before {
    display: none;
}
.ie7 .upload-pod .crop-section .crop-photo-container .rotate-lightbox::before {
    display: none;
}
.upload-pod .crop-section .crop-photo-container .save {
    margin-bottom: 15px;
    margin-left: 260px;
    margin-top: 30px;
}
.upload-pod .crop-section .crop-photo-container .upload-different-photo {
    color: #aeaeae;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
body {
}
.wrapper.content {
    min-height: 0;
}
.wrapper.content h1.quote-accordeon-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30.8px;
    font-weight: 200;
    margin-bottom: 0;
    padding: 10px 0 20px;
    text-shadow: none;
}
.primo-avenir .wrapper.content h1.quote-accordeon-title {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.reuse-last-message-tooltip {
    background-clip: padding-box;
    border-radius: 4px;
    position: relative;
}
.reuse-last-message-tooltip:active, .reuse-last-message-tooltip:focus, .reuse-last-message-tooltip button::-moz-focus-inner {
    border: 0 none;
    outline: 0 none;
}
.reuse-last-message-tooltip .tooltip-content {
    background: -moz-linear-gradient(center top , #757575, #000000) repeat scroll 0 0 padding-box #3a3a3a;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 11.9px;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #000000;
}
.reuse-last-message-tooltip.desktop {
    left: -20px;
    margin-top: 10px;
    position: absolute;
    top: 100%;
}
.reuse-last-message-tooltip.desktop .tooltip-content {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.reuse-last-message-tooltip.desktop .tooltip-arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #434343;
    border-image: none;
    border-style: solid;
    border-width: 7.5px;
    bottom: 100%;
    left: 40px;
    position: absolute;
}
fieldset.estimate-fields .form-field select {
    margin: 0;
}
fieldset.estimate-fields .form-field::after {
    display: none !important;
}
fieldset.estimate-fields .form-field.form-field-price-type {
    clear: none;
    float: left;
    width: 31.25%;
}
fieldset.estimate-fields .form-field.form-field-fixed-price {
    clear: none;
    float: left;
    width: 27.0833%;
}
fieldset.estimate-fields .form-field.form-field-price-descriptor {
    clear: none;
    float: left;
    width: 41.6667%;
}
fieldset.estimate-fields .form-field.form-field-hourly-rate {
    clear: none;
    float: left;
    width: 37.5%;
}
fieldset.estimate-fields .form-field .input-prepend .add-on, fieldset.estimate-fields .form-field .input-append .add-on, fieldset.estimate-fields .form-field .input-prepend input, fieldset.estimate-fields .form-field .input-append input {
    height: 42px;
    line-height: 42px;
    padding-bottom: 0;
    padding-top: 0;
}
fieldset.estimate-fields .form-field.form-field-price-type-one-option {
    display: none;
}
fieldset.estimate-fields .form-field.form-field-fixed-price .input-prepend {
    margin: 0 0 0 29px;
    position: relative;
    text-align: left;
}
fieldset.estimate-fields .form-field.form-field-fixed-price .input-prepend .add-on {
    left: -29px;
    position: relative;
    width: 30px;
}
fieldset.estimate-fields .form-field.form-field-fixed-price .input-prepend input {
    font-size: 16.8px;
    left: 0;
    line-height: 17px;
    margin: 0;
    max-width: 100%;
    min-width: 28px;
    padding: 10px;
    position: absolute;
    width: 100%;
}
fieldset.estimate-fields .form-field.form-field-price-descriptor .price-descriptor-container {
    display: table;
    height: 42px;
}
fieldset.estimate-fields .form-field.form-field-price-descriptor .price-descriptor-container .price-descriptor {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
fieldset.estimate-fields .form-field.hourly-price {
    clear: none;
    float: left;
}
fieldset.estimate-fields .form-field.hourly-price .hourly-price-input {
    line-height: 18px;
    padding-right: 10px;
    text-align: right;
    width: 77px;
}
fieldset.message-fields {
    margin-bottom: 0;
}
fieldset.message-fields .form-field.message-field {
    padding-top: 0;
}
fieldset.message-fields .form-field.message-field .input-full {
    margin-top: 5px;
}
fieldset.message-fields .form-field.message-field::after {
    display: none;
}
fieldset.message-fields .form-field.message-field textarea {
    font-size: 14px;
    height: 130px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.alert-container {
    box-shadow: 0 1px 1px #c8c8c8;
}
}
.alert-pq-answers {
    cursor: pointer;
}
.alert-pq-answers::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .alert-pq-answers::before {
    display: none;
}
.ie7 .alert-pq-answers::before {
    display: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.alert-note {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d2d2d2 #d2d2d2 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 30px 20px 46px;
}
.alert-note::before {
    left: 15px;
    top: 20px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.alert-note.alert-dropdown::after {
    top: 20px;
}
}
.alert-note.credits-remaining-needed {
    border: medium none;
}
.alert-note.credits-remaining-needed::before {
    display: none;
}
.ie7 .alert-note.credits-remaining-needed {
    position: relative;
}
.alert-note.credits-remaining-needed .phone-help {
    color: #4092f1;
    float: right;
    position: absolute;
    right: 0;
    text-decoration: none;
}
.ie7 .alert-note.credits-remaining-needed .phone-help {
    position: absolute;
    right: 35px;
    top: 10px;
}
.alert-note.credits-remaining-needed .phone-help .tooltip-text {
    max-width: 120px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.alert-note.credits-remaining-needed .phone-help .tooltip-text {
    max-width: none;
}
}
.alert-note.alert-service-requested.alert-note::before {
    color: #11b30b;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .alert-note.alert-service-requested.alert-note::before {
    display: none;
}
.ie7 .alert-note.alert-service-requested.alert-note::before {
    display: none;
}
.alert-note.alert-service-requested.alert-dropdown::after {
    color: #11b30b;
}
.alert-note.alert-phone-public.alert-note::before {
    color: #4092f1;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .alert-note.alert-phone-public.alert-note::before {
    display: none;
}
.ie7 .alert-note.alert-phone-public.alert-note::before {
    display: none;
}
.alert-note.alert-phone-public.alert-dropdown::after {
    color: #4092f1;
}
.alert-note.alert-verified.alert-note::before {
    color: #f47503;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .alert-note.alert-verified.alert-note::before {
    display: none;
}
.ie7 .alert-note.alert-verified.alert-note::before {
    display: none;
}
.alert-note.alert-verified.alert-dropdown::after {
    color: #f47503;
}
.alert-note.alert-quote-count.alert-note::before {
    color: #666666;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .alert-note.alert-quote-count.alert-note::before {
    display: none;
}
.ie7 .alert-note.alert-quote-count.alert-note::before {
    display: none;
}
.alert-note.alert-quote-count.alert-dropdown::after {
    color: #666666;
}
.alert-note.refundable.alert-note::before {
    display: none;
}
.alert-note.refundable.alert-dropdown::after {
    color: #11b30b;
}
.quote-icon {
    background: url("/media/quotes/quote-notification-sprites-4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}
.quote-icon.tt-credits-are-refundable {
    background-position: 0 -802px;
}
.quote-icon.tt-credits {
    background-position: 0 -672px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.quote-icon {
    left: 15px;
    top: 10px;
}
}
.ie7 .quote-icon, .ie8 .quote-icon {
    display: none;
}
.edit-quote-container {
    display: none;
}
.edit-quote-container .edit-quote-bttn .edit-back-arrow {
    font-size: 16px;
    line-height: 16px;
}
.edit-quote-container .edit-text {
    padding-left: 15px;
    text-shadow: 0 1px 0 #ffffff;
}
.edit-quote-container .edit-text .separator {
    color: #aeaeae;
    padding: 0 8px;
}
.edit-quote-container .edit-text .quote-message-summary {
    font-style: italic;
}
.price-form-wrapper .box.box-primary {
    background: none repeat scroll 0 0 padding-box #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 1px 1px #c8c8c8;
    box-sizing: border-box;
    padding: 35px 35px 10px;
}
.ie7 .price-form-wrapper .box.box-primary, .ie8 .price-form-wrapper .box.box-primary {
    border: 1px solid #dfdfdf;
}
.quote-form {
    color: #434343;
    padding: 0;
    position: relative;
}
.ie7 .quote-form fieldset {
    float: left;
}
.ie7 .quote-form fieldset .form-field.form-field-inline {
    display: block;
    float: left !important;
}
.ie7 .quote-form fieldset .form-field.form-field-inline input, .ie7 .quote-form fieldset .form-field.form-field-inline .add-on {
    height: 22px !important;
    margin-top: 0 !important;
}
.quote-form .form-field {
    position: relative;
}
.quote-form .form-field input, .quote-form .form-field select {
    margin-top: 0;
}
.quote-form .form-field select.price-type {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 5px;
}
.quote-form .form-field .price-field {
    text-align: right;
}
.quote-form .form-field label.dollar {
    left: 6px;
    position: absolute;
    top: 37px;
}
.quote-form .form-field.hourly {
    padding: 0;
}
.quote-form .form-field.message-field {
    padding-top: 14px;
    position: relative;
}
.quote-form .form-field.message-field label {
    padding-top: 3px;
}
.quote-form .form-field.message-field .input-full {
    margin-top: 15px;
}
.quote-form .form-field.message-field .character-count {
    color: #8e8e8e;
    font-size: 14px;
    position: absolute;
    right: 16px;
    top: 0;
}
.quote-form .form-field.message-field .character-count.red {
    color: #d51818;
}
.quote-form .form-field.message-field .character-count .number {
    font-weight: bold;
}
.quote-form .toolbar .reuse-last-message-tooltip-container {
    position: relative;
}
.quote-form .toolbar .reuse-last-message-tooltip-container .reuse-last-message-tooltip {
    position: absolute;
}
.quote-form .toolbar .reuse-last-message-tooltip-container .reuse-last-message-tooltip.desktop {
    left: 0;
    top: -56px;
}
.quote-form .toolbar .reuse-last-message-tooltip-container .reuse-last-message-tooltip .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: #434343;
    bottom: -14px;
}
.quote-form .toolbar .reuse-last-message-tooltip-container .reuse-last-message {
    float: none;
    padding-right: 20px;
}
.quote-form .toolbar .reuse-last-message-tooltip-container .reuse-last-message .icon-font-arrows-ccw {
    transition: all 0.4s ease 0s;
}
.quote-form .toolbar .pro-tips {
    float: none;
    padding-right: 20px;
}
.quote-form .toolbar .pro-tips::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .quote-form .toolbar .pro-tips::before {
    display: none;
}
.ie7 .quote-form .toolbar .pro-tips::before {
    display: none;
}
.quote-form .toolbar .attach-file {
    padding-right: 20px;
}
.quote-form .toolbar .attach-file::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .quote-form .toolbar .attach-file::before {
    display: none;
}
.ie7 .quote-form .toolbar .attach-file::before {
    display: none;
}
.quote-form .attachment-list {
    margin-top: 15px;
}
.quote-form .attachment-list .attachment {
    background: none repeat scroll 0 0 #f8f8f8;
    margin: 10px 0;
    padding: 10px;
}
.quote-form .attachment-list .attachment .close {
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 15px;
    margin: 0 0 0 10px;
    text-align: right;
    width: 60px;
}
.quote-form .attachment-list .attachment input[type="file"] {
    width: auto;
}
.quote-form .attachment-list .attachment .subtext-form-invalid {
    color: #d51818;
    font-size: 14px;
    line-height: 19.6px;
    margin: 15px 0 0;
}
.quote-form .attachment-list .attachment .subtext-form-invalid li {
    background-clip: padding-box;
    border-radius: 4px;
    padding: 0 5px 5px 20px;
}
.quote-form .attachment-list .attachment .subtext-form-invalid::before {
    color: #ff4949;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .quote-form .attachment-list .attachment .subtext-form-invalid::before {
    display: none;
}
.ie7 .quote-form .attachment-list .attachment .subtext-form-invalid::before {
    display: none;
}
.quote-form .availability-section {
    padding-bottom: 10px;
}
.quote-form .availability-section .availability-label {
    padding: 10px 0 0;
}
.quote-form .availability-section .availability-label .optional {
    color: #aeaeae;
    font-weight: normal;
}
.quote-form .availability-section .availability-container {
    margin-bottom: 0;
}
.quote-form .availability-section .availability-container .availability {
    float: left;
    padding-bottom: 10px;
}
.quote-form .availability-section .availability-container .availability .date-field {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 48.6188%;
}
.ie7 .quote-form .availability-section .availability-container .availability .date-field {
    width: 48.5188%;
}
.quote-form .availability-section .availability-container .availability .time-field {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 31.4917%;
}
.ie7 .quote-form .availability-section .availability-container .availability .time-field {
    width: 31.3917%;
}
.quote-form .availability-section .availability-container .availability .remove {
    float: left;
    padding: 14px 0 0 10px;
}
.quote-form .availability-section .add-availability::before {
    padding-right: 4px;
}
.quote-form .quote-question {
    padding-bottom: 8px;
}
.quote-form .quote-question label {
    padding-bottom: 3px;
}
.quote-form .quote-question select {
    font-size: 14px;
    width: 80px;
}
.quote-form .quote-question.second-question {
    padding-top: 10px;
}
.quote-form .quote-question.last-question {
    padding-bottom: 20px;
}
.quote-form .quote-question.last-question label {
    padding-top: 14px;
}
.need-help-call-us-container {
    border-top: 1px solid #d2d2d2;
    margin-top: 5px;
    padding-top: 10px;
}
.need-help-call-us-container .need-help {
    float: left;
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
}
.need-help-call-us-container .call-us {
    color: #8e8e8e;
    float: right;
    padding-top: 10px;
    text-align: right;
}
.tt-credit-container {
    display: block;
}
.ie7 .tt-credit-container {
    position: relative;
}
.tt-credit-container .how-it-works {
    float: right;
    font-size: 0.7em;
    font-weight: normal;
    margin: -5px 0 0 !important;
    padding: 5px 0;
}
.ie7 .tt-credit-container .how-it-works {
    position: absolute;
    right: 0;
}
.ui-slider {
    margin-bottom: 20px;
}
.almost-there {
    margin: 0 auto;
    max-width: 480px;
    text-align: center;
}
.almost-there h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 5px;
    text-shadow: none;
}
.primo-avenir .almost-there h2 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.almost-there p {
    color: #aeaeae;
    margin-bottom: 20px;
}
.almost-there h2 {
    margin-bottom: 20px;
}
.almost-there p {
    margin-bottom: 80px;
}
.almost-there .bttn {
    margin-bottom: 80px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.almost-there .bttn {
    margin-bottom: 0;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.almost-there h1 {
    line-height: 28px;
    margin: 0 0 14px;
}
.almost-there h2 {
    line-height: 21px;
    margin: 0 0 14px;
}
.almost-there h3 {
    line-height: 17.5px;
    margin: 0 0 14px;
}
.almost-there h4 {
    line-height: 14px;
    margin: 0 0 14px;
}
.almost-there h5 {
    line-height: 14px;
    margin: 0 0 14px;
}
.almost-there p {
    line-height: 21px;
    margin: 0 0 14px;
}
.almost-there ul {
    list-style-type: disc;
    margin: 0 0 14px;
    padding-left: 0.4em;
}
.almost-there ul li {
    line-height: 21px;
    margin-left: 20px;
}
.almost-there ol {
    list-style-type: decimal;
    margin: 0 0 14px;
    padding-left: 0.8em;
}
.almost-there ol li {
    line-height: 21px;
    margin-left: 20px;
}
.almost-there table {
    margin: 0 0 14px;
}
.almost-there table td, .almost-there table th {
    padding: 0 20px 5px 0;
}
.almost-there pre {
    margin: 0 0 14px;
}
.almost-there h2, .almost-there p {
    line-height: 1.2;
}
}
.dynamic-row.credit-pack-intro {
    padding-top: 20px;
}
.dynamic-row.credit-pack-intro img {
    height: auto !important;
    margin-top: 40px;
    max-width: 100%;
    min-width: 0;
    width: auto !important;
}
.dynamic-row.credit-pack-intro .caption {
    color: #8e8e8e;
    font-style: italic;
    padding: 14px 20px 0;
    text-align: center;
}
.dynamic-row.credit-pack-intro .caption .now, .dynamic-row.credit-pack-intro .caption .later {
    display: block;
    width: 50%;
}
.dynamic-row.credit-pack-intro .caption .now {
    float: left;
}
.dynamic-row.credit-pack-intro .caption .later {
    float: right;
}
.dynamic-row.credit-pack-intro h2, .dynamic-row.credit-pack-intro h3, .dynamic-row.credit-pack-intro ul, .dynamic-row.credit-pack-intro p {
    margin: 0 0 28px;
}
.dynamic-row.credit-pack-intro h2 {
    font-size: 49.994px;
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 59.99px;
}
.dynamic-row.credit-pack-intro h2 .cost {
    white-space: nowrap;
}
.dynamic-row.credit-pack-intro h3 del {
    color: #aeaeae;
    text-decoration: line-through;
}
.dynamic-row.credit-pack-intro h3 .discount {
    background: none repeat scroll 0 0 #11b30b;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 11.2px;
    margin-left: 14px;
    padding: 4px 5px;
    text-transform: uppercase;
    vertical-align: text-top;
}
.dynamic-row.credit-pack-intro ul li {
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.dynamic-row.credit-pack-intro ul li::before {
    color: #11b30b;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .dynamic-row.credit-pack-intro ul li::before {
    display: none;
}
.ie7 .dynamic-row.credit-pack-intro ul li::before {
    display: none;
}
.dynamic-row.credit-pack-intro ul .see-details {
    color: #87bbf6;
}
.dynamic-row.credit-pack-intro .bttn-submit::after {
    content: "→";
}
.almost-there-breadcrumb {
    background: url("/media/almost-there-breadcrumb.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 52px;
    margin: 0 auto 80px;
    text-shadow: none;
    width: 306px;
}
.info-block {
    margin: 0 0 15px;
    overflow: auto;
    padding-bottom: 10px;
}
.info-block .service-info {
    overflow: auto;
    position: relative;
}
.info-block .profile-image-container {
    background-size: contain;
    float: left;
    height: 100px;
    margin: 2px 10px 0 0;
    position: relative;
    width: 100px;
}
.info-block .profile-image-container img {
    display: block;
    height: auto;
    width: 100px;
}
.info-block .profile-image-container a.change-picture {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}
.info-block .profile-image-container a.change-picture:hover {
    opacity: 1;
}
.info-block .profile-image-container a.change-picture::before {
    display: none;
    padding: 0;
}
.info-block .profile-image-container a.change-picture span {
    color: #ffffff;
    display: inline-block;
    padding-left: 2px;
}
.info-block .profile-image-container a.change-picture span.icon-font-camera {
    font-size: 30.8px;
    margin: 24px 0 0 3px;
}
.info-block .verifications {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 120px;
}
.info-block .verifications p {
    float: none;
}
.info-block .verifications .rating {
    font-size: 14px;
    margin: 0;
    overflow: auto;
}
.info-block .verifications .rating .star-rating {
    float: right;
    margin-bottom: 4px;
}
.info-block .verifications .rating .detail {
    color: #aeaeae;
    float: right;
    font-size: 14px;
    margin: 5px 0;
    text-align: right;
    text-transform: none;
}
.info-block .profile-text {
    float: left;
    left: 10px;
    line-height: 1.5em;
    padding: 0;
    position: relative;
    width: 286px;
}
.info-block .profile-text .provider-name {
    display: inline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22.4px;
    font-weight: 200;
    margin: 0;
    padding-bottom: 6px;
    text-shadow: none;
}
.primo-avenir .info-block .profile-text .provider-name {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.info-block .profile-text .edit-link {
    margin: 0 10px;
}
.info-block .profile-text .edit-link::before {
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: normal;
    min-width: 1em;
    padding-right: 4px;
    text-align: center;
    text-decoration: inherit;
}
.ie7 .info-block .profile-text .edit-link::before {
    display: none;
}
.ie7 .info-block .profile-text .edit-link::before {
    display: none;
}
.info-block .profile-text .info {
    clear: both;
    color: #666666;
    display: block;
    margin: 0;
}
.info-block .profile-text .info.website {
    color: #666666;
}
.form-block .box-content {
    padding-top: 5px;
}
.form-block-closed .button-group {
    float: right;
}
.form-block-closed .price-form-total .quote-label {
    font-size: 22px;
    line-height: 34px;
    margin-right: 12px;
}
.form-block-closed .price-form-total .quote-number {
    font-size: 28px;
    line-height: 34px;
}
.form-block-closed .form-message {
    font-weight: bold;
    margin-top: 20px;
}
.form-block-closed .form-message .message-quote {
    font-style: italic;
    font-weight: normal;
}
.profile-form-block .box-content {
    overflow: auto;
}
.profile-form-block .or {
    margin-bottom: 20px;
    text-align: center;
}
.profile-form-block .facebook-button {
    background: -moz-linear-gradient(center top , #6981ba, #4c66a4) repeat scroll 0 0 #5b74af;
    box-shadow: none;
    color: #ffffff;
    text-shadow: 0 1px 0 #434343;
}
.profile-form-block .facebook-button:hover {
    background: none repeat scroll 0 0 #4c66a4;
}
.profile-form-block .loader {
    background: url("/media/loading-medium.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.profile-form-block .profile-form-right {
    float: right;
    text-align: center;
    width: 220px;
}
.profile-form-block .profile-form-right .profile-form-image {
    margin: 5px auto;
    width: 140px;
}
.profile-form-block .profile-form-right .profile-form-image .profile-form-image-placeholder {
    color: #aeaeae;
    height: 140px;
    line-height: 140px;
}
.profile-form-block .profile-form-right .profile-form-image img {
    border: medium none;
    width: 140px;
}
.profile-form-block .profile-form-left {
    float: left;
    margin-right: 20px;
    width: 260px;
}
.profile-form-block .upload-photo {
    font-size: 14px;
    margin: 5px auto;
}
.continue-bttn {
    margin-bottom: 20px !important;
}
.profile-form-closed .box-content {
    overflow: auto;
}
.profile-form-closed img {
    float: left;
    margin-right: 20px;
}
.profile-form-closed .profile-info {
    float: left;
}
.service-form .length-indicator {
    display: none;
}
.service-form-closed p {
    color: #666666;
    margin-bottom: 10px;
}
.service-form-closed h3, .service-form-closed h4 {
    margin-bottom: 5px;
}
.text-lbox.box-modal .box-content p {
    margin: 10px 0;
}
.update-info.lbox {
    width: 460px;
}
.update-info.lbox .bttn {
    float: right;
}
.box-modal.tips-modal {
    width: 480px;
}
.box-modal.tips-modal .box-header {
    background-clip: padding-box;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 60px;
    text-align: center;
}
.box-modal.tips-modal .box-header h1 {
    animation-delay: 0.5s;
    color: #ffffff;
    font-size: 33.6px;
    letter-spacing: 0;
    text-shadow: none;
}
.box-modal.tips-modal .box-header h1::before {
    content: "";
    display: block;
    margin: 0 auto 22px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.tips-modal .box-header h1 {
    font-size: 25.2px;
}
}
.box-modal.tips-modal .box-content {
    margin: 0 auto;
    max-width: 360px;
    padding-bottom: 45px;
    padding-top: 60px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.box-modal.tips-modal .box-content {
    padding-bottom: 30px;
}
}
.box-modal.tips-modal .taxonym {
    display: inline-block;
}
.box-modal.tips-modal .box-header {
    background: -moz-linear-gradient(center top , #fd9920, #fd6420) repeat scroll 0 0 #fd7e20;
}
.box-modal.tips-modal .box-header h1::before {
    background: url("../images/lightbulb-icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 65px;
    text-shadow: none;
    width: 64px;
}
.box-modal.tips-modal .box-content .cta {
    margin-top: 30px;
    text-align: center;
}
.box-modal.tips-modal .box-content .cta .bttn {
    background: -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0 #2d87f0;
    border: 1px solid #1070de;
    color: #ffffff;
}
.box-modal.tips-modal .box-content .cta .bttn:hover, .box-modal.tips-modal .box-content .cta .bttn.bttn-hover {
    background: -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0 #2882ea;
}
.box-modal.tips-modal .box-content .cta .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.box-modal.tips-modal .box-content .cta .bttn:active, .box-modal.tips-modal .box-content .cta .bttn.bttn-active {
    background: -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0 #1172e3;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.box-modal.tips-modal .box-content .cta .bttn .caret {
    border-top-color: #ffffff;
}
.welcome-modal .intro {
    font-size: 16.8px;
}
.welcome-modal .fine-print {
    color: #8e8e8e;
    font-size: 12.6px;
    margin-top: 21px;
}
.welcome-modal .finish {
    text-align: center;
}
