.row {
    display: block;
    width: 970px;
    margin: 0 -5px;
    *zoom: 1;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.dynamic-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    *zoom: 1;
}
.dynamic-row:before, .dynamic-row:after {
    content: "";
    display: table;
}
.dynamic-row:after {
    clear: both;
}
.dynamic-row>[class*="column"]:first-child {
    margin-left: 0;
}
@charset "UTF-8";    
.mobile-app-banner {
    background: #f8f8f8;
    overflow: hidden;
    border: 1px solid #ebebeb;
    display: none;
}
.mobile-app-banner .wrapper {
    position: relative;
    padding: 35px 12px;
}
.mobile-app-banner .wrapper .copy-column {
    display: inline;
    float: left;
    width: 65.18232044%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .mobile-app-banner .wrapper .copy-column {
    width: 57.08232044%}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper .copy-column {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
}.mobile-app-banner .wrapper .iphone {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: transparent url("../images/iphone-in-hand.png") top left no-repeat;
    width: 534px;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper .iphone {
    display: none;
}
}.mobile-app-banner .wrapper h2 {
    text-align: left;
}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper h2 {
    text-align: center;
}
}.mobile-app-banner .wrapper p {
    margin: 25px 0;
    font-size: 16.1px;
    font-weight: 300;
    line-height: 25.2px;
    color: #666;
}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper p {
    text-align: center;
}
}.mobile-app-banner .wrapper .download-button {
    padding-top: 10px;
}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper .download-button {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    text-align: center;
}
}.mobile-app-banner .wrapper form {
    float: left;
    margin-right: 4%}
@media (max-width: 715px) {
    .mobile-app-banner .wrapper form {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    text-align: center;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .mobile-app-banner .wrapper form {
    display: none;
}
}.mobile-app-banner .wrapper form .input-append input {
    max-width: 165px;
}
@media only screen and (max-width: 960px) {
    .mobile-app-banner .wrapper form .input-append input {
    max-width: 125px;
}
}.ng-cloak {
    display: none;
}
.glorious-header {
    position: relative;
    border: none;
    z-index: 800;
    height: 80px;
    background: -webkit-gradient(linear,  left top,  left bottom,  from(rgba(0, 0, 0, 0.5)),  to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
    background: linear-gradient(top,  rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
}
.ie7 .glorious-header, .ie8 .glorious-header, .ie9 .glorious-header {
    background: transparent;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .glorious-header {
    background: none;
    background-color: #fff;
    filter: alpha(opacity=90);
    -khtml-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .primo-responsive .glorious-header .header-logo>a {
    margin-bottom: 20px;
    background-size: 60%}
}.ie7 .glorious-header, .ie8 .glorious-header, .ie9 .glorious-header, .ie10 .glorious-header {
    background-color: transparent;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .glorious-header .header-row .header-navigation {
    padding: 7px 0;
}
}.primo-fluid .glorious-header .header-row .header-navigation {
    margin-right: 12px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .primo-fluid .glorious-header .header-row .header-navigation {
    margin-right: 0;
}
}.primo-fluid .glorious-header .header-row .header-navigation {
    float: right;
    width: auto;
}
@media only screen and (max-width: 960px) {
    .primo-fluid .glorious-header .header-row .header-navigation {
    display: block;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .primo-fluid .glorious-header .header-row .header-navigation a, .primo-fluid .glorious-header .header-row .header-navigation a.log-in-link {
    padding: 0;
    border: none;
    font-size: 14px;
}
}.glorious-header .header-row .header-navigation a.gray-link {
    filter: alpha(opacity=60);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
}
.glorious-header .header-row .header-navigation a.gray-link:hover {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    color: #fff;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .glorious-header .header-row .header-navigation a.gray-link: hover {
    color: #4092f1;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .glorious-header .header-row .header-navigation a.gray-link {
    color: #4092f1;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
}.glorious-header .header-row .header-navigation a.log-in-link {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #fff;
    padding: 10px 20px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .glorious-header .header-row .header-navigation a {
    color: #4092f1;
    background: #fff;
    font-weight: 500;
}
}@media only screen and (max-width: 960px) {
    .primo-fluid .glorious-header .header-row .header-collapsed-navigation {
    display: none;
}
}.glorious-header .header-logo {
    padding-top: 20px;
}
.autocomplete-suggestions-menu {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    box-shadow: inset 0 1px 0 #eee;
    border: 1px solid #bbb;
}
.autocomplete-suggestions-menu p {
    font-size: 16.8px;
}
.autocomplete-suggestions-menu p:hover {
    cursor: default;
}

.autocomplete-suggestions-menu .show-all {
    color: #aeaeae;
    border-top: 1px solid #ebebeb;
}
.autocomplete-suggestions-menu .selected {
    color: #4092f1;
    background: #f9f9f9;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .sticky-cta {
    display: none;
}
}.sticky-cta .wrapper form {
    float: right;
}
@media (max-width: 726px) {
    .sticky-cta .wrapper form {
    display: none;
}
}.sticky-cta .wrapper input {
    float: left;
    margin: 18px 10px 20px 0;
}
.sticky-cta .wrapper .query {
    width: 250px;
}
.sticky-cta .wrapper .zip {
    width: 100px;
}
.sticky-cta .wrapper .bttn {
    width: 150px;
}
.sticky-cta .wrapper .replacement-bttn {
    display: none;
}
@media (max-width: 726px) {
    .sticky-cta .wrapper .replacement-bttn {
    display: inline-block;
}
}.sticky-cta .wrapper .autocomplete-suggestions-menu {
    position: fixed;
    top: 60px;
    z-index: 1000;
    width: 250px;
}
.sticky-cta .wrapper .autocomplete-suggestions-menu p {
    padding-left: 10px;
}
.sticky-cta .wrapper .invisible {
    display: none;
}
.sticky-cta .wrapper .outer {
    border: none;
}
h1, h2 {
    text-shadow: none;
}
.overview .hero {
    background: radial-gradient(circle at 60% 30%,  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.7)), url(../images/event.jpg) center top no-repeat;
	background:url(../images/event.jpg)center top no-repeat!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 590px;
}
.ie7 .overview .hero, .ie8 .overview .hero, .ie9 .overview .hero {
    background: url(/media/primo/pages/homepage/highlights/event.jpg) center top no-repeat;
}
.ie7 .overview .hero:before, .ie8 .overview .hero:before, .ie9 .overview .hero:before {
    content: '';
    position: absolute;
    background: url(/media/primo/common/ie-curtain.png);
    width: 100%;
    height: 100%}
@media (max-width: 715px) {
    .overview .hero {
    height: 640px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero {
    padding-top: 30px;
    height: 520px;
    background: url(/media/primo/pages/homepage/highlights/interior-design.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}.overview .hero .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
}
.overview .hero .slide.current {
    opacity: 1;
}
.overview .hero .slide.slide-0 {
    background: radial-gradient(circle at 60% 30%,  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.7)), url(../images/event.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie7 .overview .hero .slide.slide-0, .ie8 .overview .hero .slide.slide-0, .ie9 .overview .hero .slide.slide-0 {
    background: url(/media/primo/pages/homepage/highlights/event.jpg) center top no-repeat;
}
.ie7 .overview .hero .slide.slide-0:before, .ie8 .overview .hero .slide.slide-0:before, .ie9 .overview .hero .slide.slide-0:before {
    content: '';
    position: absolute;
    background: url(/media/primo/common/ie-curtain.png);
    width: 100%;
    height: 100%}
.overview .hero .slide.slide-1 {
    background: radial-gradient(circle at 60% 30%,  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.7)), url(/media/primo/pages/homepage/highlights/interior-design.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie7 .overview .hero .slide.slide-1, .ie8 .overview .hero .slide.slide-1, .ie9 .overview .hero .slide.slide-1 {
    background: url(/media/primo/pages/homepage/highlights/interior-design.jpg) center top no-repeat;
}
.ie7 .overview .hero .slide.slide-1:before, .ie8 .overview .hero .slide.slide-1:before, .ie9 .overview .hero .slide.slide-1:before {
    content: '';
    position: absolute;
    background: url(/media/primo/common/ie-curtain.png);
    width: 100%;
    height: 100%}
.overview .hero .slide.slide-2 {
    background: radial-gradient(circle at 60% 30%,  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.7)), url(/media/primo/pages/homepage/highlights/wellness.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie7 .overview .hero .slide.slide-2, .ie8 .overview .hero .slide.slide-2, .ie9 .overview .hero .slide.slide-2 {
    background: url(/media/primo/pages/homepage/highlights/wellness.jpg) center top no-repeat;
}
.ie7 .overview .hero .slide.slide-2:before, .ie8 .overview .hero .slide.slide-2:before, .ie9 .overview .hero .slide.slide-2:before {
    content: '';
    position: absolute;
    background: url(/media/primo/common/ie-curtain.png);
    width: 100%;
    height: 100%}
.overview .hero .slide.slide-3 {
    background: radial-gradient(circle at 60% 30%,  rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.7)), url(/media/primo/pages/homepage/highlights/tutoring.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie7 .overview .hero .slide.slide-3, .ie8 .overview .hero .slide.slide-3, .ie9 .overview .hero .slide.slide-3 {
    background: url(/media/primo/pages/homepage/highlights/tutoring.jpg) center top no-repeat;
}
.ie7 .overview .hero .slide.slide-3:before, .ie8 .overview .hero .slide.slide-3:before, .ie9 .overview .hero .slide.slide-3:before {
    content: '';
    position: absolute;
    background: url(/media/primo/common/ie-curtain.png);
    width: 100%;
    height: 100%}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .slide {
    display: none;
}
}.ie7 .overview .hero .slide, .ie8 .overview .hero .slide, .ie9 .overview .hero .slide {
    display: none;
}
.overview .hero .dynamic-row {
    padding-top: 140px;
    max-width: 960px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
@media (max-width: 715px) {
    .overview .hero .dynamic-row {
    padding-top: 120px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .dynamic-row {
    padding-top: 40px;
}
}.overview .hero .dynamic-row .logo {
    display: inline;
    float: left;
    width: 31.49171271%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .hero .dynamic-row .logo {
    width: 31.39171271%}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .dynamic-row .logo {
    display: inline;
    float: left;
    width: 22.92817679%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .hero .dynamic-row .logo {
    width: 22.82817679%}
}.overview .hero .copy {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .hero .copy {
    width: 48.51878453%}
.overview .hero .copy h1 {
    line-height: 28px;
    margin: 0 0 14px;
}
.overview .hero .copy h2 {
    line-height: 21px;
    margin: 0 0 14px;
}
.overview .hero .copy h3 {
    line-height: 17.5px;
    margin: 0 0 14px;
}
.overview .hero .copy h4 {

    line-height: 14px;
    margin: 0 0 14px;
}
.overview .hero .copy h5 {
    line-height: 14px;
    margin: 0 0 14px;
}
.overview .hero .copy p {
    line-height: 21px;
    margin: 0 0 14px;
}
.overview .hero .copy ul {
    list-style-type: disc;
    padding-left: .4em;
    margin: 0 0 14px;
}
.overview .hero .copy ul li {
    line-height: 21px;
    margin-left: 20px;
}
.overview .hero .copy ol {
    list-style-type: decimal;
    padding-left: .8em;
    margin: 0 0 14px;
}
.overview .hero .copy ol li {
    line-height: 21px;
    margin-left: 20px;
}
.overview .hero .copy table {
    margin: 0 0 14px;
}
.overview .hero .copy table td, .overview .hero .copy table th {
    padding: 0 20px 5px 0;
}
.overview .hero .copy pre {
    margin: 0 0 14px;
}
@media only screen and (max-width: 960px) {
    .overview .hero .copy {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ie7 .overview .hero .copy {
    width: 48.51878453%}
}@media (max-width: 715px) {
    .overview .hero .copy {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}
}.overview .hero .copy h1 {
    color: #fff;
    font-size: 72.996px;
    line-height: 72.996px;
    letter-spacing: -0.015em;
    font-weight: 400;
    margin: 0 0 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 960px) {
    .overview .hero .copy h1 {
    font-size: 54.6px;
    line-height: 56px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .copy h1 {
    font-size: 36.4px;
    line-height: 36.4px;
    font-weight: bold;
}
}.overview .hero .copy .cover-stories {
    position: relative;
}
.overview .hero .copy .cover-stories .cover-story:before {
    left: 0;
}
.overview .hero .copy .cover-stories .cover-story {
    margin-top: 50px;
    position: relative;
    padding-top: 15px;
}
.overview .hero .copy .cover-stories .cover-story:before, .overview .hero .copy .cover-stories .cover-story:after {
    position: absolute;
    content: '.';
    font-size: 1px;
    border-left: 50px solid #f47503;
    border-right: 110px solid rgba(235, 235, 235, 0.3);
    display: none;
}
.overview .hero .copy .cover-stories .cover-story:before {
    top: 0;
    display: inline-block;
}
.overview .hero .copy .cover-stories .cover-story.slide {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
}
.overview .hero .copy .cover-stories .cover-story .avatar {
    float: left;
    margin-right: 15px;
}
.overview .hero .copy .cover-stories .cover-story .avatar img {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.overview .hero .copy .cover-stories .cover-story .testimonial {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .hero .copy .cover-stories .cover-story .testimonial {
    width: 48.51878453%}
@media only screen and (max-width: 960px) {
    .overview .hero .copy .cover-stories .cover-story .testimonial {
    max-width: 250px;
}
}.overview .hero .copy .cover-stories .cover-story .testimonial p {
    color: #fff;
    font-size: 16.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    padding-top: 5px;
}
.overview .hero .copy .cover-stories .cover-story .testimonial p a {
    color: #fff;
    font-size: 14px;
    filter: alpha(opacity=80);
    -khtml-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}
.overview .hero .copy .cover-stories .cover-story .testimonial p a:after {
    font-family: 'Primo Icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    min-width: 1em;
    content: '\e034';
    margin-left: 5px;
}
.ie7 .overview .hero .copy .cover-stories .cover-story .testimonial p a:after {
    display: none;
}
.ie7 .overview .hero .copy .cover-stories .cover-story .testimonial p a:after {
    display: none;
}
.overview .hero .copy .cover-stories .cover-story .testimonial p a:after:before {
    content: '\e034';
    display: inline-block;
}
@media (max-width: 715px) {
    .overview .hero .copy .cover-stories .cover-story {
    display: none;
}
}.overview .hero .form-area {
    width: 100%;
    max-width: 340px;
    float: right;
}
@media (max-width: 715px) {
    .overview .hero .form-area {
    max-width: 100%;
    margin: 0 auto;
}
}.overview .hero .form-area .box {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.overview .hero .form-area .box .box-header {
    margin-bottom: 25px;
    padding: 30px 50px 0 50px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .form-area .box .box-header {
    padding: 30px 30px 0 30px;
}
}.overview .hero .form-area .box .box-header h2 {
    font-size: 25.2px;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .form-area .box .box-header h2 {
    font-weight: 600;
}
}.overview .hero .form-area .box .box-content {
    padding: 0 50px 35px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .form-area .box .box-content {
    padding: 0 30px 35px;
}
}.overview .hero .form-area .box .box-content .form-field {
    margin: 0;
    padding: 0 15px 20px 0;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .hero .form-area .box .box-content .form-field {
    margin: 0;
    padding: 0 15px 13px 0;
}
}.overview .hero .form-area .box .box-content .form-field:last-child {
    padding-bottom: 0;
}
.overview .hero .form-area .box .box-content .form-field .autocomplete-suggestions-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 15px;
    box-shadow: inset 0 1px 0 #eee;
    border: 1px solid #bbb;
}
.overview .hero .form-area .box .box-content .form-field .autocomplete-suggestions-menu p {
    font-size: 16.1px;
    padding: 10px;
}
.overview .hero .form-area .box .box-content .form-field .autocomplete-suggestions-menu .selected {
    color: #4092f1;
    background: #f9f9f9;
}
.overview .hero .form-area .box .box-content .form-field .autocomplete-suggestions-menu .show-all {
    color: #aeaeae;
    border-top: 1px solid #ebebeb;
}
.overview .hero .form-area .box .box-content .form-field button {
    margin-top: 10px;
}
.overview .hero .form-area .box .box-content .form-field label {
    font-size: 16.1px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.overview .subtitle {
    text-transform: uppercase;
    font-size: 15.4px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 15px;
    border-top: 1px solid #008ee2;
}
.overview .wrapper-title {
    text-align: center;
    margin: 0 auto 90px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .wrapper-title {
    margin: 0 auto 45px;
}
}.overview .wrapper-title h2 {
    font-size: 38.99px;
    line-height: 49.994px;
    letter-spacing: -0.01em;
    font-weight: 400;
    width: 85%;
    margin: 0 auto 40px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .wrapper-title h2 {
    width: 100%}
}.overview .navigation-row {
    margin: 510px 0 80px 0;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    height: 41px;
}
@media (max-width: 715px) {
    .overview .navigation-row {
    margin-top: 560px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .navigation-row {
    margin: 515px 0 20px 0;
}
}.overview .navigation-row ul {
    *zoom: 1;
}
.overview .navigation-row ul:before, .overview .navigation-row ul:after {
    content: "";
    display: table;
}
.overview .navigation-row ul:after {
    clear: both;
}
.overview .navigation-row ul li {
    border-right: 1px solid #ebebeb;
    text-transform: uppercase;
    font-size: 11.9px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20%;
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overview .navigation-row ul li:last-child {
    border-right: none;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .navigation-row ul li {
    font-size: 9.8px;
    border-right: none;
}
}.overview .navigation-row ul li.lessons a:before {
    background-position: -32px 0;
}
.overview .navigation-row ul li.events a:before {
    background-position: -16px 0;
    margin: -2px 9px -2px 0;
}
.overview .navigation-row ul li.wellness a:before {
    background-position: -50px 0;
}
.overview .navigation-row ul li.more_services a {
    white-space: nowrap;
}
.overview .navigation-row ul li.more_services a:before {
    background-position: -67px 0;
}
.overview .navigation-row ul li a {
    color: #666;
    padding: 13px 0;
    display: block;
    position: relative;
    width: 100%}
.overview .navigation-row ul li a:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 14px;
    margin: -2px 9px;
    background: url(../images/navigation-row-icons.png);
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .navigation-row ul li a: before {
    display: none;
}
}.overview .navigation-row ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #008ee2;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.overview .navigation-row ul li a:hover:after {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -ms-transform: translateY(0);
}
.overview .how-works {
    color: #666;
    padding-bottom: 90px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works {
    padding: 40px 0;
}
}.ie7 .overview .how-works {
    margin-top: 575px;
}
.overview .how-works .dynamic-row {
    margin-bottom: 40px;
}
@media only screen and (max-width: 960px) {
    .overview .how-works .dynamic-row img {
    width: 100%;
    margin-top: 20px;
}
}.overview .how-works h3 {
    color: #008ee2;
    font-size: 31.99px;
    line-height: 38.99px;
    letter-spacing: -0.01em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
    margin-top: 40px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works h3 {
    font-size: 25.2px;
    line-height: 30.8px;
}
}.overview .how-works p, .overview .how-works li {
    font-size: 16.8px;
    line-height: 25.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 15px;
}
.overview .how-works li {
    overflow: hidden;
}
.overview .how-works .step-1 .text, .overview .how-works .step-3 .text {
    display: inline;
    float: left;
    width: 40.05524862%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .how-works .step-1 .text, .ie7 .overview .how-works .step-3 .text {
    width: 39.95524862%}
@media only screen and (max-width: 960px) {
    .overview .how-works .step-1 .text, .overview .how-works .step-3 .text {
    display: inline;
    float: left;
    width: 44.33701657%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
}
.ie7 .overview .how-works .step-1 .text, .ie7 .overview .how-works .step-3 .text {
    width: 44.23701657%}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-1 .text, .overview .how-works .step-3 .text {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
}.overview .how-works .step-1 .image, .overview .how-works .step-3 .image {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    float: right;
}
.ie7 .overview .how-works .step-1 .image, .ie7 .overview .how-works .step-3 .image {
    width: 48.51878453%}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-1 .image, .overview .how-works .step-3 .image {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
}.overview .how-works .step-2 {
    margin-bottom: 80px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-2 {
    margin-bottom: 0;
}
}.overview .how-works .step-2 .text {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
}
.ie7 .overview .how-works .step-2 .text {
    width: 48.51878453%}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-2 .text {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
}.overview .how-works .step-2 .image {
    display: inline;
    float: left;
    width: 48.61878453%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
}
.ie7 .overview .how-works .step-2 .image {
    width: 48.51878453%}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-2 .image {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
}.overview .how-works .step-2 h3 {
    margin-top: 80px;
}
@media only screen and (max-width: 960px) {
    .overview .how-works .step-2 h3 {
    margin-top: 120px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works .step-2 h3 {
    margin-top: 40px;
}
}.overview .how-works .step-2 ul li {
    margin-top: 10px;
    position: relative;
    padding-left: 36px;
}
.overview .how-works .step-2 ul li:before {
    content: "";
    display: block;
    width: 26px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/components_2.jpg);
}
.overview .how-works .step-2 .reviews:before {
    background-position: -36px 0;
}
.overview .how-works .step-2 .contact:before {
    background-position: -72px 0;
}
.overview .how-works .step-2 .message:before {
    background-position: -108px 0;
}
.overview .how-works .step-2 .profile:before {
    background-position: -144px 0;
}
.overview .how-works .step-3 {
    margin-bottom: 0;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .how-works {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primo-avenir .overview .how-works {
    font-family: "Avenir Next Demi Bold", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}.overview .states {
    background: #f8f8f8;
    border: 1px solid #ebebeb;
    padding: 40px 0;
}
.overview .states h2 {
    font-size: 28px;
    line-height: 35.994px;
    letter-spacing: -0.01em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-bottom: 35px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .states h2 {
    font-weight: 600;
}
}.overview .states ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: inherit;
    *zoom: 1;
}
.overview .states ul * {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: inherit;
}
.overview .states ul:before, .overview .states ul:after {
    content: "";
    display: table;
}
.overview .states ul:after {
    clear: both;
}
.overview .states ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 10px 5px 0;
    width: 24.5%;
    font-size: 13px;
}
.overview .states ul li a {
    color: #434343;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media only screen and (max-width: 590px) {
    .overview .states ul li {
    width: 33.33333333%}
}.overview .stories {
    padding: 90px 0;
    background: #fff;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .stories {
    padding: 40px 0;
}
}.overview .stories h2 {
    font-size: 38.99px;
    line-height: 49.994px;
    letter-spacing: -0.01em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .stories h2 {
    font-size: 30.8px;
    line-height: 33.6px;
    font-weight: 600;
}
}.overview .stories .card {
    display: block;
    color: #434343;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    float: left;
    margin: 0 2% 2% 0;
    width: 32%}
.ie7 .overview .stories .card, .ie8 .overview .stories .card {
    width: 31.33333333%}
.overview .stories .card:nth-child(1n) {
    margin-right: 1%}
.overview .stories .card:nth-child( 3n) {
    margin-right: 0;
}
@media only screen and (max-width: 960px) {
    .overview .stories .card {
    float: left;
    margin: 0 2% 2% 0;
    width: 49%}
.ie7 .overview .stories .card, .ie8 .overview .stories .card {
    width: 48%}
.overview .stories .card:nth-child(1n) {
    margin-right: 1%}
.overview .stories .card:nth-child( 2n) {
    margin-right: 0;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .stories .card {
    float: left;
    margin: 0 2% 2% 0;
    width: 100%}
.ie7 .overview .stories .card, .ie8 .overview .stories .card {
    width: 98%}
.overview .stories .card:nth-child(1n) {
    margin-right: 1%}
.overview .stories .card:nth-child( 1n) {
    margin-right: 0;
}
}.overview .stories .card blockquote {
    background: #fff url(../images/quote.png) top left no-repeat;
    background-position: 20px 20px;
    margin: 0 0 15px;
    padding: 60px 20px 0 20px;
    position: relative;
    padding-bottom: 15px;
}
.overview .stories .card blockquote:before, .overview .stories .card blockquote:after {
    position: absolute;
    content: '.';
    font-size: 1px;
    border-left: 50px solid #008ee2;
    border-right: 110px solid #ebebeb;
    display: none;
}
.overview .stories .card blockquote:after {
    bottom: 0;
    display: inline-block;
}
@media only screen and (max-width: 960px) {
    .overview .stories .card blockquote {
    padding-top: 60px;
    background-position: 20px 20px;
}
}.overview .stories .card blockquote p {
    font-size: 16.1px;
    line-height: 25.2px;
    color: #666;
}
.overview .stories .card:hover {
    text-decoration: none;
}
.overview .stories .card:hover h3 {
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    -ms-transform: translateX(-10%);
}
.overview .stories .card:hover .info {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.overview .stories .card:hover .info h3 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.overview .stories .card:hover .info p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
}
.overview .stories .card h3 {
    font-size: 16.1px;
    color: #fff;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
}
.overview .stories .card h3 span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17.5px;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .stories .card h3 span {
    font-size: 17.5px;
}
}.overview .stories .card .professional {
    padding: 0 20px;
}
.overview .stories .card .professional .avatar {
    float: left;
}
.overview .stories .card .professional .avatar img {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.overview .stories .card .professional .stats {
    overflow: hidden;
}
.overview .stories .card .professional .stats .name {
    font-size: 16.1px;
    font-weight: 500;
    padding: 0 10px;
}
.overview .stories .card .professional .stats .star-rating {
    margin: 2px 0 0 10px;
    padding-left: 95px;
    font-size: 13.3px;
    color: #8e8e8e;
}
.overview .stories .card .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 210px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.overview .stories .card .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 19.6px;
    font-weight: 600;
    padding-top: 60px;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
    -ms-transform: translateX(-20%);
}
.overview .stories .card .info p {
    color: #fff;
    margin: 0 70px;
    font-size: 15.4px;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    -ms-transform: translateX(20%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #fff;
    padding: 10px 0;
}
.overview .stories .card p {
    font-size: 14px;
    line-height: 25.2px;
}
.overview .stories .card .amanda {
    background: #fff url(../images/amanda.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .stories .card .gurpreet {
    background: #fff url(../images/gurpreet.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .stories .card .sarah {
    background: #fff url(../images/sarah.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .stories .card .norris {
    background: #fff url(../images/norris.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .stories .card .scott {
    background: #fff url(../images/scot.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .stories .card .nancy {
    background: #fff url(../images/nancy.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 210px;
    position: relative;
}
.overview .mobile-app-banner {
    margin-bottom: 90px;
}
.overview .mobile-app-banner h2 {
    font-size: 28px;
    line-height: 35.994px;
    letter-spacing: -0.01em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-align: left;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .mobile-app-banner h2 {
    font-weight: 600;
}
}@media (max-width: 715px) {
    .overview .mobile-app-banner h2 {
    text-align: center;
}
}.overview .pros {
    padding-bottom: 55px;
    text-align: center;
}
.overview .pros .pros-header {
    font-size: 38.99px;
    line-height: 49.994px;
    letter-spacing: -0.01em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .pros .pros-header {
    font-size: 30.8px;
    line-height: 33.6px;
    font-weight: 600;
}
}.overview .pros h4 {
    font-size: 18.2px;
    line-height: 21px;
    font-weight: normal;
    color: #666;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 960px) {
    .overview .pros h4 {
    font-size: 16.8px;
    line-height: 21px;
}
}.overview .pros .main-video, .overview .pros .video-1, .overview .pros .video-2, .overview .pros .sign-up-box {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.overview .pros .main-video .play, .overview .pros .video-1 .play, .overview .pros .video-2 .play, .overview .pros .sign-up-box .play {
    width: 123px;
    height: 123px;
    background: url(../images/play.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    position: absolute;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
}
@media (max-width: 715px) {
    .overview .pros .main-video .play, .overview .pros .video-1 .play, .overview .pros .video-2 .play, .overview .pros .sign-up-box .play {
    width: 100px;
    height: 100px;
}
}.overview .pros .main-video h3, .overview .pros .video-1 h3, .overview .pros .video-2 h3, .overview .pros .sign-up-box h3 {
    position: absolute;
    text-align: left;
    bottom: 10px;
    left: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 33.6px;
    line-height: 33.6px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
}
@media (max-width: 715px) {
    .overview .pros .main-video h3, .overview .pros .video-1 h3, .overview .pros .video-2 h3, .overview .pros .sign-up-box h3 {
    font-size: 29.4px;
    line-height: 29.4px;
}
}.overview .pros .main-video h3 span, .overview .pros .video-1 h3 span, .overview .pros .video-2 h3 span, .overview .pros .sign-up-box h3 span {
    text-transform: none;
    font-size: 19.6px;
    font-weight: normal;
    color: #d2d2d2;
}
.overview .pros .main-video .info, .overview .pros .video-1 .info, .overview .pros .video-2 .info, .overview .pros .sign-up-box .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 485px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 715px) {
    .overview .pros .main-video .info, .overview .pros .video-1 .info, .overview .pros .video-2 .info, .overview .pros .sign-up-box .info {
    height: 323.33333333px;
}
}.overview .pros .main-video .info h3, .overview .pros .video-1 .info h3, .overview .pros .video-2 .info h3, .overview .pros .sign-up-box .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 19.6px;
    font-weight: 600;
    padding-top: 194px;
    margin: 0 70px;
    left: 0;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    text-align: center;
}
@media (max-width: 715px) {
    .overview .pros .main-video .info h3, .overview .pros .video-1 .info h3, .overview .pros .video-2 .info h3, .overview .pros .sign-up-box .info h3 {
    padding-top: 121.25px;
}
}@media only screen and (max-width: 34.285714285714285em), only handheld and (max-device-width: 34.285714285714285em) {
    .overview .pros .main-video .info h3, .overview .pros .video-1 .info h3, .overview .pros .video-2 .info h3, .overview .pros .sign-up-box .info h3 {
    padding-top: 97px;
    margin: 0 30px;
}
}.overview .pros .main-video .info p, .overview .pros .video-1 .info p, .overview .pros .video-2 .info p, .overview .pros .sign-up-box .info p {
    color: #fff;
    max-width: 150px;
    margin: 0 auto;
    font-size: 15.4px;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    -ms-transform: translateX(20%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #fff;
    padding: 10px 0;
}
.overview .pros .main-video:hover, .overview .pros .video-1:hover, .overview .pros .video-2:hover, .overview .pros .sign-up-box:hover {
    text-decoration: none;
}
.overview .pros .main-video:hover h3, .overview .pros .video-1:hover h3, .overview .pros .video-2:hover h3, .overview .pros .sign-up-box:hover h3, .overview .pros .main-video:hover .play, .overview .pros .video-1:hover .play, .overview .pros .video-2:hover .play, .overview .pros .sign-up-box:hover .play {
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    -ms-transform: translateX(-10%);
}
.overview .pros .main-video:hover .info, .overview .pros .video-1:hover .info, .overview .pros .video-2:hover .info, .overview .pros .sign-up-box:hover .info {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.overview .pros .main-video:hover .info h3, .overview .pros .video-1:hover .info h3, .overview .pros .video-2:hover .info h3, .overview .pros .sign-up-box:hover .info h3 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.overview .pros .main-video:hover .info p, .overview .pros .video-1:hover .info p, .overview .pros .video-2:hover .info p, .overview .pros .sign-up-box:hover .info p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -ms-transform: translateX(0);
}
.overview .pros .main-video {
    display: inline;
    float: left;
    width: 65.74585635%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-left: 0;
    height: 485px;
    background: #fff url(../images/main-video.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ie7 .overview .pros .main-video {
    width: 65.64585635%}
@media (max-width: 715px) {
    .overview .pros .main-video {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    height: 323.33333333px;
}
}.overview .pros .main-video .play {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.overview .pros .video-1, .overview .pros .video-2 {
    display: inline;
    float: left;
    width: 31.49171271%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    margin-bottom: 26px;
    height: 145px;
}
.ie7 .overview .pros .video-1, .ie7 .overview .pros .video-2 {
    width: 31.39171271%}
@media only screen and (max-width: 960px) {
    .overview .pros .video-1, .overview .pros .video-2 {
    margin-bottom: 20px;
}
}@media (max-width: 715px) {
    .overview .pros .video-1, .overview .pros .video-2 {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    margin-top: 20px;
}
}.overview .pros .video-1 .play, .overview .pros .video-2 .play {
    width: 40px;
    height: 40px;
    background: url(../images/play.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 10px;
    left: 15px;
}
@media (max-width: 715px) {
    .overview .pros .video-1 .play, .overview .pros .video-2 .play {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
}.overview .pros .video-1 h3, .overview .pros .video-2 h3 {
    font-size: 19.6px;
    line-height: 19.6px;
}
.overview .pros .video-1 h3 span, .overview .pros .video-2 h3 span {
    font-size: 14px;
}
.overview .pros .video-1 .info, .overview .pros .video-2 .info {
    height: 145px;
}
.overview .pros .video-1 .info h3, .overview .pros .video-2 .info h3 {
    padding-top: 41.42857143px;
    font-size: 14px;
    margin: 0 10px;
}
.overview .pros .video-1 {
    background: #fff url(../images/video-1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overview .pros .video-2 {
    background: #fff url(../images/video-2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overview .pros .sign-up-box {
    display: inline;
    float: left;
    width: 31.49171271%;
    margin: 0 0 0 2.76243094%;
    min-height: 1px;
    padding: 20px 15px;
    background: #f9f9f9;
}
.ie7 .overview .pros .sign-up-box {
    width: 31.39171271%}
@media (max-width: 715px) {
    .overview .pros .sign-up-box {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
    margin-top: 20px;
}
}.pod.pod-modal {
    width: 960px;
}
.pod.pod-modal .video {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.pod.pod-modal .video>* {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    height: 100% !important;
    width: 100% !important;
}


