
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::before, .dynamic-row::after {
    content: "";
    display: table;
}
.dynamic-row::after {
    clear: both;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
html {
    background-color: #1a1a1a;
    overflow-x: hidden;
    overflow-y: scroll;
}
.mainimage {
    background: rgba(0, 0, 0, 0) url("../../images/handyman.jpg") repeat scroll 0 0;
}
html.default {
    background: #1a1a1a url("../../images/handyman.jpg") no-repeat fixed center center / cover !important;
}
.header {
    margin: 50px auto 37.5px;
}
.header::before, .header::after {
    content: "";
    display: table;
}
.header::after {
    clear: both;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.header {
    margin: 25px auto;
}
}
.header .logo {
    display: block;
    margin: 0 auto;
    width: 250px !important;
}
.header .logo img {
    display: block;
    width: 100%;
}
.header .navigation {
    display: none;
}
.wrapper .header-copy, .row .header-copy {
    color: #fff;
    display: block;
    font-size: 30.8px;
    font-weight: 100;
    padding: 0 12% 30px;
    text-align: center;
    text-shadow: none;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .header-copy, .row .header-copy {
    font-size: 21px;
    padding: 0 0 30px;
}
}
.wrapper .box .box-header, .row .box .box-header, .wrapper .box .box-content, .row .box .box-content, .wrapper .box .box-footer, .row .box .box-footer {
    padding-left: 50px;
    padding-right: 50px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box .box-header, .row .box .box-header, .wrapper .box .box-content, .row .box .box-content, .wrapper .box .box-footer, .row .box .box-footer {
    padding-left: 30px;
    padding-right: 30px;
}
}
.wrapper .box h2, .row .box h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-bottom: 2px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box h2, .row .box h2 {
    font-size: 21px;
}
}
.wrapper .box h3, .row .box h3 {
    color: #8e8e8e;
    margin: 9px 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .box h3, .row .box h3 {
    font-size: 14px;
}
}
.wrapper .box .box-header, .row .box .box-header {
    padding-top: 25px;
}
.wrapper .box .box-footer, .row .box .box-footer {
    padding-bottom: 25px;
    padding-top: 25px;
}
.wrapper .box .box-footer .bttn, .row .box .box-footer .bttn {
    background: #2d87f0 -moz-linear-gradient(center top , #4092f1, #1a7cee) repeat scroll 0 0;
    border: 1px solid #1070de;
    color: #fff;
    float: right;
    font-size: 18px;
    margin-right: 0;
    padding: 12px 20px;
}
.wrapper .box .box-footer .bttn:hover, .row .box .box-footer .bttn:hover, .wrapper .box .box-footer .bttn.bttn-hover, .row .box .box-footer .bttn.bttn-hover {
    background: #2882ea -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0;
}
.wrapper .box .box-footer .bttn:focus, .row .box .box-footer .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.wrapper .box .box-footer .bttn:active, .row .box .box-footer .bttn:active, .wrapper .box .box-footer .bttn.bttn-active, .row .box .box-footer .bttn.bttn-active {
    background: #1172e3 -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.wrapper .box .box-footer .bttn .caret, .row .box .box-footer .bttn .caret {
    border-top-color: #fff;
}
.ie7 .wrapper .box .box-footer .bttn, .ie7 .row .box .box-footer .bttn {
    line-height: 18px;
    padding: 7px 20px;
}
.wrapper .reasons, .row .reasons {
    color: #fff;
    padding: 25px 30px;
}
.wrapper .reasons::before, .row .reasons::before, .wrapper .reasons::after, .row .reasons::after {
    content: "";
    display: table;
}
.wrapper .reasons::after, .row .reasons::after {
    clear: both;
}
.wrapper .reasons h4, .row .reasons h4 {
    color: #fff;
    font-size: 15.4px;
    font-weight: 200;
    margin-top: 5px;
    padding: 0 14px 0 65px;
}
.wrapper .reasons li, .row .reasons li {
    display: inline;
    float: left;
    margin: 0 0 0 2.76243%;
    min-height: 1px;
    width: 31.4917%;
}
.ie7 .wrapper .reasons li, .ie7 .row .reasons li {
    width: 31.3917%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.wrapper .reasons li, .row .reasons li {
    display: block;
    float: none;
    margin: 0;
    min-height: 50px;
    width: 100%;
}
}
.wrapper .reasons li.clients, .row .reasons li.clients {
    margin-left: 0;
}
.wrapper .reasons li.clients::before, .row .reasons li.clients::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.clients::before, .ie7 .row .reasons li.clients::before {
    display: none;
}
.ie7 .wrapper .reasons li.clients::before, .ie7 .row .reasons li.clients::before {
    display: none;
}
.ie8 .wrapper .reasons li.clients::before, .ie8 .row .reasons li.clients::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f47503;
}
.wrapper .reasons li.control-requests::before, .row .reasons li.control-requests::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.control-requests::before, .ie7 .row .reasons li.control-requests::before {
    display: none;
}
.ie7 .wrapper .reasons li.control-requests::before, .ie7 .row .reasons li.control-requests::before {
    display: none;
}
.ie8 .wrapper .reasons li.control-requests::before, .ie8 .row .reasons li.control-requests::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f47503;
}
.wrapper .reasons li.leads::before, .row .reasons li.leads::before {
    background-clip: padding-box;
    background-color: #f47503;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    font-family: "Primo Icons";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    min-width: 1em;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    width: 50px;
}
.ie7 .wrapper .reasons li.leads::before, .ie7 .row .reasons li.leads::before {
    display: none;
}
.ie7 .wrapper .reasons li.leads::before, .ie7 .row .reasons li.leads::before {
    display: none;
}
.ie8 .wrapper .reasons li.leads::before, .ie8 .row .reasons li.leads::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f47503;
}
.ie7 .wrapper .reasons li, .ie7 .row .reasons li {
    padding-left: 0;
}
.primo-fluid.landing-page {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.primo-avenir .primo-fluid.landing-page {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.primo-fluid.landing-page .slide {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 3s ease 0s;
    z-index: -2;
}
.primo-fluid.landing-page .slide.current {
    opacity: 1;
}
.primo-fluid.landing-page .slide.slide-0 {
    background: #1a1a1a url("../../images/event.jpg") no-repeat fixed center center / cover ;
    z-index: -1;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .slide {
    display: none;
}
}
.ie7 .primo-fluid.landing-page .slide {
    display: none;
}
.primo-fluid.landing-page .wrapper.content {
    color: #fff;
    margin: 0;
    min-height: 0;
}
.primo-fluid.landing-page .header {
    margin: 50px 50px 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header {
    margin: 30px 40px 0;
}
}
.primo-fluid.landing-page .header .logo {
    float: left;
}
.primo-fluid.landing-page .header .logo img {
    width: 184px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .header .logo img {
    width: 140px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header .logo img {
    width: 130px;
}
}
.primo-fluid.landing-page .header .navigation {
    display: block;
    float: right;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .header .navigation {
    display: none;
}
}
.primo-fluid.landing-page .header .navigation a {
    color: #fff;
    font-size: 16.8px;
    font-weight: 500;
    padding: 9px 10px;
}
.primo-fluid.landing-page .header .navigation a:hover {
    color: #d2d2d2;
}
.primo-fluid.landing-page .debug {
    display: none;
}
.primo-fluid.landing-page .hook {
    background: rgba(0, 0, 0, 0) url("../../images/handyman1.jpg") no-repeat scroll 0 0 / cover ;
    box-sizing: border-box;
    color: #fff;
    top: 25%;
    width: 100%;
}
.primo-fluid.landing-page .hook1 {
    background: rgba(0, 0, 0, 0) url("../../images/handyman.jpg") repeat scroll 0 -250px / cover ;
    box-sizing: border-box;
    color: #fff;
    top: 25%;
    width: 100%;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook {
    padding: 0 40px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook {
    top: 12%;
}
}
.primo-fluid.landing-page .hook form {
    margin: 0 auto;
    max-width: 912px;
    padding: 0 0 40px 20px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form {
    padding: 0;
}
}
.primo-fluid.landing-page .hook form h1 {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 0 0 33.6px;
    position: relative;
    text-shadow: none;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form h1 {
    font-size: 42px;
    line-height: 42px;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form h1 {
    font-size: 25.2px;
    line-height: 25.2px;
    margin-bottom: 20px;
}
}
.primo-fluid.landing-page .hook form h1 .has-custom-entry-point {
    font-size: 62%;
    font-weight: 500;
    line-height: 1;
}
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 18.2px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4.9px;
}
@media (max-width: 780px) {
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 16.8px;
    line-height: 22.4px;
}
.primo-fluid.landing-page .hook form {
    margin: 0 auto;
    max-width: 912px;
    padding: 0 0 40px !important;
}
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form h1 .subtitle {
    font-size: 14px;
    line-height: 19.6px;
}
}
.primo-fluid.landing-page .hook form fieldset {
    margin-bottom: 14px;
}
.primo-fluid.landing-page .hook form label {
    font-size: 19.6px;
}
.primo-fluid.landing-page .hook form .form-field-category {
    clear: none;
    float: left;
    width: 70%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-category {
    clear: none;
    float: left;
    width: 100% !important;
}
}
.primo-fluid.landing-page .hook form .form-field-category.valid::after, .primo-fluid.landing-page .hook form .form-field-category.invalid::after {
    display: none;
}
.primo-fluid.landing-page .hook form .form-field-category .subtext-form-invalid {
    background: #d51818 none repeat scroll 0 0 padding-box;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 3px;
}
.primo-fluid.landing-page .hook form .form-field-category select {
    box-shadow: none;
    color: #8e8e8e;
    font-size: 22.4px;
    height: 51.8px !important;
    line-height: 45px;
    margin: 0;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-category select {
    font-size: 16.8px;
    margin: 0;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-nav {
    clear: none;
    float: left;
    width: 30%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-nav.has-custom-entry-point {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav.has-custom-entry-point {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn {
    background: #2d87f0 none repeat scroll 0 0;
    border: 1px solid #1070de;
    color: #fff;
    display: block;
    font-size: 18.6px;
    height: 51.8px;
    line-height: 51.8px;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
    width: 100%;
}
.ie7 .primo-fluid.landing-page .hook form .form-field-nav .bttn {
    padding-left: 0;
    padding-right: 0;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:hover, .primo-fluid.landing-page .hook form .form-field-nav .bttn.bttn-hover {
    background: #2882ea -moz-linear-gradient(center top , #4092f1, #1172e3) repeat scroll 0 0;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:focus {
    box-shadow: 0 0 1px 2px #b7d6fa;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn:active, .primo-fluid.landing-page .hook form .form-field-nav .bttn.bttn-active {
    background: #1172e3 -moz-linear-gradient(center top , #1172e3, #1172e3) repeat scroll 0 0;
    border: 1px solid #0e5fbd;
    box-shadow: 0 1px 2px #0e5fbd inset;
}
.primo-fluid.landing-page .hook form .form-field-nav .bttn .caret {
    border-top-color: #fff;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form .form-field-nav .bttn {
    font-size: 16.8px;
    margin-top: 0;
}
}
.primo-fluid.landing-page .hook form .how-it-works {
    color: #87bbf6;
    font-size: 18.2px;
    line-height: 46.2px;
}
.primo-fluid.landing-page .hook form p {
    font-size: 12.6px;
    line-height: 21px;
    margin: 0 0 14px;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo-fluid.landing-page .hook form p {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 0;
}
}
.primo-fluid.landing-page .hook form p.nevermind {
    color: #f9f9f9;
    font-style: italic;
    margin-top: -17.5px;
}
.primo-fluid.landing-page .hook form p.nevermind a {
    color: #87bbf6;
}
.primo .subtext-form > span {
    display: block;
    margin-top: 3px;
}
.primo .subtext-form > span:first-child {
    margin-top: 0;
}
.primo .form-field-nav .back {
    float: left;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 0;
}
.primo .form-field-nav .nav-container {
}
.primo .form-field-nav .nav-container::before, .primo .form-field-nav .nav-container::after {
    content: "";
    display: table;
}
.primo .form-field-nav .nav-container::after {
    clear: both;
}
.primo .form-field-nav .conditions {
    clear: both;
    margin-top: 14px;
}
.primo .form-field-nav .conditions > p {
    color: #8e8e8e;
    font-size: 12.6px;
    line-height: 1.3;
    margin-top: 11.2px;
}
.primo .address .form-field-address-1 {
    clear: none;
    float: left;
    width: 66.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-address-1 {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-address-2 {
    clear: none;
    float: left;
    width: 33.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-address-2 {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-city {
    clear: none;
    float: left;
    width: 58.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-city {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-state {
    clear: none;
    float: left;
    width: 16.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-state {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .address .form-field-zip {
    clear: none;
    float: left;
    width: 25%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .address .form-field-zip {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .profile .form-field-description-example {
    clear: none;
    color: #8e8e8e;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .profile .form-field-description-example {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .profile .form-field-description-example > p {
    background: #f0fbfc none repeat scroll 0 0;
    color: #787878;
    line-height: 1.6;
    margin: 7px 0 0 5px;
    padding: 20px;
}
.primo .account .form-field-name-segment {
    clear: none;
    float: left;
    width: 50%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-name-segment {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .form-field-email {
    clear: none;
    float: left;
    width: 58.3333%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-email {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .form-field-phone {
    clear: none;
    float: left;
    width: 41.6667%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .form-field-phone {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .fieldset-password label .subtext {
    color: #8e8e8e;
    font-size: 12.6px;
    margin-left: 7px;
}
.primo .account .fieldset-password .form-field-password {
    clear: none;
    float: left;
    padding-left: 25px;
    width: 75%;
}
@media only screen and (max-width: 34.2857em), only handheld and (max-device-width: 34.2857em) {
.primo .account .fieldset-password .form-field-password {
    clear: none;
    float: left;
    width: 100%;
}
}
.primo .account .fieldset-password .form-field-password label {
    display: inline-block;
}
.primo .account .fieldset-password .form-field-password .show-password {
    color: #87bbf6;
    cursor: pointer;
    font-size: 12.6px;
    margin-left: 14px;
}
.primo fieldset {
    position: relative;
}
.primo fieldset .form-field-services.valid::after, .primo fieldset .form-field-services.invalid::after {
    display: none;
}
.primo .travel-preferences fieldset .form-field {
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px 5px 0;
}
.primo .travel-preferences fieldset .form-field.form-field-travel-preferences.valid::after, .primo .travel-preferences fieldset .form-field.form-field-travel-preferences.invalid::after {
    display: none;
}
.primo .travel-preferences fieldset .form-field.form-field-map {
    animation: 0.5s ease 0s normal none 1 running fade-in;
    margin: 0;
    padding: 0 15px 13px 0;
    pointer-events: none;
    position: relative;
}
.primo .travel-preferences fieldset .form-field.form-field-map img {
    height: auto !important;
    max-width: 100%;
    min-width: 0;
    width: 100% !important;
}
.primo .travel-preferences fieldset .form-field.form-field-travel-distance {
    animation: 0.25s ease 0s normal none 1 running fade-in;
    margin: 0;
    padding: 0 15px 13px 0;
}
.primo .travel-preferences fieldset .form-field:last-of-type {
    margin: 0;
    padding: 0 15px 13px 0;
}
@media only screen and (min-width: 550px) and (max-width: 602px) {
.primo-fluid.landing-page .hook form .form-field-category {
    clear: none;
    float: left;
    width: 100%;
}
}

.wrapper .box .box-header2, .row .box .box-header2, .wrapper .box .box-content2, .row .box .box-content2{
    padding-left: 20px!important;
    padding-right: 20px!important;

}

