<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7 "><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 "><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 "><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</script><script src="js/fbds.js" type="text/javascript"></script>
<script src="js/insight.js" type="text/javascript"></script>
<script src="js/conversion_async.js" type="text/javascript"></script>
<script src="js/quant.js" type="text/javascript"></script>
</script><script src="js/bat.js" type="text/javascript"></script>
<script src="js/tag.js" async=""></script>
<script type="text/javascript" src="js/jquery.js"></script>
<title>Seekmi</title>
<link rel="stylesheet" type="text/css" media="all" href="css/icons.css">
<link rel="stylesheet" type="text/css" media="all" href="css/core.css">
<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
<link rel="stylesheet" type="text/css" media="all" href="css/zenbox.css">
<link rel="stylesheet" type="text/css" media="all" href="css/login.css">
<link rel="stylesheet" type="text/css" media="all" href="css/avenir-next.css">
<link rel="stylesheet" type="text/css" media="all" href="css/signup.css">
<link rel="stylesheet" type="text/css" media="all" href="css/land.css">
<link href="css/1.css" rel="stylesheet" type="text/css">
</head>

<body class="primo primo-avenir primo-responsive primo-fluid  box-shadow multiple-backgrounds ng-scope landing-page">
<div class="glorious-header" data-section="header">
  <div class="wrapper">
    <div class="row header-row">
      <div class="header-logo"> <a href="#"><img src="images/seekmilogo.png" alt="Pintack"></a></div>
      <div class="header-middle-container"></div>
      <div class="header-navigation ">
        <div class="flagInd">
          <div class="pull-left"><img src="http://seekmi.com/images/flagn.png" alt="Seekmi"></div>
          <div class="pull-left">ID</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="sticky-cta ng-scope ng-isolate-scope invisible" sticky-header="" sticky-partner-attr="data-sticky-partner" ng-class="{visible: visible, invisible: !visible}" ng-controller="SmartyController" throttle-ms="250" visible="visible">
    <div class="wrapper">
        <div class="logo"></div>
        <form class="ng-pristine ng-invalid ng-invalid-required" action="/request" method="get" ng-submit="submitClicked()">
            <input name="query" tabindex="2" class="query ng-isolate-scope ng-pristine ng-invalid ng-invalid-required" required="" autocomplete="off" placeholder="What services do you need?" smarty-input="" select="setSelected(x)" index="selected" list-items="suggestions" close="suggestionPicked()" selection-made="selectionMade" ng-model="prefix" type="text">
                    <div smarty-suggestions-box="" class="autocomplete-suggestions-menu outer ng-isolate-scope invisible" sticky-header="" sticky-partner-attr="data-sticky-partner" throttle-ms="250" visible="visible" ng-class="{visible: visible, invisible: !visible}"></div>
            <input class="zip ng-pristine ng-invalid ng-invalid-required" name="zipCode" tabindex="3" required="" pattern="[0-9]*" placeholder="Zip code" autocomplete="off" ng-model="zip" focus-when="false" focus-me="" type="text">
            <button type="submit" class="bttn blue" tabindex="4">
                Get Started
            </button>
            <input name="origin" value="homepage" type="hidden">
        </form>
    
    </div>
</div>-->
<div data-overview="" class="overview ng-scope" ng-controller="SlidesController">
  <div class="hero full-block ng-scope" data-hero="" ng-controller="SmartyController">
    <div class="wrapper">
      <div class="dynamic-row">
        <div class="wrapper  wrap1">
          <h1 style="color:#fff; visibility:hidden; padding:0px; padding-top:0px;" class="title-wrapper choose-account"> <b> <span style="font-size:48px;">Get things done</span><br>
            by hiring experienced<br>
            local service pros<br>
            </b><br>
            <div>Daftar sekarang dan menangkan:</div>
          </h1>
          <!--   
    <div class="bottom-link-wrapper" style="padding:5px;">
            <a href="#">
              <div class="icon-font icon-font-star"></div>&nbsp;  1 dari 2 Apple Watch&nbsp;  &nbsp; 
            </a>
          
            <a id="register-instead" href="#">
               <div class="icon-font icon-font-star"></div>&nbsp; 1 dari 4 iPhone 6Plus&nbsp;  &nbsp; 
            </a>
         
            <a id="register-instead" href="#">
               <div class="icon-font icon-font-star"></div>&nbsp; serta 1 dari 4 Samsung S6&nbsp;  &nbsp; 
            </a>
        </div>--> 
        </div>
        <div class="wrapper choose-account-wrapper">
          <div class="dynamic-row" style="padding-top:0px;">
            <div class="box service-pro-account bgnone">
              <h1 class="title-wrapper hire choose-account headtxt1 headingFont" style="color:#fff; padding:5px; font-size:33px; line-height:41px; padding-top: 0 !important;  padding-top:0px; text-align:left;"> <b> <span class="get  headnewTxt">Get things done</span><br>
                by hiring experienced <br>
                local service pros<br>
                </b><br>
                <div class="get text01"> Get up to 5 customer quotes <br/>
                  within hours.<br/>
                  Compare   & hire the best. <br/>
                  Quick. Easy. Free.<br/>
                  <br/>
                  <br/>
                  <br/>
                </div>
              </h1>
            </div>
            <h3 class="or choose-account" style="visibility:hidden;"> or</h3>
            <div class="box standard-account">
              <form accept-charset="ISO-8859-1">
                <label for="usr_email" class="error singnTxt">What service do dou need?</label>
                <input type="text" id="usr_email" name="usr_email" tabindex="2" class="query error" autocomplete="off" placeholder="Plumbing, Renovation, Photograph">
<!--                <label for="usr_email" class="error singnTxt marT2">What do you need it?</label>
                <input type="text" id="usr_email" name="usr_email" tabindex="2" class="query error" autocomplete="off" placeholder="">-->
                <p class="account-description accountdes mainpm" style="visibility:hidden;"> kaodim is now available in Klang Valley, Penang & <br>
                  Johor Bahru</p>
                <a href="#" class="bttn blue create-accout-bttn btnbg1 " >Get free quotes</a>
              </form>
            </div>
            <div class="text02">
              <h1><a href="" class=""><br>
                Anda penyedia jasa?</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide-0" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div>
    <!-- end ngRepeat: index in slides -->
    <div class="slide slide-1" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div>
    <!-- end ngRepeat: index in slides -->
    <div class="slide slide-2 current" ng-class="{'current': slide == index}" ng-repeat="index in slides"></div>
    <!-- end ngRepeat: index in slides --> 
  </div>
  <div class="clearfix"></div>
  <div class="full-block navigation-row"> </div>
  <div class="how-it-works">
    <div class="wrapper wrapper-title">
      <h2>Kami akan mempertemukan Anda ke penyedia jasa professional yang akan memberikan penawaran terbaik sesuai kebutuhan Anda</h2>
      <span class="subtitle">Bagaimana Seekmi dapat membantu Anda?</span> </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-1 col-md-12 text-center">
          <center>
            <h3>Temukan, bandingkan dan pekerjakan penyedia jasa professional terbaik</h3>
          </center>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="each-step">
                <div class="icon icon-match"> </div>
                <p><em>1</em>Beritahukan kami apa yang Anda butuhkan</p>
                <span>Hanya satu menit untuk menjawab pertanyaan singkat tentang kebutuhan Anda. </span> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="each-step">
                <div class="icon icon-compare"> </div>
                <p><em>2</em>Dapatkan penawaran dan bandingkan</p>
                <span>Dalam beberapa jam Anda akan menerima penawaran dari penyedia jasa professional yang bersedia dipekerjakan disertai estimasi harga dan informasi kontak untuk dihubungi. </span> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="each-step last-step">
                <div class="icon icon-hire"> </div>
                <p><em>3</em>Pilih dan pekerjakan penyedia jasa professional yang cocok</p>
                <span>Pilih dari beberapa pelaksana jasa yang cocok untuk disewa. Pelaksana jasa tersebut akan segera menghubungi Anda untuk bertemu dan memenuhi kebutuhan Anda. </span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content content-section">
    <div class="hook">
      <form style="padding-top: 70px !important;padding-bottom: 70px;" id="professionalDiv" class="" name="hook" novalidate>
        <h2>Apakah Anda penyedia jasa?</h2>
        <br>
        <h1> Dapatkan klien baru
          <div style="text-transform:none;" ng-class="{'has-custom-entry-point': customEntryPoint}" class="subtitle ng-binding"> Seekmi akan meneruskan permintaan klien akan kebutuhan penyedia jasa professional di wilayahnya. Anda yang akan memutuskan apakah Anda tertarik atau tidak untuk memberikan penawaran untuk klien tersebut. </div>
        </h1>
        <fieldset>
          <div style="width:100%;" class="form-field form-field-nav">
            <button onclick="location.href='http://www.seekmi.com/pros/register/'" class="bttn get-started-btn" type="button"> Daftar Gratis </button>
          </div>
          <!--<a class="how-it-works" href="/pros/how-Pintack-works" style="color:#55b7fe!important;">How Seekmi works</a><br/><br/><br/>-->
          
        </fieldset>
      </form>
    </div>
  </div>
  <div class="stories full-block">
    <div class="wrapper wrapper-title">
      <h2> Find professionals for these services </h2>
    <hr class="hr2">
      <span class="subtitle"> Right now, you can find, compare and hire professionals for these types of services. We are expanding
      every day and soon you will be able to find professionals for almost any anything. </span> </div>
    <div class="wrapper" id="cards">
      <div class="dynamic-row"> 
       <!-- <a href="#"><span class="card  card2 padB0" data-card-one="">
        <div class="amanda">
        <h3>Amanda Mattefs<br>
        <span>had a photoshoot</span></h3>
        </div>
        <div class="info">
        <h3>Amanda had a photoshoot</h3>
        <p>Read More</p>
        </div>
        </span></a>-->
       <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro1"></div></span></a>
         <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro2"></div></span></a>
          <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro3"></div></span></a>
           <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro4"></div></span></a>
            <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro5"></div></span></a>
             <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro6"></div></span></a>
              <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro7"></div></span></a>
               <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro8"></div></span></a>
                <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro9"></div></span></a>
                 <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro10"></div></span></a>
                  <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro11"></div></span></a>
                   <a href="#"><span class="card  card2 padB0" data-card-one=""><div class="pro12"></div></span></a>

                     

    
         </div>
    </div>
  </div>
  
  <div class="stories full-block">
    <div class="wrapper wrapper-title">
      <h2 class="marB10"> Thousand  of customers got things done through Seekmi </h2>
      
      <hr class="hr3 marB20">
      
      <span class="subtitle">Customer Stories</span> </div>
    <div class="wrapper" id="cards">
      <div class="dynamic-row"> <a href="#"><span class="card" data-card-one="">
        <div class="amanda">
          <h3>Amanda Mattefs<br>
            <span>had a photoshoot</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro1.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Mickey&nbsp;Strider</p>
          </div>
        </div>
        <blockquote>
          <p>Mickey is incredibly talented, worked within our budget and
            gave us GREAT results for the price. He's an awesome guy, and we
            couldn't be happier with how our engagement photos turned out. </p>
        </blockquote>
        <center>
          <span class="star-rating star-rating-large stars-5"> 5 reviews</span>
        </center>
        <div class="info">
          <h3>Amanda had a photoshoot</h3>
          <p>Read More</p>
        </div>
        </span></a> <a href="#"><span class="card" data-card-two="">
        <div class="gurpreet">
          <h3>Gurpreet Sarin<br>
            <span>improved his voice</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro-sam.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Sam&nbsp;Shin</p>
          </div>
        </div>
        <blockquote>
          <p>It was an honor learning from Sam. He is an amazing singer
            and teacher! I saw major improvements in my voice, breathing and
            vocal dynamics; connecting with songs at a level I didn't know
            existed.</p>
        </blockquote>
        <center>
          <span class="star-rating star-rating-large stars-5"> 5 reviews</span>
        </center>
        <div class="info">
          <h3>Gurpreet improved his voice</h3>
          <p>Read More</p>
        </div>
        </span></a> <a href="#"><span class="card" data-card-three="">
        <div class="sarah">
          <h3>Sarah Young<br>
            <span>commissioned a mural</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro-gary.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Gary&nbsp;Gomez</p>
          </div>
        </div>
        <blockquote>
          <p>Gary was friendly, professional, and his work was incredible.
            He helped us create a design we loved within our budget. Whole
            Foods customers say how much the mural brightens our space!</p>
        </blockquote>
        <center>
          <span class="star-rating star-rating-large stars-5"> 5 reviews</span>
        </center>
        <div class="info">
          <h3>Sarah commissioned a mural</h3>
          <p>Read More</p>
        </div>
        </span></a> <a href="#"><span class="card" data-card-four="">
        <div class="norris">
          <h3>Norris Parks<br>
            <span>moved across town</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro-alphonso.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Alphonso&nbsp;Flowers</p>
          </div>
        </div>
        <blockquote>
          <p>Alphonso really came through for me. His team was on time and
            they were nice and polite. They set up my bed, the washer and
            dryer and they even changed out the washer cord. It was a real
            experience.</p>
        </blockquote>
        <center>
          <span class="star-rating star-rating-large stars-5"> 5 reviews</span>
        </center>
        <div class="info">
          <h3>Norris moved across town</h3>
          <p>Read More</p>
        </div>
        </span></a> <a href="#"><span class="card" data-card-five="">
        <div class="scott">
          <h3>Scott Heidegger <br>
            <span>remodeled his kitchen</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro-scot.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Scot&nbsp;Hunter</p>
          </div>
        </div>
        <blockquote>
          <p>Scot and his team were top notch all the way around. They
            made the finished product look like a high end custom job. They
            were on time, on budget and were all around great people to work
            with.</p>
        </blockquote>
        <center>
          <span class="star-rating star-rating-large stars-5"> 5 reviews</span>
        </center>
        <div class="info">
          <h3>Scot remodeled his kitchen</h3>
          <p>Read More</p>
        </div>
        </span></a> <a href="#"><span class="card padB0" data-card-five="">
        <div class="beach">
          <h3>Scott Heidegger <br>
            <span>remodeled his kitchen</span></h3>
        </div>
        <div class="professional">
          <div class="avatar"> <img src="images/pro-scot.jpg"> </div>
          <div class="clerfix"></div>
          <div class="stats">
            <p class="name">Scot&nbsp;Hunter</p>
          </div>
        </div>
        <div class="">
          <form id="">
            <div class="box">
              <div class="box-header box-header2" style="padding-top:10px;">
                <h2 style="font-size: 23px;">Get introduced to pros</h2>
              </div>
              <div class="box-content box-content2">
                <fieldset>
                  <div  class="form-field">
                    <label>What service do you need?</label>
                    <input type="text"  placeholder="Painter, DJ, Tutor" class="" required="" >
                    <!--[if gt IE 8]><!-->
                    <div smarty-suggestions-box=""><!-- ngIf: suggestions.length > 0 --></div>
                    <!--<![endif]--> 
                  </div>
                  <!--                                    <div data-sticky-partner="" class="form-field">
                                        <label>Where do you need it?</label>
                                        <input type="text" focus-me="" focus-when="false" required="" ng-model="zip" tabindex="201" autocomplete="off" placeholder="Zip code" class="search-zipcode ng-pristine ng-invalid ng-invalid-required" pattern="[0-9]*" id="service-zipcode" name="zipCode">
                                    </div>-->
                  <div class="form-field padB0">
                    <button tabindex="202" class="bttn blue full-width" type="submit"> Continue </button>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="info">
          <h3>Scot remodeled his kitchen</h3>
          <p>Read More</p>
        </div>
        

         <div class="clearfix"></div>
        
        </span></a> </div>
           <div class="marD"></div>
        
        <div class="clearfix"></div>
    <div class="wrapper wrapper-title">
    <h2 class="marB10"> As Featured in</h2>
   <div class="featuredlogo">
   <div class="featlogo"><img src="images/logo1.jpg" alt=""></div>
    <div class="featlogo"><img src="images/logo2.jpg" alt=""></div>
    <div class="featlogo"><img src="images/logo3.jpg" alt=""></div>
    <div class="featlogo"><img src="images/logo4.jpg" alt=""></div>
    <div class="featlogo"><img src="images/logo5.jpg" alt=""></div>
    <div class="featlogo"><img src="images/logo6.jpg" alt=""></div>
        <div class="clearfix"></div>
    </div> </div>
    <div class="clearfix"></div>
    
    
    
  </div>
  
  
  <div class="mobile-app-banner full-block">
    <div class="wrapper body-text">
      <div class="dynamic-row">
        <div class="copy-column ng-scope" ng-controller="MobileAppBannerController">
          <h2>Heading out? Bring Pintackwith you!</h2>
          <p>We've made it even easier to accomplish your projects. Send requests and
            receive quotes wherever you are.</p>
          <form class="ng-pristine ng-valid" ng-submit="send()">
            <fieldset>
              <div class="input-prepend input-append"> <span class="add-on"> <span class="icon-font icon-font-mobile" aria-hidden="true"> </span> </span>
                <input class="ng-pristine ng-valid" name="phone_number" placeholder="Phone number" ng-model="phone_number" type="text">
                <button type="submit" class="bttn ng-binding" ng-bind="button_text" ng-disabled="sending">Notify Me</button>
              </div>
            </fieldset>
          </form>
          <div class="download-button"> <a href="#" style="float:left;"> <img src="images/download-on-the-app-store.png"> </a> <a href="#" style="float:left; margin-left:1%;"> <img src="images/googlplay.png"> </a></div>
        </div>
        <div class="column-5 iphone"></div>
      </div>
    </div>
  </div>
  <div class="pros full-block ng-scope" ng-controller="VideoController">
    <div class="wrapper">
      <div class="wrapper wrapper-title">
        <h2 class="pro-header"> Thousands of professionals are growing their business across the U.S. </h2>
        <span class="subtitle">Pro Stories</span> </div>
      <div class="dynamic-row">
        <div class="main-video" ng-click="setVideoUrl('#')">
          <div class="play"></div>
          <h3> <span>Jeremy Falk</span><br>
            Fitness Yoga </h3>
          <div class="info">
            <h3>Jeremy Falk Transforms Yoga Business in 3 Months on Pintack</h3>
            <p> <span class="icon-font-play"></span> Watch the video </p>
          </div>
        </div>
        <div class="video-1" ng-click="setVideoUrl('#')">
          <div class="play"></div>
          <h3> <span>John Monty</span><br>
            Organic Cleaning </h3>
          <div class="info">
            <h3>Organic Breeze Cleaning Triples Business on Pintack</h3>
            <p> <span class="icon-font-play"></span> Watch the video </p>
          </div>
        </div>
        <div class="video-2" ng-click="setVideoUrl('#')">
          <div class="play"></div>
          <h3> <span>Mona Brooks</span><br>
            Photographer </h3>
          <div class="info">
            <h3>Mona uses Pintackto Grow Photography Business from Home</h3>
            <p> <span class="icon-font-play"></span> Watch the video </p>
          </div>
        </div>
        <div class="sign-up-box">
          <h4>Are you a professional looking to grow your business?</h4>
          <a href="#" class="bttn blue">Sign up as a pro</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="piede">
  <div class="wrapper">
    <div class="dynamic-row navigation">
      <div class="column-3">
        <div class="copyright">
          <p><a href="#" class="logo">Pintack</a></p>
          <p class="disclaimer">© 2015 Pintack, Inc.</p>
          <a href="#" >Privacy Policy</a><a href="#" class="last">Terms of Use</a>
          <div class="social" data-footer-load="/ajax/footer/social?piede">
            <ul class="social-media">
              <li> <a href="#" target="_blank"> <span class="facebook"></span> </a> </li>
              <li> <a href="#" target="_blank"> <span class="gplus"></span> </a> </li>
              <li> <a href="#" target="_blank"> <span class="twitter"></span> </a> </li>
              <li> <a href="#" target="_blank"> <span class="blog"></span> </a> </li>
              <li> <a href="#" target="_blank"> <span class="pinterest"></span> </a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column-2">
        <h4>Pintack</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="column-2">
        <h4>Customers</h4>
        <ul>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Safety</a></li>
          <li><a href="#"> Download iPhone App </a></li>
        </ul>
      </div>
      <div class="column-2">
        <h4>Pros</h4>
        <ul>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Pro Center</a></li>
          <li><a href="#">Success Stories</a></li>
        </ul>
      </div>
      <div class="column-3">
        <h4>Questions? Need help?</h4>
        <ul>
          <li><span data-show-feedback="" class="pseudo-link">E-mail us</span></li>
          <li class="phone-number">Call (800) 343-1710 <span>(5am - 8pm PT)</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(window).on("scroll touchmove", function () {
		//$('#header_nav').toggleClass('tiny', $(document).scrollTop() > 0);
		//console.log('--------------------------sd'+$(document).scrollTop());
		if($(document).scrollTop()>300){
			$('.sticky-cta').removeClass('invisible');
			$('.sticky-cta').addClass('visible');
		}
		else{
			$('.sticky-cta').removeClass('visible');
			$('.sticky-cta').addClass('invisible');
			
		}
		
	});
    </script>
</body>
</html>