<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7 "><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 "><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 "><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"><!--<![endif]-->

<head>

<meta http-equiv="X-UA-Compatible" content="IE=9"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</script><script src="js/fbds.js" type="text/javascript"></script>
<script src="js/insight.js" type="text/javascript"></script>
<script src="js/conversion_async.js" type="text/javascript"></script>
<script src="js/quant.js" type="text/javascript"></script>
</script><script src="js/bat.js" type="text/javascript"></script>
<script src="js/tag.js" async=""></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<style type="text/css">.
.glorious-header1{
    background: none repeat scroll 0 0 #fff!important;
    border-bottom: 1px solid #e6e6e6!important;
}
</style>
<title>Dashboard</title>

<link rel="stylesheet" type="text/css" media="all" href="css/icons.css">
<link rel="stylesheet" type="text/css" media="all" href="css/consume.css">

<link rel="stylesheet" type="text/css" media="all" href="css/core.css">
<!--<link rel="stylesheet" type="text/css" media="all" href="css/style.css">-->
<link rel="stylesheet" type="text/css" media="all" href="css/zenbox.css">
<link rel="stylesheet" type="text/css" media="all" href="css/login.css">
<link rel="stylesheet" type="text/css" media="all" href="css/avenir-next.css">
<link rel="stylesheet" type="text/css" media="all" href="css/settings.css">
<link rel="stylesheet" type="text/css" media="all" href="css/message.css">
<link rel="stylesheet" type="text/css" media="all" href="css/profile.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

<link href="css/1.css" rel="stylesheet" type="text/css"></head>



<body class="primo primo-responsive primo-fluid service-profile box-shadow multiple-backgrounds">

              

<div data-section="header" class="glorious-header"><div class="wrapper"><div class="row header-row"><div class="header-logo"><a href="/"><img  alt="Thumbtack" src="images/Pintack_orange_152x29blue.png"></a></div><div class="header-middle-container"><a href="/profile/dashboard" class="middle-tab
                            ">
                                Projects
                            </a><a href="/home-improvement" class="middle-tab
                            ">
                                Explore
                            </a></div><div class="header-navigation  by-tabs-nav "><div class="universal-profile-container"><div data-section="universal-picture" class="universal-picture"><img src="https://static.thumbtack.com/media/primo/icons/user/100x100.png" class="no-border"><div style="display:none;" data-section="arrow-tip" class="arrow-tip"></div></div><p data-section="universal-name" class="universal-name"><span class="name">Sakshi Thakur</span><span class="icon-font-down-dir arrow-tip arrow-toggle"></span></p><div style="display:none;" data-section="profile-box" class="pod profile-box"><div class="pod-content"><a class="picture-big-link" href="/profile/information"><img src="https://static.thumbtack.com/media/primo/icons/user/100x100.png" class="picture-big"></a><h3 class="name">
                                            Sakshi Thakur
                                        </h3><span class="email">sakshi@sphinx-solution.com</span><span class="project-count">
                                                2
                                                projects
                                            </span></div><div class="pod-footer"><a href="/profile/settings">
                                            Settings
                                        </a><a href="/logout">
                                            Logout
                                        </a></div></div></div></div></div></div></div>
                                        
<div ng-controller="ViewController" class="ng-scope">
            

        <div ng-show="wizard.editable" style="">
                <div ng-controller="BannerController" class="cta-banner tips-banner ng-scope">
        <div ng-click="scrollBack()">
            <span class="arrow left-arrow"></span>
        </div>
        <div ng-style="{'width': (100 * numberOfTips) + '%', 'margin-left': (currentTip * -100) + '%'}" class="tip-container" style="width: 300%; margin-left: -200%;">
            <div ng-style="{'width': (100 / numberOfTips) + '%'};" class="meat" style="width: 33.3333%;">
                <p class="tip-header
                                    ">
                    profile tip
                </p>
                <h2 class="tip-title">
                    Get hired more with external reviews
                </h2>
                <p class="tip-text not-mobile">
                    Double your chances of getting hired by getting reviews from past
                    customers outside of Thumbtack. More reviews = more hires!
                </p>
                <p class="tip-text mobile">
                    Double your chances of getting hired by getting reviews from past
                    customers outside of Thumbtack.
                </p>
                <a ng-click="showReviewsModal()" class="bttn tip-bttn">
                    Get reviews
                </a>
            </div>
            <div ng-style="{'width': '33.333333333333336%'};" class="meat" style="width: 33.3333%;">
                <p class="tip-header
                                ">
                    profile tip
                </p>
                <h2 class="tip-title">
                    Build confidence with a profile photo
                </h2>
                <p class="tip-text not-mobile">
                    Inspire confidence by uploading a friendly and professional profile
                    photo. Remember to smile and show your face. It's the first thing
                    customers see!
                </p>
                <p class="tip-text mobile">
                    Inspire confidence by uploading a professional
                    photo. Remember to smile and show your face.
                </p>
                <a href="/profile/services/euuJcYe2meE0ZQ/edit/profile-picture" class="bttn tip-bttn">
                    Upload profile photo
                </a>
            </div>
            <div ng-style="{'width': '33.333333333333336%'};" class="meat" style="width: 33.3333%;">
                <p class="tip-header
                                    ">
                    profile tip
                </p>
                <h2 class="tip-title not-mobile">
                    Improve your reputation with links
                </h2>
                <h2 class="tip-title mobile">
                     Enhance reputation with links
                </h2>
                <p class="tip-text not-mobile">
                    Show your potential customers that you're a trusted member of our
                    community by linking to your profile and describing jobs you've
                    successfully completed through Thumbtack!
                </p>
                <p class="tip-text mobile">
                    Show your customers that you're a trusted member of our
                    community by linking to your profile.
                </p>
                <a href="/profile/widgets" class="bttn tip-bttn">
                    Add a link
                </a>
            </div>
        </div>
        <div ng-click="scrollForward()">
            <span class="arrow right-arrow"></span>
        </div>
        <div class="circles">
            <div class="circle" ng-class="{ active: currentTip==0 }"></div>
            <div class="circle" ng-class="{ active: currentTip==1 }"></div>
            <div class="circle active" ng-class="{ active: currentTip==2 }"></div>
        </div>
    </div>

        </div>
    </div>
    
    <div ng-show="service" style="" ng-controller="ViewController" class="profile-content ng-scope">
    <div class="profile-header">

                    
            
            <div style="display: none;" ng-show="!wizard.editable" class="alert-info">
                <p>
                    Welcome to your profile!
                    <a href="edit">Edit your profile</a>
                </p>
            </div>
            <div style="" ng-show="wizard.editable" class="alert-info">
                <p>
                                            You are now editing your profile.
                        <a href="#">Done editing</a>
                                    </p>
            </div>
        
        <div ng-class="{'editable': wizard.editable}" class="profile-basics editable">
            <div class="profile-picture-container">
                <div ng-transclude="" ng-click="processClick()" wizard-target="profile-picture" wizard-editable-section="wizard.editable" class="profile-picture">
                    <img ng-alt="Deepika Desai" ng-src="https://static.thumbtack.com/media/profile/img-profile-missing.png" class="ng-scope" src="https://static.thumbtack.com/media/profile/img-profile-missing.png">
                                            <a class="edit-section edit-section-profile bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/profile-picture">
                            Upload Picture
                        </a>
                                    </div>
                <div ng-transclude="" ng-click="processClick()" wizard-target="basic-info" wizard-editable-section="wizard.editable" class="profile-basic-details">
                    <div class="profile-identity ng-scope">
                        <h1 ng-bind="getDisplayName()" class="profile-title ng-binding">Horizon House</h1>
                        <!-- ngIf: service.business_name --><div ng-bind="service.user.display_name" ng-if="service.business_name" class="profile-business-relationship ng-scope ng-binding">Deepika Desai</div>
                    </div>
                    <!-- ngIf: service.slogan -->
                    <ul class="profile-attributes ng-scope">
                        <li ng-bind="service.city_state" class="location ng-binding">New York, NY</li>
                        <!-- ngIf: service.phone_number --><li ng-bind="service.phone_number.text" ng-if="service.phone_number" class="phone ng-scope ng-binding">(020) 454-5445</li>
                    </ul>
                </div>
            </div>

                            <a class="edit-section bttn micro blue" id="show">Edit</a>
                    </div>
    </div>

    <!-- ngIf: service.profile_media.length --><div ng-transclude="" ng-if="service.profile_media.length" items="service.profile_media" stampede="" class="profile-media ng-scope">
        <div data-stampede-carousel="" class="stampede-carousel ng-scope" style="height: 412px;">
            <ul class="stampede-content">
                <!-- ngRepeat: media in service.profile_media --><li data-stampede-item="" on="media.media_type" ng-switch="" ng-repeat="media in service.profile_media" class="ng-scope stampede-current" style="left: 427px; top: 0px;">
                    <!-- ngSwitchWhen: picture --><div class="stampede-picture-container ng-scope" ng-switch-when="picture">
                                                <img src="https://static.thumbtack.com/pictures/8407/48jduwfrr3rmfsb3_580x380.png" ng-src="https://static.thumbtack.com/pictures/8407/48jduwfrr3rmfsb3_580x380.png">
                        <!-- ngIf: media.picture.caption -->
                    </div>
                    <!-- ngSwitchWhen: video -->
                    <!-- ngSwitchWhen: audio -->
                </li>
            </ul>
        </div>
        <div data-stampede-left-arrow="" class="media-navigation media-navigation-left ng-scope"></div>
        <div data-stampede-right-arrow="" class="media-navigation media-navigation-right ng-scope"></div>
                    <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/media">Edit media</a>
            </div>

            <!-- ngIf: !service.profile_media.length && wizard.editable -->
    
    <div class="full-block service-info-block">
        <div class="service-info-page-section">
            <div class="service-info-container">
                <div class="service-info">
                    <!-- ngIf: service.bio || wizard.editable --><div ng-transclude="" ng-click="processClick()" wizard-target="bio" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" ng-if="service.bio || wizard.editable" class="service-bio-section ng-scope editable">

                        <h3 class="section-header ng-scope">Bio</h3>
                        <!-- ngIf: service.bio -->
                        <!-- ngIf: !service.bio --><p class="empty-section ng-scope" ng-if="!service.bio">
                            Tell your story!
                        </p>
                                                    <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/bio">Edit</a>
                                            </div>
                    <div ng-transclude="" ng-click="processClick()" wizard-target="services" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="editable">
                        <h3 class="section-header ng-scope">Services</h3>
                        <!-- ngIf: service.description --><p ng-if="service.description" ng-bind-html-unsafe="service.description | sanitize | nl2br" class="service-description body-text ng-scope ng-binding">I am a San Francisco based portrait and product photographer. <br><br>My career began in high school when I took photos of student groups for the yearbook. <br><br>Since then, I've been dedicated to capturing the beauty and energy of people and their work.</p>
                        <!-- ngIf: !service.description -->
                                                    <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/services">Edit</a>
                                            </div>
                    <div ng-transclude="" ng-click="processClick()" wizard-target="links" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="service-external-links editable">

                                                
                        
                        
                        
                        <!-- ngIf: service.website -->

                                                    <!-- ngIf: !service.website.display_url && wizard.editable --><div class="empty-section ng-scope" ng-if="!service.website.display_url &amp;&amp; wizard.editable">
                                <span class="offsite-link offsite-link-facebook empty"></span>
                                <span class="offsite-link offsite-link-twitter empty"></span>
                                <span class="offsite-link offsite-link-yelp empty"></span>
                                <span class="edit-prompt">
                                    Share your social media and website
                                </span>
                            </div>
                        
                                                    <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/links">Edit</a>
                                            </div>
                </div>
                <div ng-controller="ServiceMetadataController" class="service-sidebar ng-scope">
                    <div ng-transclude="" ng-click="processClick()" wizard-target="business-info" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="editable">
                        <h3 class="section-header ng-scope">About</h3>
                        <!-- ngIf: service.logo --><img ng-src="https://static.thumbtack.com/pictures/8407/0wv9df16sbg5vb5_100_TALL.jpg" src="https://static.thumbtack.com/pictures/8407/0wv9df16sbg5vb5_100_TALL.jpg" ng-if="service.logo" alt="Business logo" class="service-logo ng-scope">
                        <h3 ng-bind="service.business_name" class="business-name ng-scope ng-binding">Horizon House</h3>
                        <!-- ngIf: yearsInBusiness() && yearsInBusiness() > 0 -->
                        <p when="{'one': '1 employee', 'other': '{} employees'}" ng-show="service.employee_count" style="display: none;" count="service.employee_count" class="employee-count ng-scope" ng-pluralize=""></p>
                        <!-- ngIf: service.travel_dist --><p ng-if="service.travel_dist" class="service-travels ng-scope">Travels up to
                            <span ng-bind="service.travel_dist" class="ng-binding">10</span> miles
                        </p>
                        <!-- ngIf: service.travel_to_customer || service.travel_to_provider --><img src="/boundary-map/service/euuJcYe2meE0ZQ/160/80" ng-if="service.travel_to_customer || service.travel_to_provider" class="service-map ng-scope">
                                                    <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/business-info">Edit</a>
                                            </div>
                                                                <!-- ngIf: wizard.editable --><div ng-transclude="" ng-click="processClick()" ng-if="wizard.editable" wizard-target="credentials" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="credentials ng-scope editable">
                            <h3 class="section-header ng-scope">Credentials</h3>

                                                        
                            
                                                                                    
                                                            <!-- ngIf: wizard.editable --><p ng-if="wizard.editable" class="empty-section ng-scope">
                                    No credentials yet on file
                                </p>
                            
                                                            <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/credentials">Edit</a>
                                                    </div>
                                    </div>
            </div>
        </div>
    </div>

    <!-- ngIf: service.service_question_answers.length -->

            <!-- ngIf: !service.service_question_answers.length && wizard.editable --><div ng-if="!service.service_question_answers.length &amp;&amp; wizard.editable" class="full-block service-questions-edit-container ng-scope">
            <div ng-transclude="" ng-click="processClick()" wizard-target="q-and-a" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="service-questions-edit editable">
                <h3 class="section-header ng-scope"><span>Questions &amp; Answers</span></h3>
                <!-- ngIf: wizard.editable --><p class="empty-section ng-scope" ng-if="wizard.editable">
                    Answer some frequently asked questions about your service.
                </p>
                <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/q-and-a">Edit</a>
            </div>
        </div>
    
    <!-- ngIf: wizard.editable --><div ng-if="wizard.editable" class="full-block reviews-block ng-scope" id="reviews">
        <div ng-transclude="" ng-click="processClick()" wizard-target="reviews" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="reviews-container editable">
            <h3 class="section-header ng-scope">Reviews</h3>

                            <p class="ng-scope">
                    There are no reviews for Horizon House.
                </p>
            
            
                                                <!-- ngIf: wizard.editable --><div class="empty-section ng-scope" ng-if="wizard.editable">
                        Complete jobs and get reviews.
                    </div>
                                <a class="edit-section bttn micro blue ng-scope" style="" ng-show="wizard.editable" href="edit/reviews">Manage Reviews</a>
                    </div>
    </div>
</div>


<div class="curtain" data-curtain="active" style="display:none;"><div ng-transclude="" style="display: block;" curtain-close-url="edit" class="wizard curtain-inner pod pod-modal" curtain-name="wizard" curtain-visible="wizard.visible" curtain="">
            
            <div class="pod-header ng-scope">
                <div class="wizard-header">
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_basic_info');" title="Basic Info" class="p_cls_basic_popup p_cls_basic_info wizard-header-tab ng-binding basic-info active" href="javascript:void(0);" label="Basic Info" key="basic-info" wizard-header-tab="">Basic Info</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_media');" title="Media" class="p_cls_basic_popup p_cls_media wizard-header-tab ng-binding media" href="javascript:void(0);" active="wizard.current" label="Media" key="media" wizard-header-tab="">Media</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_bio');" title="Bio" ng-class="key" class="p_cls_basic_popup p_cls_bio wizard-header-tab ng-binding bio" href="javascript:void(0);" label="Bio" key="bio" wizard-header-tab="">Bio</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_services');" title="Services" ng-class="key" class="p_cls_basic_popup p_cls_services wizard-header-tab ng-binding services" href="javascript:void(0);" label="Services" key="services" wizard-header-tab="">Services</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_links');" title="Links" ng-class="key" class="p_cls_basic_popup p_cls_links wizard-header-tab ng-binding links" href="javascript:void(0);" label="Links" key="links" wizard-header-tab="">Links</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_business_info');" title="Business Info" ng-class="key" class="p_cls_basic_popup p_cls_business_info wizard-header-tab ng-binding business-info" href="javascript:void(0);" label="Business Info" key="business-info" wizard-header-tab="">Business Info</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_credentials');" title="Credentials" ng-class="key" class="p_cls_basic_popup p_cls_credentials wizard-header-tab ng-binding credentials" href="javascript:void(0);" label="Credentials" key="credentials" wizard-header-tab="">Credentials</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_qa');" title="Q &amp;amp; A" ng-class="key" class="p_cls_basic_popup p_cls_qa wizard-header-tab ng-binding q-and-a" href="javascript:void(0);" label="Q &amp;amp; A" key="q-and-a" wizard-header-tab="">Q &amp; A</a>
                                            <a onClick="getNvigatePage('cls_basic_popup','cls_reviews');" title="Reviews" ng-class="key" class="p_cls_basic_popup p_cls_reviews wizard-header-tab ng-binding reviews" href="javascript:void(0);" label="Reviews" key="reviews" wizard-header-tab="">Reviews</a>
                                    </div>
            <a  id="hide"  style="cursor:pointer;" class="modal-close ng-scope" >×</a></div>

                            <div style="display:block;" class="cls_basic_popup cls_basic_info">
    <form class="form-basic-info ng-pristine ng-valid ng-valid-required" name="basicInfo" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Edit Your Basic Info
            </h2>
            <fieldset>
                <div class="form-field" optional="true" field="basicInfo.slogan" form-field=""><div ng-transclude="">
                    <label class="ng-scope">Business name</label>
                    <input type="text" placeholder="Leave blank if you don't represent a company" ng-maxlength="100" name="business_name" ng-model="service.business_name" class="ng-scope ng-pristine ng-valid ng-valid-maxlength">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --><span ng-if="field.$valid &amp;&amp; optional" class="subtext-form ng-scope">Optional</span></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-first-name form-field" field="basicInfo.first_name" form-field=""><div ng-transclude="">
                    <label class="ng-scope">First name</label>
                    <input type="text" ng-minlength="2" required="" id="first_name" name="first_name" ng-model="service.user.first_name" class="ng-scope ng-pristine ng-valid ng-valid-required ng-valid-minlength">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-last-name form-field" field="basicInfo.last_name" form-field=""><div ng-transclude="">
                    <label class="ng-scope">Last name</label>
                    <input type="text" ng-minlength="2" required="" id="last_name" name="last_name" ng-model="service.user.last_name" class="ng-scope ng-pristine ng-valid ng-valid-required ng-valid-minlength">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" optional="true" field="basicInfo.slogan" form-field=""><div ng-transclude="">
                    <label class="ng-scope">Tagline</label>
                    <input type="text" placeholder="Write a memorable phrase or quote that describes yourself or your work." ng-maxlength="100" name="slogan" ng-model="service.slogan" class="ng-scope ng-pristine ng-valid ng-valid-maxlength">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --><span ng-if="field.$valid &amp;&amp; optional" class="subtext-form ng-scope">Optional</span></div>
            </fieldset>
            <h2 class="form-section-header">
                Address and Contact
            </h2>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-address-1 form-field" field="basicInfo.address1" form-field=""><div ng-transclude="">
                    <label for="address1" class="ng-scope">Street address</label>
                    <input type="text" required="" name="address1" ng-model="service.address.address1" class="ng-scope ng-pristine ng-valid ng-valid-required">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-address-2 form-field" optional="true" form-field=""><div ng-transclude="">
                    <label for="address2" class="ng-scope">Suite/Apt</label>
                    <input type="text" name="address2" ng-model="service.address.address2" class="ng-scope ng-pristine ng-valid">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-zip form-field" field="basicInfo.zip_code_id" form-field=""><div ng-transclude="">
                    <label for="zip_code_id" class="ng-scope">Zip code</label>
                    <input type="text" ng-maxlength="5" ng-minlength="5" inputmode="numeric" name="zip_code_id" required="" ng-model="service.address.zip_code_id" class="ng-scope ng-pristine ng-valid ng-valid-required ng-valid-maxlength ng-valid-minlength">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            </fieldset>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-address-privacy form-field" field="basicInfo.usa_privacy" form-field=""><div ng-transclude="">
                    <label class="ng-scope">
                        <input type="radio" value="1" name="usa_privacy" ng-model="service.address.privacy" class="ng-pristine ng-valid">
                        Show my full address on my profile
                    </label>
                    <label class="ng-scope">
                        <input type="radio" value="2" name="usa_privacy" ng-model="service.address.privacy" class="ng-pristine ng-valid">
                        Show only the city/state on my profile
                    </label>
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            </fieldset>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-column-6 form-field" optional="true" form-field=""><div ng-transclude="">
                    <label for="phone_number" class="ng-scope">Phone number</label>
                    <input type="text" inputmode="tel" placeholder="(555) 555-5555" name="phone_number" ng-model="service.phone_number.text" class="ng-scope ng-pristine ng-valid">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            </fieldset>
        </div>
        <div class="wizard-footer" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><!-- ngIf: !previous --><span ng-if="!previous" class="ng-scope">&nbsp;</span></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>

                            <div class="form-media ng-scope cls_basic_popup cls_media" style="display: none;">
    <div scroll-anchor="" class="form-content">
        <h2 class="form-section-header">
            Manage Your Media
        </h2>
        <div class="media-chooser-container ng-scope" ng-controller="MediaChooserController">
            <!-- ngIf: state.message -->
            <!-- ngIf: state.errorMessage -->
            <div target="/profile/services/euuJcYe2meE0ZQ/edit/picture?_json_expected" tt-picture-upload="">
            <form ng-show="formVisible" action="/profile/services/euuJcYe2meE0ZQ/edit/picture?_json_expected&amp;plaintext_json=1" target="frame_56960" enctype="multipart/form-data" method="post" class="ng-pristine ng-valid" style="display: none;"><input type="hidden" value="euuJcYe2meE0ZQ" name="sav"><fieldset><div class="form-field"><input type="file" accept="image/*" name="picture" data-input="file"><span data-subtext="" class="subtext-form"></span></div></fieldset></form><div ng-transclude="">
                <div ng-switch="state.mode" class="ng-scope">
                    <span value="service.id" upload-extra="sav" class="ng-isolate-scope ng-scope"></span>
                    <!-- ngSwitchWhen: loading -->
                    <!-- ngSwitchWhen: start --><div class="media-start ng-scope" ng-switch-when="start">
                        <div class="media-type-chooser-column">
                            <div class="media-type-chooser">
                                <h3>Add media to your gallery</h3>
                                <div class="media-type-buttons">
                                    <button upload-trigger="" class="media-type-picture bttn gray small">Picture</button>
                                    <button ng-click="state.mode = 'video'" class="media-type-video bttn gray small">Video</button>
                                    <button ng-click="state.mode = 'soundcloud'" class="media-type-audio bttn gray small">Audio</button>
                                </div>
                            </div>
                        </div>
                        <div class="media-tip-column">
                            <div class="explanation body-text">
                                <p>
                                    <strong>Tip:</strong> Pick 8-10 examples of your
                                    best work to demonstrate your capabilities
                            </p></div>
                        </div>
                    </div>
                    <!-- ngSwitchWhen: video -->
                    <!-- ngSwitchWhen: soundcloud -->
                    <!-- ngSwitchWhen: soundcloud-tracks -->
                    <!-- ngSwitchWhen: mp3 -->
                </div><!-- end switch -->
            </div></div>
            <!-- ngIf: state.mode != 'start' && state.mode != 'loading' -->
        </div><!-- end chooser -->

        <ul>
            <!-- ngRepeat: media in service.profile_media --><li class="media-list-item ng-scope" on="media.media_type" ng-switch="" ng-repeat="media in service.profile_media">
                <div class="media-list-item-sidebar">
                    <!-- ngIf: !media.$first --><div ng-click="moveUp(media.id)" ng-if="!media.$first" class="media-arrangement-up ng-scope">&nbsp;</div>
                    <!-- ngIf: !media.$last --><div ng-click="moveDown(media.id)" ng-if="!media.$last" class="media-arrangement-down ng-scope">&nbsp;</div>
                </div>
                <!-- ngSwitchWhen: picture --><div class="media-picture-container media-container ng-scope" ng-switch-when="picture">
                    <img ng-src="https://static.thumbtack.com/pictures/8407/48jduwfrr3rmfsb3_100.png" src="https://static.thumbtack.com/pictures/8407/48jduwfrr3rmfsb3_100.png">
                    <div class="picture-caption">
                        <textarea ng-blur="saveCaption(media.picture.id, media.picture.caption)" ng-model="media.picture.caption" class="ng-pristine ng-valid"></textarea>
                        <div ng-show="captionsSaving[media.picture.id]" class="subtext-form" style="display: none;">
                            Saving...
                        </div>
                    </div>
                </div>
                <!-- ngSwitchWhen: video -->
                <!-- ngSwitchWhen: audio -->
                <!-- ngSwitchWhen: picture --><div class="media-picture-container media-container media-button ng-scope" ng-switch-when="picture">
                    <span ng-click="deleteMedia(media.id)" class="media-delete">
                        Delete
                    </span>
                    <span ng-click="rotateMedia(media.picture.id)" class="media-rotate">
                        Rotate
                    </span>
                </div>
            </li>
        </ul>

        <!-- ngIf: saving -->
    </div>
    
    <div class="wizard-footer" next="bio" previous="basic-info" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" > Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><!-- ngIf: next --><button ng-if="next" ng-click="goNext()" class="bttn bttn-last blue full-width ng-scope ng-binding">Save &amp; Continue </button></div></div></div>
</div>
                            
                            <div class="ng-scope cls_basic_popup cls_bio" style="display: none;">
    <form class="form-bio ng-pristine ng-valid" name="bioForm" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Tell Your Story
            </h2>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" optional="" field="bioForm.bio" form-field=""><div ng-transclude="">
                    <label for="bio" class="ng-scope">Bio</label>
                    <textarea placeholder="Tell customers about yourself and what you love about your work. Authentic and meaningful information about who you are is important to establishing a relationship and building trust with a new customer." ng-maxlength="240" id="bio" name="bio" ng-model="service.bio" class="ng-scope ng-pristine ng-valid ng-valid-maxlength"></textarea>
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            </fieldset>
            <div class="examples body-text">
                <h4>Examples:</h4>
                <div class="dynamic-row">
                    <div class="column-6 example">
                        <p>
                            “I am a San Francisco-based portrait and product
                            photographer.  My career began in HS where I took photos of
                            student groups for the yearbook. Since then, I've been dedicated
                            to capturing the beauty and energy of people and their work.”
                        </p>
                    </div>
                    <div class="column-6 example">
                        <p>
                            “I became a personal trainer to help people transform their
                            lives and I want to see you accomplish more than you can on your
                            own.  It is difficult to find the time and motivation, so I will
                            push you to accomplish your goals.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wizard-footer" previous="media" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>
                            <div class="ng-scope cls_basic_popup cls_services" style="display: none;">
    <form class="form-services ng-pristine ng-valid ng-valid-required" name="servicesForm" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Describe the Services You Provide
            </h2>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" valid="servicesForm.description.$valid" form-field=""><div ng-transclude="">
                    <label for="description" class="ng-scope">Services</label>
                    <textarea placeholder="List the kinds of services you provide and explain why future clients should hire you." ng-minlength="100" required id="description" name="description" ng-model="service.description" class="ng-scope ng-pristine ng-valid ng-valid-required ng-valid-minlength">                    </textarea>
                    <span class="subtext-form ng-scope">(100 characters minimum)</span>
                    <span ng-show="!servicesForm.description.$valid" class="subtext-form subtext-form-invalid ng-scope" style="display: none;">
                        Required.
                    </span>
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            </fieldset>
            <div class="examples body-text">
                <h4>Example:</h4>
                <div class="example">
                    <p>
                        If you want fabulous, professional images that make you and yours
                        look your best &ndash; Jane's Photography is right for you.
                        Whether you need executive head-shots, personality photos,
                        model portfolio images, performance images, or family portraits,
                        we will work closely with you to find out exactly how you want
                        to be portrayed and produce the best possible results.
                        Plus, you'll have a good time doing it!
                        <br><br>
                        I am a photographer with a love for storytelling. My pricing is
                        reasonable and I can create custom packages to accommodate
                        your budget.
                        <br><br>
                        My clients include the Mayor of San Francisco, numerous members
                        of the city council, and many private clients including
                        the corporate photos for Cisco's corporate suite.
                    </p>
                </div>
            </div>
        </div>
        <div class="wizard-footer" previous="bio" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>
                            <div class="ng-scope cls_basic_popup cls_links" style="display: none;">
    <form class="form-links ng-pristine ng-valid" name="linksForm" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Manage Your Business Links
            </h2>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" field="linksForm.website" optional="true" form-field=""><div ng-transclude="">
                    <label for="website" class="ng-scope">Website</label>
                    <input type="text" placeholder="www.your-service.com" ng-model="service.website.display_url" id="website" name="website" class="ng-scope ng-pristine ng-valid">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --><span ng-if="field.$valid &amp;&amp; optional" class="subtext-form ng-scope">Optional</span></div>
            </fieldset>
                        <div class="body-text">
                <h4>Social Media Connections</h4>
                <p>
                    <a target="_blank" href="/profile/credentials">Manage your connections to
                        Twitter, LinkedIn, and Facebook</a> (opens in a new window)
                </p>
            </div>
        </div>
        <div class="wizard-footer" previous="services" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>
                            <div class="ng-scope cls_basic_popup cls_business_info" style="display: none;">
    <form class="form-business-info ng-pristine ng-valid" name="businessInfoForm" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Edit Your Business Info
            </h2>
            <fieldset>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" field="businessInfoForm.company" optional="true" form-field=""><div ng-transclude="">
                    <label for="company" class="ng-scope">Business name</label>
                    <input type="text" ng-model="service.business_name" placeholder="Leave blank if you don't represent a company" id="company" name="company" class="ng-scope ng-pristine ng-valid">
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --><span ng-if="field.$valid &amp;&amp; optional" class="subtext-form ng-scope">Optional</span></div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" form-field=""><div ng-transclude="">
                    <label class="ng-scope">Business logo</label>
                    <!-- ngIf: !!service.logo --><div ng-animate="'slide'" class="media-list-item ng-scope" ng-if="!!service.logo">
                        <div class="media-list-item-sidebar">&nbsp;</div>
                        <div class="media-picture-container media-container">
                            <img alt="Business logo" ng-src="https://static.thumbtack.com/pictures/8407/0wv9df16sbg5vb5_100_TALL.jpg" src="https://static.thumbtack.com/pictures/8407/0wv9df16sbg5vb5_100_TALL.jpg">
                        </div>
                        <span ng-show="!deletingLogo" ng-click="deleteLogo()" class="media-delete">
                            Delete logo
                        </span>
                        <span class="media-delete" ng-show="deletingLogo" style="display: none;">
                            Deleting...
                        </span>
                    </div>
                    <div target="/profile/services/euuJcYe2meE0ZQ/edit/add-logo?_json_expected" tt-picture-upload="" class="ng-scope"><form ng-show="formVisible" action="/profile/services/euuJcYe2meE0ZQ/edit/add-logo?_json_expected&amp;plaintext_json=1" target="frame_72286" enctype="multipart/form-data" method="post" class="ng-pristine ng-valid" style="display: none;"><fieldset><div class="form-field"><input type="file" accept="image/*" name="picture" data-input="file"><span data-subtext="" class="subtext-form"></span></div></fieldset></form><div ng-transclude="">
                        <div ng-show="!service.logo &amp;&amp; !uploading &amp;&amp; !uploadFormVisible" class="upload-logo ng-scope" style="display: none;">
                            <button class="bttn gray tiny" upload-trigger="">Upload your logo</button>
                        </div>
                        <div ng-show="uploading" class="logo-loading ng-scope" style="display: none;">&nbsp;</div>
                    </div></div>
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div class="dynamic-row">
                    <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-year-founded form-field" field="businessInfoForm.year_founded" optional="" form-field=""><div ng-transclude="">
                        <label for="year-founded" class="ng-scope">Year founded</label>
                        <input type="number" ng-pattern="/^\d{4}$/" ng-model="service.founding_year" id="year-founded" name="year_founded" class="ng-scope ng-pristine ng-valid ng-valid-number ng-valid-pattern">
                    </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                    <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field-employee-count form-field" field="businessInfoForm.employee_count" optional="" form-field=""><div ng-transclude="">
                        <label for="employee-count" class="ng-scope">Number of employees</label>
                        <input type="number" ng-pattern="/^\d{1,4}$/" ng-model="service.employee_count" id="employee-count" name="employee_count" class="ng-scope ng-pristine ng-valid ng-valid-number ng-valid-pattern">
                    </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                </div>
                <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" form-field=""><div ng-transclude="">
                    <label class="ng-scope">Travel preferences (check all that apply)</label>
                    <label class="block ng-scope">
                        <input type="checkbox" ng-model="service.travel_to_customer" value="true" name="travel_to_customer" class="ng-pristine ng-valid">
                        I travel to my customers
                    </label>
                    <label class="block ng-scope">
                        <input type="checkbox" ng-model="service.travel_to_provider" value="true" name="travel_to_provider" class="ng-pristine ng-valid">
                        My customers travel to me
                    </label>
                    <label class="block ng-scope">
                        <input type="checkbox" ng-model="service.travel_remote" value="true" name="travel_remote" class="ng-pristine ng-valid">
                        Neither (phone or internet only)
                    </label>
                </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                <div class="dynamic-row">
                    <div class="column-7">
                        <!-- ngIf: service.travel_to_customer --><div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field ng-scope" ng-if="service.travel_to_customer" form-field=""><div ng-transclude="">
                            <label for="service-travel-distance" class="ng-scope">
                                How far are you willing to travel?
                            </label>
                            <select name="service-travel-distance" id="service-travel-distance" ng-model="service.travel_dist" class="ng-scope ng-pristine ng-valid">
                                                                    <option value="0.25">1/4&nbsp;mile</option>
                                                                    <option value="0.5">1/2&nbsp;mile</option>
                                                                    <option value="0.75">3/4&nbsp;mile</option>
                                                                    <option value="1">1&nbsp;mile</option>
                                                                    <option value="1.5">1.5&nbsp;miles</option>
                                                                    <option value="2">2&nbsp;miles</option>
                                                                    <option value="3">3&nbsp;miles</option>
                                                                    <option value="4">4&nbsp;miles</option>
                                                                    <option value="5">5&nbsp;miles</option>
                                                                    <option value="6">6&nbsp;miles</option>
                                                                    <option value="7">7&nbsp;miles</option>
                                                                    <option value="8">8&nbsp;miles</option>
                                                                    <option value="9">9&nbsp;miles</option>
                                                                    <option value="10">10&nbsp;miles</option>
                                                                    <option value="15">15&nbsp;miles</option>
                                                                    <option value="20">20&nbsp;miles</option>
                                                                    <option value="25">25&nbsp;miles</option>
                                                                    <option value="30">30&nbsp;miles</option>
                                                                    <option value="35">35&nbsp;miles</option>
                                                                    <option value="40">40&nbsp;miles</option>
                                                                    <option value="45">45&nbsp;miles</option>
                                                                    <option value="50">50&nbsp;miles</option>
                                                                    <option value="55">55&nbsp;miles</option>
                                                                    <option value="60">60&nbsp;miles</option>
                                                                    <option value="65">65&nbsp;miles</option>
                                                                    <option value="70">70&nbsp;miles</option>
                                                                    <option value="75">75&nbsp;miles</option>
                                                                    <option value="80">80&nbsp;miles</option>
                                                                    <option value="85">85&nbsp;miles</option>
                                                                    <option value="90">90&nbsp;miles</option>
                                                                    <option value="95">95&nbsp;miles</option>
                                                                    <option value="100">100&nbsp;miles</option>
                                                                    <option value="150">150&nbsp;miles</option>
                                                            </select>
                        </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
                    </div>
                    <div class="column-5">
                                                <!-- ngIf: service.travel_to_customer --><img src="images/80.png" ng-if="service.travel_to_customer" class="service-map ng-scope">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="wizard-footer" previous="links" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>
                            <div class="form-credentials ng-scope cls_basic_popup cls_credentials"  style="display: none;">
    <div class="form-content">
        <h2 class="form-section-header">
            Manage Your Credentials
        </h2>
        <fieldset>
            <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" form-field=""><div ng-transclude="">
                <label class="ng-scope">Background check</label>
                <div ng-show="service.has_background_check" class="ng-scope" style="display: none;">
                    <p class="body-text">
                        <span class="icon-font-check"></span>
                        Your background check has been added to your profile.
                    </p>
                </div>
                <div ng-show="!service.has_background_check" class="ng-scope">
                    <a target="_blank" class="bttn gray tiny" href="/profile/product?product_id=3">
                        Purchase a background check
                    </a>
                    <div class="help-text body-text">
                        <p>
                            We recommend purchasing the independent background check from
                            Sterling for $7.00 to increase your credibility to new customers.
                            If you pass, we will display a background-checked badge on your
                            profile.
                        </p>
                    </div>
                </div>
            </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
            <div ng-class="{'invalid': field.$invalid &amp;&amp; !field.$pristine}" class="form-field" form-field=""><div ng-transclude="">
                <label class="ng-scope">License</label>
                <div ng-show="!user_license" class="ng-scope">
                    <a target="_blank" class="bttn gray tiny" href="/profile/credentials">
                        Manage your licenses
                    </a>
                    <p class="add-license">
                        <a target="_blank" href="/profile/services/euuJcYe2meE0ZQ/license">
                            Add your professional license
                        </a>
                    </p>
                    <div class="help-text body-text">
                        <p>
                            We check your license information against the state's licensing
                            body to ensure validity. If verified, we will display the
                            license on your profile.
                        </p>
                    </div>
                </div>
            </div><!-- ngIf: field.$error.required --><!-- ngIf: field.$error.minlength --><!-- ngIf: field.$error.maxlength --><!-- ngIf: field.$error.pattern --><!-- ngIf: field.$valid && optional --></div>
        </fieldset>
    </div>
    <div class="wizard-footer" next="q-and-a" previous="business-info" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><!-- ngIf: next --><button ng-if="next" ng-click="goNext()" class="bttn bttn-last blue full-width ng-scope ng-binding">Save &amp; Continue </button></div></div></div>
</div>
                            <div class="ng-scope cls_basic_popup cls_qa" style="display: none;">
    <form class="form-q-and-a ng-pristine ng-valid" name="qaForm" ng-submit="sync()">
        <div class="form-content">
            <h2 class="form-section-header">
                Questions and Answers
                <span class="num-questions-answered ng-binding">
                    0 questions
                    answered
                </span>
            </h2>
            <div class="explanation body-text">
                <p>
                    <strong>Answer some extra questions about your services</strong><br>
                    Clients treat your responses as a pre-interview. Professionals who
                    answer 8-10 questions and demonstrate expertise are much more
                    likely to be hired.
                </p>
            </div>
            <!-- ngRepeat: answer in service.service_question_answers -->
            <!-- ngRepeat: question in unanswered --><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-lBcMHBzenEspsw" class="ng-binding">
                            Why does your work stand out from others who do what you do?
                        </label>
                        <textarea ng-model="question.answer" id="answer-lBcMHBzenEspsw" name="answer[lBcMHBzenEspsw]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-M:HwIR8qa:MQww" class="ng-binding">
                            What do you like most about your job?
                        </label>
                        <textarea ng-model="question.answer" id="answer-M:HwIR8qa:MQww" name="answer[M:HwIR8qa:MQww]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-b7cSvw5Y7PhRlA" class="ng-binding">
                            What questions do customers most commonly ask you? What's your answer?
                        </label>
                        <textarea ng-model="question.answer" id="answer-b7cSvw5Y7PhRlA" name="answer[b7cSvw5Y7PhRlA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-iJlabHh2QF9ylg" class="ng-binding">
                            If you were a customer, what do you wish you knew about your trade? Any inside secrets to share?
                        </label>
                        <textarea ng-model="question.answer" id="answer-iJlabHh2QF9ylg" name="answer[iJlabHh2QF9ylg]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-IDKf$50wIn4h0Q" class="ng-binding">
                            Do you have a favorite story from your work?
                        </label>
                        <textarea ng-model="question.answer" id="answer-IDKf$50wIn4h0Q" name="answer[IDKf$50wIn4h0Q]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-Vin8kPc8QyC5KQ" class="ng-binding">
                            What do you wish customers knew about you or your profession?
                        </label>
                        <textarea ng-model="question.answer" id="answer-Vin8kPc8QyC5KQ" name="answer[Vin8kPc8QyC5KQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-aHbV4C2Mn$M$bA" class="ng-binding">
                            What advice do you have for a customer looking to hire a provider like you?

                        </label>
                        <textarea ng-model="question.answer" id="answer-aHbV4C2Mn$M$bA" name="answer[aHbV4C2Mn$M$bA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-4k2DePFNn5crpQ" class="ng-binding">
                            How did you decide to get in your line of work?
                        </label>
                        <textarea ng-model="question.answer" id="answer-4k2DePFNn5crpQ" name="answer[4k2DePFNn5crpQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-6nlpb86x4sELeQ" class="ng-binding">
                            Describe the most common types of jobs you do for your clients.
                        </label>
                        <textarea ng-model="question.answer" id="answer-6nlpb86x4sELeQ" name="answer[6nlpb86x4sELeQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-Rh9d8VjIA$GYsA" class="ng-binding">
                            Tell us about a recent job you did that you are particularly proud of.
                        </label>
                        <textarea ng-model="question.answer" id="answer-Rh9d8VjIA$GYsA" name="answer[Rh9d8VjIA$GYsA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-i$vdNpgbHpOx:A" class="ng-binding">
                            Do you do any sort of continuing education to stay up on the latest developments in your field?
                        </label>
                        <textarea ng-model="question.answer" id="answer-i$vdNpgbHpOx:A" name="answer[i$vdNpgbHpOx:A]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-1axLKc3DdQ6g5w" class="ng-binding">
                            What are the latest developments in your field? Are there any exciting things coming in the next few years or decade that will change your line of business?
                        </label>
                        <textarea ng-model="question.answer" id="answer-1axLKc3DdQ6g5w" name="answer[1axLKc3DdQ6g5w]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-Rfn88VIV27Tb3g" class="ng-binding">
                            Describe your most recent project, what it involved, how much it cost, and how long it took.
                        </label>
                        <textarea ng-model="question.answer" id="answer-Rfn88VIV27Tb3g" name="answer[Rfn88VIV27Tb3g]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-Q9sYIW2IZP5AkA" class="ng-binding">
                            If you have a complicated pricing system for your service, please give all the details here.
                        </label>
                        <textarea ng-model="question.answer" id="answer-Q9sYIW2IZP5AkA" name="answer[Q9sYIW2IZP5AkA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-8gKdZ6TAfGSwqQ" class="ng-binding">
                            If you were advising someone who wanted to get into your profession, what would you suggest?
                        </label>
                        <textarea ng-model="question.answer" id="answer-8gKdZ6TAfGSwqQ" name="answer[8gKdZ6TAfGSwqQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-856A3475nmblEA" class="ng-binding">
                            Write your own question and answer it.
                        </label>
                        <textarea ng-model="question.answer" id="answer-856A3475nmblEA" name="answer[856A3475nmblEA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-ULVybX82z8ZAGQ" class="ng-binding">
                            What important information should buyers have thought through before seeking you out?
                        </label>
                        <textarea ng-model="question.answer" id="answer-ULVybX82z8ZAGQ" name="answer[ULVybX82z8ZAGQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-WlXPp2v1Tx8xVA" class="ng-binding">
                            Write your own question and answer it.
                        </label>
                        <textarea ng-model="question.answer" id="answer-WlXPp2v1Tx8xVA" name="answer[WlXPp2v1Tx8xVA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-LmcQSLMUu18P2g" class="ng-binding">
                            Write your own question and answer it.
                        </label>
                        <textarea ng-model="question.answer" id="answer-LmcQSLMUu18P2g" name="answer[LmcQSLMUu18P2g]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-y4PdPr1d6XVzQA" class="ng-binding">
                            What questions should a consumer ask to hire the right service professional?
                        </label>
                        <textarea ng-model="question.answer" id="answer-y4PdPr1d6XVzQA" name="answer[y4PdPr1d6XVzQA]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-TSBwJNJSZlnI5g" class="ng-binding">
                            What is your greatest strength?
                        </label>
                        <textarea ng-model="question.answer" id="answer-TSBwJNJSZlnI5g" name="answer[TSBwJNJSZlnI5g]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-PiJD6s5:LyVIhQ" class="ng-binding">
                            What are you currently working on improving?
                        </label>
                        <textarea ng-model="question.answer" id="answer-PiJD6s5:LyVIhQ" name="answer[PiJD6s5:LyVIhQ]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset><fieldset ng-repeat="question in unanswered" class="ng-scope">
                <div class="pod">
                    <div class="pod-content">
                        <label for="answer-dKrPRqzkTeNtpg" class="ng-binding">
                            Describe three recent jobs you've completed.
                        </label>
                        <textarea ng-model="question.answer" id="answer-dKrPRqzkTeNtpg" name="answer[dKrPRqzkTeNtpg]" class="ng-pristine ng-valid"></textarea>
                        <span class="subtext-form">Optional</span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="wizard-footer" previous="credentials" saving="saving" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button prevent-default="click" ng-if="previous" class="bttn white full-width ng-scope" ng-click="goPrevious()"> Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><button ng-disabled="inProgress" class="bttn blue full-width ng-scope ng-binding" data-wizard-footer-button="" ng-if="!next" type="submit">Save &amp; Continue </button><!-- ngIf: next --></div></div></div>
    </form>
</div>
                            <div class="form-reviews ng-scope cls_basic_popup cls_reviews" style="display: none;">
    <div class="form-content">
        <h2 class="form-section-header">
            Get Reviews
        </h2>
        <div class="explanation body-text">
            <p ng-show="service.reviews.length != 0" style="display: none;">
                <strong class="ng-binding">
                    Your service has
                    0 reviews.
                </strong>
                <a target="_blank" href="/profile/reviews">Manage your reviews</a>
            </p>
            <p ng-show="service.reviews.length == 0">
                <strong>Your service doesn't have any reviews yet</strong>
                <br>
                A single review makes you twice as likely to be
                hired on Thumbtack!
            </p>
        </div>
        <p>
            Email past clients to visit the URL below and leave you a review
            (<a target="_blank" href="/reviews/services/euuJcYe2meE0ZQ/write">take a look</a>)
        </p>
        <fieldset>
            <div class="form-field form-field-review-link">
                <input type="text" value="https://tack.bz/2hwwG" readonly>
            </div>
        </fieldset>
        <ul class="link-distribution-tips">
            <li class="email"><strong>Email it</strong> to your past clients</li>
            <li class="twitter"><strong>Tweet it</strong> to your followers</li>
            <li class="facebook"><strong>Share it</strong> on Facebook</li>
        </ul>
    </div>
    <div class="wizard-footer" next="reset" previous="q-and-a" points="47" wizard-footer=""><div class="dynamic-row"><div class="back-button"><!-- ngIf: previous --><button class="bttn white full-width ng-scope" onClick="getNvigatePage('cls_basic_popup','cls_qa');" > Back</button><!-- ngIf: !previous --></div><div class="progress-points"><strong>Points earned</strong><div class="points-bg"><div ng-style="{width: Math.min(points, 100) + '%'}" class="points-bar" style="width: 47%;"><span class="ng-binding">47 points</span></div></div></div><div class="save-button"><!-- ngIf: !next --><!-- ngIf: next --><button ng-if="next" ng-click="goNext()" class="bttn bttn-last blue full-width ng-scope ng-binding">Save &amp; Finish </button></div></div></div>
</div>
                    </div></div>>



     <script>
	 var jqc = jQuery.noConflict();

    jqc(document).ready(function() {
      jqc("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 3,
		width:true,
		height:true,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
	
	function getNvigatePage(common_cls,target_cls){
		var parent_common_cls = "p_"+common_cls;
		var parent_target_cls = "p_"+target_cls;
/*console.log("common_cls "+common_cls);
console.log("target_cls "+target_cls);
console.log("parent_common_cls "+parent_common_cls);
console.log("parent_target_cls "+parent_target_cls);*/
		jqc('.'+parent_common_cls).removeClass('active');
		jqc('.'+parent_target_cls).addClass('active');
		
		jqc('.'+common_cls).hide();
		jqc('.'+target_cls).show();
		
	}
    </script>    
    
    
    <script>
jqc(document).ready(function(){
    jqc("#hide").click(function(){
        jqc(".curtain").hide();
    });
    jqc("#show").click(function(){
        jqc(".curtain").show();
    });
});
</script>    

<div id="feedback-tab"><a data-show-feedback="" href="#">Contact Us</a></div>
      </body>
      </html>