<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7 "><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 "><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 "><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"><!--<![endif]-->

<head>

<meta http-equiv="X-UA-Compatible" content="IE=9"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</script><script src="js/fbds.js" type="text/javascript"></script>
<script src="js/insight.js" type="text/javascript"></script>
<script src="js/conversion_async.js" type="text/javascript"></script>
<script src="js/quant.js" type="text/javascript"></script>
</script><script src="js/bat.js" type="text/javascript"></script>
<script src="js/tag.js" async=""></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<style type="text/css">.
.glorious-header1{
    background: none repeat scroll 0 0 #fff!important;
    border-bottom: 1px solid #e6e6e6!important;
}
</style>




<title>Dashboard</title>

<link rel="stylesheet" type="text/css" media="all" href="css/icons.css">
<link rel="stylesheet" type="text/css" media="all" href="css/consume.css">

<link rel="stylesheet" type="text/css" media="all" href="css/core.css">
<!--<link rel="stylesheet" type="text/css" media="all" href="css/style.css">-->
<link rel="stylesheet" type="text/css" media="all" href="css/zenbox.css">
<link rel="stylesheet" type="text/css" media="all" href="css/login.css">
<link rel="stylesheet" type="text/css" media="all" href="css/avenir-next.css">
<link rel="stylesheet" type="text/css" media="all" href="css/settings.css">
<link rel="stylesheet" type="text/css" media="all" href="css/message.css">
<link rel="stylesheet" type="text/css" media="all" href="css/profile.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

<link href="css/1.css" rel="stylesheet" type="text/css"></head>



<body class="primo primo-responsive primo-fluid service-profile box-shadow multiple-backgrounds">

              

<div data-section="header" class="glorious-header"><div class="wrapper"><div class="row header-row"><div class="header-logo"><a href="/"><img  alt="Thumbtack" src="images/Pintack_orange_152x29blue.png"></a></div><div class="header-middle-container"><a href="/profile/dashboard" class="middle-tab
                            ">
                                Projects
                            </a><a href="/home-improvement" class="middle-tab
                            ">
                                Explore
                            </a></div><div class="header-navigation  by-tabs-nav "><div class="universal-profile-container"><div data-section="universal-picture" class="universal-picture"><img src="https://static.thumbtack.com/media/primo/icons/user/100x100.png" class="no-border"><div style="display:none;" data-section="arrow-tip" class="arrow-tip"></div></div><p data-section="universal-name" class="universal-name"><span class="name">Sakshi Thakur</span><span class="icon-font-down-dir arrow-tip arrow-toggle"></span></p><div style="display:none;" data-section="profile-box" class="pod profile-box"><div class="pod-content"><a class="picture-big-link" href="/profile/information"><img src="https://static.thumbtack.com/media/primo/icons/user/100x100.png" class="picture-big"></a><h3 class="name">
                                            Sakshi Thakur
                                        </h3><span class="email">sakshi@sphinx-solution.com</span><span class="project-count">
                                                2
                                                projects
                                            </span></div><div class="pod-footer"><a href="/profile/settings">
                                            Settings
                                        </a><a href="/logout">
                                            Logout
                                        </a></div></div></div></div></div></div></div>
                                        
<div ng-show="service" style="" ng-controller="ViewController" class="profile-content ng-scope">
    <div class="profile-header">

        
        <div ng-class="{'editable': wizard.editable}" class="profile-basics">
            <div class="profile-picture-container">
                <div ng-transclude="" ng-click="processClick()" wizard-target="profile-picture" wizard-editable-section="wizard.editable" class="profile-picture">
                    <img ng-alt="Emily Smith" ng-src="https://static.thumbtack.com/pictures/6581/i4nhzaw462k2ko38_140.jpg" class="ng-scope" src="https://static.thumbtack.com/pictures/6581/i4nhzaw462k2ko38_140.jpg">
                                    </div>
                <div ng-transclude="" ng-click="processClick()" wizard-target="basic-info" wizard-editable-section="wizard.editable" class="profile-basic-details">
                    <div class="profile-identity ng-scope">
                        <h1 ng-bind="getDisplayName()" class="profile-title ng-binding">Picture Perfect Cleaning Service</h1>
                        <!-- ngIf: service.business_name --><div ng-bind="service.user.display_name" ng-if="service.business_name" class="profile-business-relationship ng-scope ng-binding">Emily Smith</div>
                    </div>
                    <!-- ngIf: service.slogan --><span ng-if="service.slogan" class="profile-tagline ng-scope">
                        “<span ng-bind="service.slogan" class="ng-binding">A clean home is a happy home</span>”
                    </span>
                    <ul class="profile-attributes ng-scope">
                        <li ng-bind="service.city_state" class="location ng-binding">Somerset, NJ</li>
                        <!-- ngIf: service.phone_number --><li ng-bind="service.phone_number.text" ng-if="service.phone_number" class="phone ng-scope ng-binding">(800) 841-8047</li>
                    </ul>
                </div>
            </div>
                            <div ng-controller="ReviewsLinkController" ng-show="!wizard.editable" class="profile-header-reviews ng-scope">
                    <button ng-click="scroll()" class="tiny bttn white">
                        <span class="service-rating service-rating-large">
                            <span class="star-rating star-rating-large
                                stars-4"></span>
                        </span>
                        <span when="{'one': '1 review', 'other': '{}&nbsp;reviews'}" count="service.reviews.length" class="service-rating-review-count" ng-pluralize="">7&nbsp;reviews</span>
                    </button>
                </div>
            
                    </div>
    </div>
    
    

    <!-- ngIf: service.profile_media.length --><div ng-transclude="" ng-if="service.profile_media.length" items="service.profile_media" stampede="" class="profile-media ng-scope">
        <div data-stampede-carousel="" class="stampede-carousel ng-scope" style="height: 412px;">

           <div id="owl-demo" class="owl-carousel">
                <div class="item"><img src="https://static.thumbtack.com/pictures/6581/3mw8vp613gturgd.jpg" alt="Owl Image"></div>
                <div class="item"><img src="https://static.thumbtack.com/pictures/6581/rnniwj6zh50u3qmf_580x380.jpg" alt="Owl Image"></div>
                <div class="item"><img src="https://static.thumbtack.com/pictures/6581/w7628bxpqjk8jg_large.jpg" alt="Owl Image"></div>
                 <div class="item"><img src="https://static.thumbtack.com/pictures/6581/3mw8vp613gturgd.jpg" alt="Owl Image"></div>

               
              </div>
              
          
        </div>
        <div data-stampede-left-arrow="" class="media-navigation media-navigation-left ng-scope"></div>
        <div data-stampede-right-arrow="" class="media-navigation media-navigation-right ng-scope"></div>
            </div>

    
    <div class="full-block service-info-block">
        <div class="service-info-page-section">
            <div class="service-info-container">
                <div class="service-info">
                    <!-- ngIf: service.bio || wizard.editable --><div ng-transclude="" ng-click="processClick()" wizard-target="bio" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" ng-if="service.bio || wizard.editable" class="service-bio-section ng-scope">

                        <h3 class="section-header ng-scope">Bio</h3>
                        <!-- ngIf: service.bio --><p ng-bind-html-unsafe="service.bio | sanitize | nl2br" ng-if="service.bio" class="service-bio body-text ng-scope ng-binding">Picture Perfect Cleaning Service we  love to make our customers happy. No mess no stress we know we can save you time and a headache. No job is too big or too small. So don't tell us how big your mess is, tell your mess how big we are.</p>
                        <!-- ngIf: !service.bio -->
                                            </div>
                    <div ng-transclude="" ng-click="processClick()" wizard-target="services" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}">
                        <h3 class="section-header ng-scope">Services</h3>
                        <!-- ngIf: service.description --><p ng-if="service.description" ng-bind-html-unsafe="service.description | sanitize | nl2br" class="service-description body-text ng-scope ng-binding">With our residential cleaning system we offer two packages. Our deep clean is set to insure we cover every square inch of your home at a price we all can afford. Or if you just need a couple things touched up and don't have the time we can make a special cleaning routine for you.<br><br>We also offer commerical cleaning and janitorial service for your business, we know its hard enough to manage your business so let us take one more headache away from you. Our business is <br>to make your business look good. <br><br>Other services <br>  Organizing <br>  Window cleaning<br>  Stripping and waxing floors <br><br>And a list of other things just give us a call you wont be disappointed<br>-Licensed and Insured<br>-Supplies included (Residential Only)<br>-Satisfaction Guarantee</p>
                        <!-- ngIf: !service.description -->
                                            </div>
                    <div ng-transclude="" ng-click="processClick()" wizard-target="links" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="service-external-links">

                                                                            <a class="offsite-link offsite-link-facebook ng-scope" title="Facebook" target="_blank" href="/websites/services/8x6nwzG2pvBYGQ/facebook/redirect">
                                Facebook
                                                                    <span class="offsite-link-metric">
                                        87
                                        likes
                                    </span>
                                                            </a>
                        
                        
                        
                        
                        <!-- ngIf: service.website --><a ng-if="service.website" class="offsite-link offsite-link-website ng-scope ng-binding" title="pictureperfectcleaningservice.com" target="_blank" href="/websites/ijqbzIaelJcMrQ/redirect">
                             pictureperfectcleaningservice.com
                            <span class="offsite-link-metric">website</span>
                        </a>

                        
                                            </div>
                </div>
                <div ng-controller="ServiceMetadataController" class="service-sidebar ng-scope">
                    <div ng-transclude="" ng-click="processClick()" wizard-target="business-info" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}">
                        <h3 class="section-header ng-scope">About</h3>
                        <!-- ngIf: service.logo -->
                        <h3 ng-bind="service.business_name" class="business-name ng-scope ng-binding">Picture Perfect Cleaning Service</h3>
                        <!-- ngIf: yearsInBusiness() && yearsInBusiness() > 0 --><p when="{'one': '1 year in business', 'other': '{} years in business'}" count="yearsInBusiness()" ng-if="yearsInBusiness() &amp;&amp; yearsInBusiness() &gt; 0" class="years-in-business ng-scope" ng-pluralize="">5 years in business</p>
                        <p when="{'one': '1 employee', 'other': '{} employees'}" ng-show="service.employee_count" count="service.employee_count" class="employee-count ng-scope" ng-pluralize="">30 employees</p>
                        <!-- ngIf: service.travel_dist --><p ng-if="service.travel_dist" class="service-travels ng-scope">Travels up to
                            <span ng-bind="service.travel_dist" class="ng-binding">30</span> miles
                        </p>
                        <!-- ngIf: service.travel_to_customer || service.travel_to_provider --><img src="images/80.png" ng-if="service.travel_to_customer || service.travel_to_provider" class="service-map ng-scope">
                                            </div>
                                                                <div ng-transclude="" ng-click="processClick()" wizard-target="credentials" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="credentials">
                            <h3 class="section-header ng-scope">Credentials</h3>

                                                                                        <div class="credential ng-scope">
                                    <p>
                                        <span>
                                            <i class="jobs-completed"></i>
                                        </span>
                                        hired 8 times
                                    </p>
                                </div>
                            
                            
                                                                                                                    <div class="credential ng-scope">
                                    <p>
                                        <span class="gold">
                                            <i></i>
                                        </span>
                                        Gold
                                        profile
                                    </p>
                                </div>
                            
                            
                                                    </div>
                                    </div>
            </div>
        </div>
    </div>

    <!-- ngIf: service.service_question_answers.length --><div ng-if="service.service_question_answers.length" class="full-block service-questions-container ng-scope">
        <div ng-transclude="" ng-click="processClick()" wizard-target="q-and-a" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" trigger="[data-expando-trigger]" expanded-class="service-questions-revealed" expando="" class="service-questions" style="">
            <h3 class="section-header ng-scope"><span>Questions &amp; Answers</span></h3>
            <div ng-show="service.service_question_answers.length" class="ng-scope">
                <div sq-watch="service.service_question_answers" sq-column-class="service-question-column" service-questions=""><div class="service-question-column"><div class="service-question-answer ng-scope"><h3 class="ng-binding">Why does your work stand out from others who do what you do?</h3><p class="ng-binding">Our business is dedicated to healthy working and living environments. We concern more with comfortable living than a quick once over. Maintaining business is important, maintaining family is important, maintaining home is important.</p></div></div><div class="service-question-column"><div class="service-question-answer ng-scope"><h3 class="ng-binding">What do you like most about your job?</h3><p class="ng-binding">Seeing the home owners expression when they see themselves in the polished silver in their kitchen. Changing the way people feel about their homes and offices.</p></div><div class="service-question-answer ng-scope"><h3 class="ng-binding">Describe the most common types of jobs you do for your clients.</h3><p class="ng-binding">Most of our jobs are recurring residential cleaning.</p></div></div><div class="service-question-column"><div class="service-question-answer ng-scope"><h3 class="ng-binding">What questions do customers most commonly ask you? What's your answer?</h3><p class="ng-binding">Most customers want to know how much time our services take.

I always tell them it depends on the type of cleaning you want done and the size of the area.</p></div><div class="service-question-answer ng-scope"><h3 class="ng-binding">If you have a complicated pricing system for your service, please give all the details here.</h3><p class="ng-binding">Our pricing is pretty basic 
$50 per hour for a 2 person crew for a custom cleaning

$65 per hour for a 2 person crew for a deep cleaning.     

We offer other services for additional prices jus contact us and we'll be glad to answer any questions you may have</p></div></div></div>
                <div class="service-question-reveal">
                    <span inverse="Read Less" data-expando-trigger="" class="bttn tiny white">
                        Read More
                    </span>
                </div>
            </div>
                    </div>
    </div>

    
    <div class="full-block reviews-block" id="reviews">
        <div ng-transclude="" ng-click="processClick()" wizard-target="reviews" wizard-editable-section="wizard.editable" ng-class="{'editable': wizardEditableSection}" class="reviews-container">
            <h3 class="section-header ng-scope">Reviews</h3>

                                                    <ul class="review-list ng-scope">
        
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-25" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 25, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">Darrell, <br>
Thank you all for you help. You went above and beyond to get us ready for the sale...</p>
        
        <p><span class="reviewer" itemprop="author">Gail P.</span></p>

            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-25" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 25, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">They do a wonderful job. The people who came home to clean were very friendly and did a thorough work. They asked me to take a look around to see if I needed them to work on any specific area and were very open when I said I wanted a certain spot cleaned again. Overall I am extremely satisfied and would certainly recommend them. I am definitely using them again.</p>
        
        <p><span class="reviewer" itemprop="author">Priya S.</span></p>

                    <div class="review-response">
                <div class="review-response-header">
                    <span class="review-response-identity">
                                                    Emily S.
                                                            from Picture Perfect Cleaning Service
                                                                            replied to this review
                    </span>
                    <span class="review-response-date">
                        on
                        April 25, 2015:
                    </span>
                </div>

                <p class="review-response-text">Thank you Priya for allowing us to serve you we  are really looking foward to working with you again</p>
            </div>
            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-20" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 20, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">Picture perfect cleaning service did a fantastic  job i needed my home cleaned on short notice and they came through they were on time the crew was very perfessional  i love how detail oriented  they where when it came to my home they truely live up to there name thanks picture perfect see you next week</p>
        
        <p><span class="reviewer" itemprop="author">Mahesh M.</span></p>

            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small one">1/5 stars</span>
                        <meta content="1" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-18" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 18, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">I suggest no one about picture cleaning.they did an awful job. My bathroom was still dirty inspite of asking them to clean properly thrice.in the end i just had to give up.i could have cleaned it better.please don't waste money on this</p>
        
        <p><span class="reviewer" itemprop="author">Lakshmi G.</span></p>

                    <div class="review-response">
                <div class="review-response-header">
                    <span class="review-response-identity">
                                                    Emily S.
                                                            from Picture Perfect Cleaning Service
                                                                            replied to this review
                    </span>
                    <span class="review-response-date">
                        on
                        April 18, 2015:
                    </span>
                </div>

                <p class="review-response-text">Thank you for your feedback lakshmi im sorry you were not satisfied with our service. You seemed very pleased when we performed  our final walk through.There was a little confusion on work to be performed  and i expressed to you several times certain marks on the grout between the tiles were moldy and you have to call a perfesional who deals with mold again i am deeply sorry you and your husband was not satisfied</p>
            </div>
            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-07" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 7, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">Picture Perfect Cleaning were very punctual. I didn't have to pay for supplies, the price of the service was very reasonable. They walk through the house with me to make sure all of my needs were met. I would recommend this company to anyone looking for a good cleaning. My last 2 cleaning services were lousy they lack the detail that I was looking for. Picture Perfect made me feel comfortable.</p>
        
        <p><span class="reviewer" itemprop="author">Dewayne E.</span></p>

            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-04-07" itemprop="datePublished">
            
            <span class="review-date-wrap">
                April 7, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">This service was outstanding. There was so much that needed to be done to my house and they did it. Very happy what I picked this cleaning service.</p>
        
        <p><span class="reviewer" itemprop="author">Danielle J.</span></p>

            </li>


                    
                        
    <li itemtype="http://schema.org/Review" itemscope="" itemprop="review">
        <p class="review-rating-wrap">
                                                <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating">
                        <span class="score small five">5/5 stars</span>
                        <meta content="5" itemprop="ratingValue">
                    </span>
                            
                            <meta content="2015-03-19" itemprop="datePublished">
            
            <span class="review-date-wrap">
                March 19, 2015
            </span>
        </p>

        <img width="50" height="50" class="review-thumb" src="https://static.thumbtack.com/media/primo/icons/user/50x50.png">

                    <p class="review-body" itemprop="reviewBody">I was very pleased with the service. It was done in a fast but efficient manner. I recommend his services to everyone.</p>
        
        <p><span class="reviewer" itemprop="author">Jacqueline M.</span></p>

            </li>


                    </ul>
            
            
                            <a class="bttn tiny white leave-review ng-scope" href="/reviews/bids/5qthmgfm/write">
                    Leave a Review
                </a>
            
                    </div>
    </div>

            <div class="full-block recent-work-block">
            <div class="recent-work-container">
                <h3 class="section-header">Recent Work</h3>
                <ul>
                                            <li>
                            <h4>House Cleaning (Recurring)</h4>
                            <p>
                                April 23, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (Recurring)</h4>
                            <p>
                                April 22, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (One Time)</h4>
                            <p>
                                April 21, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (Recurring)</h4>
                            <p>
                                April 20, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (One Time)</h4>
                            <p>
                                April 17, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (One Time)</h4>
                            <p>
                                April 17, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (Recurring)</h4>
                            <p>
                                April 6, 2015
                            </p>
                        </li>
                                            <li>
                            <h4>House Cleaning (One Time)</h4>
                            <p>
                                April 7, 2015
                            </p>
                        </li>
                                    </ul>
            </div>
        </div>
        <div class="wrapper footer footer-wrapper"><div class="footer-copyright"><p class="copyright">
            &copy; 2015 Picktack, Inc. All Rights Reserved •
            <a target="_blank" href="#">Privacy Policy</a> •
            <a target="_blank" href="#">Terms of Use</a></p></div></div>
    
    </div>



     <script>
	 var jqc = jQuery.noConflict();

    jqc(document).ready(function() {
      jqc("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 3,
		width:true,
		height:true,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
    </script>        

<div id="feedback-tab"><a data-show-feedback="" href="#">Contact Us</a></div>
      </body>
      </html>