@font-face{font-family:'Primo Icons';src:url("../font/primo-9b.eot");src:url("../font/primo-9b.eot?#iefix") format('embedded-opentype'),url("../font/primo-9b.woff") format('woff'),url("../font/primo-9b.ttf") format('truetype'),url("../font/primo-9b.svg#icon-font") format('svg');font-weight:normal;font-style:normal}

