.row{
	display:block;
	width:970px;
	margin:0 -5px;
	*zoom:1
}

.row:before,.row:after{
	content:"";
	display:table
}

.row:after{
	clear:both
}

.dynamic-row{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	*zoom:1
}

.dynamic-row:before,.dynamic-row:after{
	content:"";
	display:table
}

.dynamic-row:after{
	clear:both
}

.dynamic-row>[class*="column"]:first-child{
	margin-left:0
}

@charset "UTF-8";
pre{
	padding:20px;
	margin:5px 0;
	background:#f9f9f9;
	border:solid 1px #d2d2d2
}

.text{
	color:#666;
	font-size:16.8px;
	line-height:29.4px;
	font-weight:300
}

.title{
	padding:30px 0;
	font-size:35px;
	font-weight:500
}

h4{
	color:#666;
	font-size:16.8px;
	line-height:29.4px;
	font-weight:300;
	color:#434343;
	font-weight:600
}

.tack-stamp{
	margin:80px auto 0;
	width:39px;
	height:39px;
	background:url(/media/primo/static/icon-tack-stamp.jpg) no-repeat
}

.tack-stamp.inline{
	display:inline-block;
	margin-top:0;
	vertical-align:text-bottom;
	margin-left:10px
}

ol.numbered-list{
	list-style-type:decimal;
	margin-left:30px
}

.bullet-point-section li{
	margin-left:15px;
	padding-left:10px;
	color:#008ee2;
	list-style-type:disc;
	list-style-position:outside
}

.bullet-point-section li p{
	padding-bottom:15px;
	color:#666;
	font-size:14px;
	line-height:22.4px;
	font-weight:400
}

.safety-hero{
	height:450px;
	background:#000 url('../images/hero.jpg') center center no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	height:auto
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.safety-hero{
		height:auto
	}

}

.safety-hero .wrapper h1{
	padding-top:120px;
	color:#fff;
	font-size:49.994px;
	line-height:59.99px;
	letter-spacing:-0.015em;
	font-weight:400;
	text-shadow:none
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.safety-hero .wrapper h1{
		padding-top:20px
	}

}

.safety-hero .wrapper .text{
	margin-top:20px;
	color:#fff
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.safety-hero .wrapper .text{
		width:auto;
		padding-bottom:20px
	}

}

.safety-hero .wrapper h1{
	font-size:72.996px;
	line-height:72.996px;
	letter-spacing:-0.015em;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	padding:160px 40px
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.safety-hero .wrapper h1{
		font-size:38.99px;
		line-height:49.994px;
		letter-spacing:-0.01em;
		font-weight:400;
		padding:80px 20px
	}

}

.wrapper.content.safety-content{
	margin-top:0
}

.wrapper.content.safety-content h2{
	padding:120px 0 0 0;
	text-align:center;
	font-size:49.994px;
	line-height:59.99px;
	letter-spacing:-0.015em;
	font-weight:400
}

.wrapper.content.safety-content h2:after{
	display:block;
	content:"";
	width:150px;
	margin:20px auto;
	border-top:2px solid #008ee2
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.wrapper.content.safety-content h2{
		padding-top:80px;
		font-size:31.99px;
		line-height:38.99px;
		letter-spacing:-0.01em;
		font-weight:400
	}

}

.wrapper.content.safety-content p{
	font-size:16.8px;
	line-height:25.2px;
	text-align:center;
	padding:0 160px;
	color:#8e8e8e
}

@media (max-width:768px){
	.wrapper.content.safety-content p{
		padding:0 80px
	}

}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.wrapper.content.safety-content p{
		padding:0 20px 40px
	}

}

.wrapper.content.safety-content .hiring-tips{
	margin-top:60px
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.wrapper.content.safety-content .hiring-tips{
		margin-top:0
	}

}

.wrapper.content.safety-content .hiring-tips .col{
	display:inline;
	float:left;
	width:24.64088398%;
	margin:0 0 0 2.76243094%;
	min-height:1px;
	margin-left:4.47513812%
}

.ie7 .wrapper.content.safety-content .hiring-tips .col{
	width:24.54088398%
}

.wrapper.content.safety-content .hiring-tips .col:first-child{
	margin-left:8.56353591%
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.wrapper.content.safety-content .hiring-tips .col:first-child{
		margin:0 0 40px
	}

}

.wrapper.content.safety-content .hiring-tips .col .counter{
	background:#d2d2d2;
	display:block;
	width:65px;
	height:65px;
	border-radius:65px;
	color:#fff;
	margin:0 auto;
	margin-bottom:20px;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:35px;
	line-height:42.994px;
	letter-spacing:-0.01em;
	font-weight:400;
	line-height:65px
}

.wrapper.content.safety-content .hiring-tips .col h3{
	font-size:21.994px;
	line-height:29.988px;
	letter-spacing:-0.01em;
	font-weight:400;
	text-align:center;
	margin-bottom:5px
}

.wrapper.content.safety-content .hiring-tips .col p{
	padding:0
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.wrapper.content.safety-content .hiring-tips .col{
		width:100%;
		margin:0 0 40px;
		float:none;
		display:block
	}

}

.hiring-tips-wrapper{
	background-color:#f9f9f9;
	padding-bottom:0px
}

@media screen and (max-width: 34.285714285714285em),handheld and (max-device-width: 34.285714285714285em){
	.hiring-tips-wrapper{
		padding-bottom:80px
	}

}

.wrapper.content.safety-content .hiring-tips .col1{
	display:inline;
	margin-bottom:10px;
	text-align:center!important;
	
	float:left;
	width:90%;
	margin:0 0 0 2.76243094%;
	min-height:1px;
	margin-left:4.47513812%
}

.wrapper.content.safety-content .hiring-tips .col2{
	display:inline;
	margin-bottom:10px;
	text-align:center!important;
	
	float:left;
	width:45%;
	margin:0 0 0 2.76243094%;
	min-height:1px;
	margin-left:4.47513812%
}

.wrapper.content.safety-content .hiring-tips .col1 p {
    color: #8e8e8e;
    font-size: 16.8px;
    line-height: 25.2px;
    padding: 0 5px;
    text-align:center!important;
}

.wrapper.content.safety-content .hiring-tips .col2 p {
    color: #8e8e8e;
    font-size: 16.8px;
    line-height: 25.2px;
    padding: 0 5px;
    text-align:center!important;
}
